Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

fix: MD030 auto-fix now applies custom spacing config
  src/rules/md030_list_marker_space.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Update .gitignore to exclude .cursor/ and .idea/ directories
  .gitignore
Due: none

Add Discord server link to issue templates
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Fix capitalization and punctuation in issue template configuration
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Simplify badge layout and update usage examples with `uvx` commands.
  README.md
Due: rumdl

Update `README.md` to simplify `uvx run` command usage
  README.md
Due: rumdl

ISSUE_TEMPLATE : Add Discord server link to contact_links in `.github/ISSUE_TEMPLATE/config.yml` (#321)
  .github/ISSUE_TEMPLATE/config.yml
  .gitignore
Due: none

feat(MD060): add column-align option for table cell text alignment
  .rumdl.toml
  docs/md060.md
  src/rules/md060_table_format/md060_config.rs
  src/rules/md060_table_format/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): enable RUST_LOG for config discovery debugging
  README.md
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(fix): apply per-file-ignores and inline config filtering to re-lint
  src/file_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(docs): update build badge to track ci.yml workflow
  README.md
Due: rumdl

docs: add Zensical documentation site
  .github/workflows/docs.yml
  .gitignore
  docs/.rumdl.toml
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/usage/ci-cd.md
  docs/usage/cli.md
  docs/usage/editors.md
  docs/usage/pre-commit.md
  zensical.toml
Due: actionlint, rumdl

docs: add GitHub Sponsors integration
  .github/FUNDING.yml
  README.md
Due: rumdl

fix(embedded): respect per-file-ignores and inline config for embedded markdown
  src/file_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to 0.0.223
  .rumdl.toml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/.rumdl.toml
Due: cargo-lock-check, rumdl, cargo-lock-check-push

Simplify `README.md` examples by removing `uvx` prefix from commands
  README.md
Due: rumdl

Clean up badge layout in `README.md` for better readability.
  README.md
Due: rumdl

README: Update usage examples with `uvx` commands. (#322)
  README.md
Due: rumdl

README.md: Update documentation links to point to new rumdl.dev URLs
  README.md
Due: rumdl

feat(action): add fail-on-error and output-file inputs
  .github/workflows/test-action.yml
  action.yml
  scripts/rumdl-action.sh
Due: actionlint

feat(lsp): add source.fixAll.rumdl code action for fix-on-save
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to 0.0.224
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

docs(readme): update SchemaStore section to reflect current status
  README.md
Due: rumdl

docs(readme): add Used By section with notable projects
  README.md
  scripts/update-used-by.py
  scripts/verify-release-ready.sh
Due: rumdl

feat(cli): add fmt --check flag for CI usage
  src/file_processor.rs
  src/main.rs
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Add completions subcommand to generate shell completions
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md050): use correct byte range for fix replacement
  src/rules/md050_strong_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(formatter): add idempotency and property-based tests
  tests/rules/formatter_idempotency_test.rs
  tests/rules/formatter_proptest.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md032): ensure single-pass idempotency for list blank lines
  proptest-regressions/rules/formatter_proptest.txt
  src/lint_context.rs
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(fuzz): add fix idempotency fuzzer
  Makefile
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_fix_idempotency.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to 0.1.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): require space after period for numbered list detection
  src/rules/md013_line_length/helpers.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): improve reflow handling for config and MkDocs syntax
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
  src/utils/mkdocs_attr_list.rs
  tests/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(proptest): add formatter regression test case
  proptest-regressions/rules/formatter_proptest.txt
Due: none

fix(md013): handle email autolinks and fix html_tag extraction
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md013): add regression tests for issues #335-#339
  tests/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(md013): improve implementation quality for issues #335 and #338
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/mod.rs
  tests/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(utils): add shared blockquote utilities for indent calculation
  src/utils/blockquote.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(md032): use shared blockquote utility for indent calculation
  src/rules/md032_blanks_around_lists.rs
  tests/md032_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
