Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

docs(flavors): update documentation for new flavor features
  docs/flavors.md
Due: rumdl

docs(flavors): split into separate files per flavor
  docs/flavors.md
  docs/flavors/gfm.md
  docs/flavors/mdx.md
  docs/flavors/mkdocs.md
  docs/flavors/quarto.md
  docs/flavors/standard.md
Due: rumdl

chore(release): bump version to 0.0.219
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs(flavors): clarify CommonMark 0.31.2 spec version and flavor details
  docs/flavors.md
  docs/flavors/standard.md
Due: rumdl

feat(cli): add RUMDL_OUTPUT_FORMAT env var for CI/CD output format override
  docs/global-settings.md
  src/main.rs
  src/stdin_processor.rs
  src/watch.rs
  tests/output_format_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to 0.0.220
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

fix(MD050): skip math blocks to avoid false positives in Quarto
  CHANGELOG.md
  README.md
  src/rules/md050_strong_style.rs
  tests/quarto_comprehensive_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(reflow): recognize sentence boundaries with quotation marks
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(fix): format markdown inside fenced code blocks
  src/file_processor.rs
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(check): lint embedded markdown in fenced code blocks
  src/file_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD058,MD065): recognize blockquote continuation lines as blank
  src/rules/md058_blanks_around_tables.rs
  src/rules/md065_blanks_around_horizontal_rules.rs
  src/utils/regex_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint_context): expose inline config for rule disable checks
  src/lint_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD069): respect inline disable comments in fix mode
  src/rules/md069_no_duplicate_list_markers.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD060): improve alignment detection for CJK and delimiter styles
  src/rules/md060_table_format/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(table_utils): add blockquote prefix extraction for tables
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD055,MD056): handle tables inside blockquotes in fix mode
  src/rules/md055_table_pipe_style.rs
  src/rules/md056_table_column_count.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(utils): extract sentence detection into shared module
  src/utils/mod.rs
  src/utils/sentence_utils.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD064): remove max-consecutive-spaces, use shared sentence detection
  docs/md064.md
  src/rules/md064_no_multiple_consecutive_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to 0.0.221
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/md064.md
  src/rules/md055_table_pipe_style.rs
  src/rules/md056_table_column_count.rs
  src/rules/md060_table_format/mod.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(github): add issue templates for bugs and feature requests
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix(MD018): flag all malformed headings at line start
  src/rules/md018_no_missing_space_atx.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(github): add search prompt to issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore(github): enable blank issues
  .github/ISSUE_TEMPLATE/config.yml
Due: none

fix(cli): prevent duplicate config and use canonical rule list
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(schema): include all flavor aliases in rumdl.schema.json
  rumdl.schema.json
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): support tables inside list items
  src/rules/md055_table_pipe_style.rs
  src/rules/md056_table_column_count.rs
  src/rules/md060_table_format/mod.rs
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(lint): cache per-file globsets and speed hot rules
  src/config.rs
  src/rules/md005_list_indent.rs
  src/rules/md009_trailing_spaces.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/md046_code_block_style.rs
  src/rules/md055_table_pipe_style.rs
  src/rules/md056_table_column_count.rs
  src/rules/md060_table_format/mod.rs
  src/utils/range_utils.rs
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD009): correct 1-indexed column in ASCII path
  src/rules/md009_trailing_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(lint): optimize code detection and cache hash computation
  src/file_processor.rs
  src/fix_coordinator.rs
  src/inline_config.rs
  src/lint_context.rs
  src/rules/md044_proper_names.rs
  src/rules/md055_table_pipe_style.rs
  src/utils/code_block_utils.rs
  src/watch.rs
  tests/config_application_tests.rs
  tests/unfixable_rules_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD018): skip YAML comments inside frontmatter
  src/file_processor.rs
  src/lint_context.rs
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md044_proper_names.rs
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD018): skip indented patterns to match markdownlint behavior
  src/rules/md018_no_missing_space_atx.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD018): skip content inside HTML comments
  src/rules/md018_no_missing_space_atx.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(table): validate delimiter indentation for list-table detection
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(RULES.md): Fix MD051 location in tables
  docs/RULES.md
Due: rumdl

chore(release): bump version to 0.0.222
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

docs: update pre-commit version to v0.0.222
  README.md
Due: rumdl

docs: update mise version to 0.0.222
  README.md
Due: rumdl

fix(test): rename timing test to be excluded from CI
  tests/lsp_editor_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(readme): add Flavors section and improve discoverability
  README.md
Due: rumdl

fix: MD030 auto-fix now applies custom spacing config
  src/rules/md030_list_marker_space.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
