Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

chore(release): bump version to 0.0.199
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(cli): add --no-defaults flag to config command
  src/formatter.rs
  src/main.rs
  tests/config_file_command_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md054): avoid false positives for task lists and HTML tags
  src/rules/md054_link_image_style.rs
  tests/rules/md054_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md007): handle indent=1 edge case and cache mixed list detection
  src/lint_context.rs
  src/rules/md007_ul_indent.rs
  tests/rules/md007_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md051): support extension-less cross-file links and strip HTML from anchors
  src/rules/md051_link_fragments.rs
  tests/rules/md051_comprehensive_test.rs
  tests/rules/md051_edge_cases_test.rs
  tests/rules/md051_regression_prevention_test.rs
  tests/rules/md051_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): bump version to 0.0.200 and update changelog
  .pre-commit-config.yaml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

refactor(tests): remove issue-named test files and fix minor issues
  docs/inline-configuration.md
  docs/md031.md
  src/lsp/server.rs
  src/utils/range_utils.rs
  tests/cli_integration_tests.rs
  tests/config_tests.rs
  tests/issue197_exit_code_fix_test.rs
  tests/issue209_fix_convergence_test.rs
  tests/lib.rs
  tests/rules/md022_test.rs
  tests/utf8_boundary_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(pre-commit): add gitleaks and improve shell scripts
  .pre-commit-config.yaml
  scripts/prepare-release.sh
Due: none

fix(md063): respect lowercase-words when heading ends with code or link
  src/rules/md063_heading_capitalization/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md057): skip email addresses and absolute web paths
  docs/md057.md
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(file_processor): canonicalize file paths to prevent duplicate warnings
  src/file_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(sarif): map severity field to SARIF result levels
  src/output/formatters/sarif.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(test): add O(n²) complexity regression testing infrastructure
  .config/nextest.toml
  .pre-commit-config.yaml
  Cargo.toml
  Makefile
  scripts/bisect-performance.sh
  tests/rule_complexity_regression_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

refactor(rules): categorize severities by document impact
  src/output/formatters/sarif.rs
  src/rules/md001_heading_increment.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md024_no_duplicate_heading.rs
  src/rules/md025_single_title.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md042_no_empty_links.rs
  src/rules/md045_no_alt_text.rs
  src/rules/md051_link_fragments.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md066_footnote_validation.rs
  src/rules/md068_empty_footnote_definition.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

docs(rules): add severity categorization section to RULES.md
  docs/RULES.md
Due: rumdl

fix(MD057): point diagnostics to URL instead of link text
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): update changelog for v0.0.200 with all commits
  CHANGELOG.md
Due: none

feat(config): add per-rule severity override infrastructure
  benches/fix_performance.rs
  benches/range_performance.rs
  benches/rule_performance.rs
  benches/simple_fix_bench.rs
  docs/RULES.md
  src/config.rs
  src/config_intelligent_merge_tests.rs
  src/file_processor.rs
  src/fix_coordinator.rs
  src/lib.rs
  src/lsp/server.rs
  src/parallel.rs
  src/rule.rs
  src/watch.rs
  tests/config_application_tests.rs
  tests/config_tests.rs
  tests/cross_file_validation_test.rs
  tests/inline_config_blocks_test.rs
  tests/inline_config_test.rs
  tests/lsp_integration_tests.rs
  tests/md032_edge_cases_test.rs
  tests/md032_ordered_list_bug_test.rs
  tests/md038_false_positive_test.rs
  tests/md051_readme_bug_test.rs
  tests/md051_toc_bug_test.rs
  tests/md052_literal_brackets_test.rs
  tests/md054_code_span_test.rs
  tests/per_file_ignores_integration_test.rs
  tests/rules/md051_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(test): update MD032 SARIF test to expect warning level
  src/output/formatters/sarif.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(output): display relative paths in verbose mode for better UX
  src/config.rs
  src/file_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(test): restore intentional typo in fuzzy matching test
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(test): revert incorrect typo "fixes" that broke tests
  Makefile
  src/lsp/server.rs
  tests/rules/md051_comprehensive_test.rs
  tests/utf8_boundary_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(test): update MD051 edge case test for extension-less link behavior
  tests/rules/md051_comprehensive_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md051): preserve arrow patterns and uppercase placeholders in anchor generation
  src/rules/md051_link_fragments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

revert(md051): remove HTML tag stripping feature added in 8ea07ef
  src/rules/md051_link_fragments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(test): update MD051 tests for extension-less cross-file link behavior
  tests/rules/md051_edge_cases_test.rs
  tests/rules/md051_regression_prevention_test.rs
  tests/rules/md051_test.rs
  tests/rules/md054_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(wasm): update lint() calls to include config parameter
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

docs(rules): remove undocumented "info" severity level
  docs/RULES.md
Due: rumdl

docs(changelog): remove incorrect issue references #219 and #220
  CHANGELOG.md
Due: none

feat(md060): smart max-width inheritance from MD013 configuration
  docs/md060.md
  src/rules/md060_table_format/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(cli): add --fail-on flag to control exit code by severity
  src/main.rs
  src/stdin_processor.rs
  src/watch.rs
  tests/cli_fail_on_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(severity): add Info severity level for low-priority issues
  src/lsp/types.rs
  src/output/formatters/github.rs
  src/output/formatters/sarif.rs
  src/output/mod.rs
  src/rule.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(cli): add --fail-on warning option for severity-based exit codes
  docs/RULES.md
  src/main.rs
  src/stdin_processor.rs
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md063): handle inline code at start of heading for sentence case
  src/rules/md063_heading_capitalization/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md063): preserve acronyms and brand names in link text for sentence case
  src/rules/md063_heading_capitalization/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md063): handle inline HTML tags in heading capitalization
  src/rules/md063_heading_capitalization/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md063): preserve caret notation for control characters
  src/rules/md063_heading_capitalization/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

docs(md060): fix table alignment and line length
  docs/md060.md
Due: rumdl

chore(release): bump version to 0.0.201
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(md032): add allow-lazy-continuation config option
  docs/md032.md
  src/main.rs
  src/output/formatters/sarif.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md032_blanks_around_lists/md032_config.rs
  tests/character_ranges/mod.rs
  tests/common/test_utils.rs
  tests/deeply_nested_lists_performance_test.rs
  tests/malformed_markdown_stress_tests.rs
  tests/real_world_repository_tests.rs
  tests/regression_prevention_tests.rs
  tests/rule_complexity_regression_test.rs
  tests/rules/md032_test.rs
  tests/rules/mkdocs_admonitions_test.rs
  tests/rules/rule_interaction_test.rs
  tests/utf8_boundary_tests.rs
  tests/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
