Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(global-settings): add per-file-flavor documentation
  docs/global-settings.md
Due: rumdl

fix(rules): prevent MD005/MD007 oscillation by grouping list types separately
  src/rules/md005_list_indent.rs
  tests/rules/list_rules_integration_test.rs
  tests/rules/md005_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD030): skip empty marker lines without content (fixes #288)
  src/rules/md030_list_marker_space.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD057): skip link-like patterns inside LaTeX math spans (fixes #289)
  src/lint_context.rs
  src/rules/md057_existing_relative_links.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): MD031/MD032/MD058/MD065 auto-fix preserves blockquote prefix (fixes #268)
  src/rules/md031_blanks_around_fences.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md058_blanks_around_tables.rs
  src/rules/md065_blanks_around_horizontal_rules.rs
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD072): add key_order config for custom frontmatter sorting (fixes #290)
  Cargo.lock
  Cargo.toml
  docs/md072.md
  src/config.rs
  src/rules/md072_frontmatter_key_sort.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD060): preserve blockquote prefix when formatting tables
  src/config.rs
  src/lint_context.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md058_blanks_around_tables.rs
  src/rules/md060_table_format/mod.rs
  src/rules/md065_blanks_around_horizontal_rules.rs
  tests/rules/md005_test.rs
  tests/rules/md032_test.rs
  tests/rules/md060_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.0.216
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/md072.md
  rumdl.schema.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs(flavors): add comprehensive Markdown flavor documentation
  docs/RULES.md
  docs/flavors.md
Due: rumdl

docs(readme): add Discord community badge
  README.md
Due: rumdl

fix(core): address correctness and performance issues
  src/lint_context.rs
  src/parallel.rs
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD033): calculate correct end_line for multiline HTML tags
  src/rules/md033_no_inline_html.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(MD034): add comprehensive edge case tests
  tests/rules/md034_comprehensive_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): detect blockquote level changes as list breaks
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(cleanup): remove misleading ignored tests
  tests/rules/md007_test.rs
  tests/rules/md011_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): use relative paths in config warnings
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): detect lazy continuation in nested lists (#295)
  src/rules/md032_blanks_around_lists.rs
  tests/md032_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD064): add max-consecutive-spaces config option (fixes #294)
  CHANGELOG.md
  docs/RULES.md
  docs/md064.md
  src/main.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(config): update test for relative path error messages
  tests/markdownlint_cli_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.0.217
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(config): warn when per-file-ignores pattern has comma without braces
  docs/global-settings.md
  src/config.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(examples): add Google Markdown style guide config
  examples/google-style.rumdl.toml
Due: none

docs(examples): add Prettier-compatible markdown config
  examples/google-style.rumdl.toml
  examples/prettier-compatible.rumdl.toml
Due: none

docs(readme): add Style Guide Presets section
  README.md
Due: rumdl

fix(MD032): detect lazy continuation after nested sublists
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): treat HTML comments as transparent for blank line checks
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): skip blank line warning when exiting blockquote
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): handle lazy continuation edge cases and fix rule aliases
  src/config.rs
  src/lint_context.rs
  src/markdownlint_config.rs
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to 0.0.218
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

feat(flavors): enhance GFM, Quarto, MDX, and MkDocs support
  docs/md033.md
  docs/md034.md
  src/filtered_lines.rs
  src/lint_context.rs
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md013_line_length/mod.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md033_no_inline_html/md033_config.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md039_no_space_in_links.rs
  src/rules/md044_proper_names.rs
  src/rules/md049_emphasis_style.rs
  src/utils/mkdocs_abbreviations.rs
  src/utils/mkdocs_attr_list.rs
  src/utils/mkdocs_definition_lists.rs
  src/utils/mkdocs_extensions.rs
  src/utils/mkdocs_icons.rs
  src/utils/mod.rs
  src/utils/quarto_divs.rs
  src/utils/regex_cache.rs
  src/utils/skip_context.rs
  tests/rules/md034_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(flavors): add Quarto citations, shortcodes, and MkDocs skip filters
  src/filtered_lines.rs
  src/lint_context.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md038_no_space_in_code.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md050_strong_style.rs
  src/utils/quarto_divs.rs
  src/utils/regex_cache.rs
  tests/rules/md034_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(flavors): add comprehensive test suites for GFM, MDX, and Quarto
  tests/gfm_comprehensive_test.rs
  tests/mdx_comprehensive_test.rs
  tests/quarto_comprehensive_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(mkdocs): implement stack-based nested admonition detection
  src/utils/mkdocs_admonitions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md031): correct blank line detection after admonition blocks
  src/rules/md031_blanks_around_fences.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(quarto): add citation and shortcode detection to link rules
  src/rules/md042_no_empty_links.rs
  src/rules/md051_link_fragments.rs
  src/rules/md052_reference_links_images.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(quarto): skip math blocks in emphasis-related rules
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md049_emphasis_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(mdx): skip elements with JSX attributes in MD033
  src/rules/md033_no_inline_html.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD034): check UTF-8 char boundary before backward slicing
  src/rules/md034_no_bare_urls.rs
  tests/rules/md034_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(utf8): add comprehensive multi-byte UTF-8 stress tests
  tests/utf8_comprehensive_stress_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
