Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

fix(rules): revert max_marker_width +1 for first ordered list block
  src/lint_context/list_blocks.rs
  src/rules/md076_list_item_spacing.rs
  tests/regressions/md032_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.52
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(rules): simplify loop bound to satisfy clippy int_plus_one lint
  src/rules/md013_line_length/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): preserve admonition indentation after code blocks in list items
  src/rules/md013_line_length/mod.rs
  tests/formats/md013_mkdocs_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.53
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(code-block-tools): add buf:format and buf:lint builtin tool
  src/code_block_tools/config.rs
  src/code_block_tools/executor.rs
  src/code_block_tools/processor.rs
  src/code_block_tools/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): exempt HTML-only lines from MD013 in non-strict mode
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.54
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(rules): use explicit pulldown-cmark options to prevent code block detection corruption
  src/code_block_tools/processor.rs
  src/lint_context/element_parsers.rs
  src/utils/code_block_utils.rs
  src/utils/mod.rs
  src/utils/parser_options.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.55
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(rules): add Obsidian attachment folder auto-detection and search-paths to MD057
  docs/md057.md
  src/rules/md057_existing_relative_links.rs
  src/rules/md057_existing_relative_links/md057_config.rs
  src/utils/mod.rs
  src/utils/obsidian_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.56
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  src/rules/md057_existing_relative_links.rs
  src/utils/obsidian_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): skip MDX comments in MD041 first-content-line detection
  src/rules/md041_first_line_heading/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.57
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix: extra space in README
  README.md
Due: rumdl

chore(release): prepare v0.1.58
  CHANGELOG.md
Due: none

test(md037): add tests for spaced bold metadata pattern detection
  src/rules/md037_spaces_around_emphasis.rs
  src/utils/emphasis_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): skip MDX comments in all rules that checked HTML comments
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  src/lint_context/mod.rs
  src/rules/md010_no_hard_tabs.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md028_no_blanks_blockquote.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md036_no_emphasis_only_first.rs
  src/rules/md046_code_block_style.rs
  src/rules/md052_reference_links_images.rs
  src/rules/md066_footnote_validation.rs
  src/rules/md067_footnote_definition_order.rs
  src/rules/md068_empty_footnote_definition.rs
  src/rules/md069_no_duplicate_list_markers.rs
  src/rules/md070_nested_code_fence.rs
  src/rules/md075_orphaned_table_rows.rs
  src/rules/md076_list_item_spacing.rs
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): detect MD037 spacing issues in bold metadata patterns
  src/utils/emphasis_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(output): suppress summary text in machine-readable output formats
  src/check_runner.rs
  src/output/mod.rs
  tests/output/comprehensive_output_format_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): recognize Obsidian wikilink image alt text in MD045
  src/lint_context/link_parser.rs
  tests/rules/md045_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): resolve MD053 false positive for references in multi-line footnotes
  src/lint_context/line_computation.rs
  src/lint_context/link_parser.rs
  src/lint_context/mod.rs
  src/lint_context/types.rs
  src/lsp/navigation.rs
  src/rules/md005_list_indent.rs
  src/rules/md053_link_image_reference_definitions.rs
  src/utils/parser_options.rs
  tests/formats/mkdocs_extensions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): skip footnote definition content in MD005, MD007, MD030, MD032
  src/rules/md007_ul_indent.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md032_blanks_around_lists.rs
  tests/rules/md005_test.rs
  tests/rules/md007_test.rs
  tests/rules/md030_test.rs
  tests/rules/md032_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.59
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(rules): skip footnote definition content in MD046 code block style
  CHANGELOG.md
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(readme): fix broken rules documentation link
  README.md
Due: rumdl

fix(rules): respect text-aligned indentation for UL under OL with start_indented
  src/rules/md007_ul_indent.rs
  src/rules/mod.rs
  tests/rules/md007_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: normalize RULES.md to lowercase for consistent URL paths
  README.md
  docs/rules.md
  zensical.toml
Due: rumdl

docs: add Cloudflare Pages redirects for backward compatibility
  docs/_redirects
Due: none

ci: add lychee link checker for markdown files
  .github/workflows/ci.yml
  .lychee.toml
  .mise.toml
  Makefile
Due: actionlint

fix(docs): fix broken links and remove exclusions from link checker
  .lychee.toml
  Makefile
  README.md
  docs/global-settings.md
  docs/md001.md
  docs/md007.md
  docs/vscode-extension.md
Due: rumdl

fix(ci): fix link checker CI failure
  .lychee.toml
  README.md
Due: rumdl

chore: add docs/superpowers and docs/design to .gitignore
  .gitignore
Due: none

fix(docs): update remaining RULES.md references to lowercase
  docs/comparison.md
  docs/flavors.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/inline-configuration.md
  docs/lsp.md
  docs/markdownlint-comparison.md
  docs/mdformat-comparison.md
Due: rumdl

fix(docs): update all remaining RULES.md references to lowercase
  .github/ISSUE_TEMPLATE/config.yml
  scripts/verify-release-ready.sh
Due: none

fix(docs): fix last RULES.md reference in global-settings.md
  docs/global-settings.md
Due: rumdl

chore(release): prepare v0.1.60
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(release): fix version-* targets for conventional commits and completeness
  Makefile
Due: none
