Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor: remove dead duplicate is_in_front_matter implementations
  src/rules/front_matter_utils.rs
  src/utils/skip_context.rs
  tests/utils/front_matter_utils_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor: remove dead heading_utils helpers
  src/lib.rs
  src/rules/heading_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(bench): repair bitrotted benches and clean up warnings
  benches/fix_performance.rs
  benches/link_parsing_manual.rs
  benches/range_performance.rs
  benches/range_utils_benchmark.rs
  benches/rule_performance.rs
  benches/simple_fix_bench.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(test): make test_performance_md051 actually exercise MD051
  tests/rules/md051_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(rules): drop dead list_utils module and fence helpers
  src/rules/code_fence_utils.rs
  src/rules/list_utils.rs
  src/rules/md030_list_marker_space.rs
  src/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(utils): drop dead sentence/code-block helpers
  src/utils/code_block_utils.rs
  src/utils/sentence_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(utils): drop dead early_returns and prune remaining utils
  src/utils/blockquote.rs
  src/utils/early_returns.rs
  src/utils/emphasis_utils.rs
  src/utils/jinja_utils.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(utils): remove dead markdown_elements module
  src/utils/markdown_elements.rs
  src/utils/mod.rs
  tests/unicode/mod.rs
  tests/unicode/utils_markdown_edge_cases.rs
  tests/utils/mod.rs
  tests/utils/utils_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: clean up stale TODOs and commented-out test cruft
  src/rules/md043_required_headings.rs
  tests/formats/md013_reflow_integration_test.rs
  tests/output/output_format_integration_tests.rs
  tests/rules/md007_test.rs
  tests/rules/md022_test.rs
  tests/rules/md026_test.rs
  tests/rules/md051_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(utils): prune unused exports from mkdocs helper modules
  src/utils/mkdocs_critic.rs
  src/utils/mkdocs_icons.rs
  src/utils/mkdocs_tabs.rs
  src/utils/mkdocstrings_refs.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(utils): prune dead code from mkdocs utility modules
  src/utils/mkdocs_abbreviations.rs
  src/utils/mkdocs_admonitions.rs
  src/utils/mkdocs_attr_list.rs
  src/utils/mkdocs_common.rs
  src/utils/mkdocs_definition_lists.rs
  src/utils/mkdocs_extensions.rs
  src/utils/mkdocs_test_utils.rs
  src/utils/mod.rs
  src/utils/pymdown_blocks.rs
  src/utils/quarto_divs.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(utils): restore strikethrough regex edge-case coverage
  src/utils/mkdocs_extensions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(lint_context): prune dead public methods and struct fields
  src/lint_context/element_parsers.rs
  src/lint_context/heading_detection.rs
  src/lint_context/line_computation.rs
  src/lint_context/link_parser.rs
  src/lint_context/list_blocks.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/lint_context/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(deps): drop unused tokio-util, tower, tower-service, js-sys
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

refactor: enable unreachable_pub and demote unreachable items
  src/lib.rs
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md026_no_trailing_punctuation/md026_config.rs
  src/rules/md029_ordered_list_prefix.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md033_no_inline_html/md033_config.rs
  src/rules/md041_first_line_heading/md041_config.rs
  src/rules/md041_first_line_heading/mod.rs
  src/rules/md044_proper_names.rs
  src/rules/md045_no_alt_text.rs
  src/rules/md061_forbidden_terms/mod.rs
  src/rules/md063_heading_capitalization/mod.rs
  src/rules/md066_footnote_validation.rs
  src/rules/md074_mkdocs_nav.rs
  src/rules/md076_list_item_spacing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: clear unused wasm-path bindings and test-only helper
  src/lib.rs
  src/lint_context/mod.rs
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(deps): move url from dependencies to dev-dependencies
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

refactor(rules): prune dead helpers and demote module-scoped configs
  src/rules/emphasis_style.rs
  src/rules/front_matter_utils.rs
  src/rules/md004_unordered_list_style.rs
  src/rules/md004_unordered_list_style/md004_config.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md030_list_marker_space/md030_config.rs
  src/rules/md036_no_emphasis_only_first.rs
  src/rules/md040_fenced_code_language.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(deps): apply cargo update compat bumps
  Cargo.lock
Due: cargo-lock-check, cargo-lock-check-push

chore(deps): bump jsonschema dev-dep to 0.46
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

chore(lints): opt lib into clippy::pedantic with curated allow-list
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor: apply cargo clippy --fix for pedantic suggestions
  src/code_block_tools/registry.rs
  src/config/parsers.rs
  src/config/source_tracking.rs
  src/config/types.rs
  src/config/validation.rs
  src/doc_comment_lint.rs
  src/inline_config.rs
  src/lint_context/flavor_detection.rs
  src/lsp/completion.rs
  src/lsp/configuration.rs
  src/lsp/navigation.rs
  src/parallel.rs
  src/performance.rs
  src/rule.rs
  src/rule_config_serde.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md027_multiple_spaces_blockquote.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md053_link_image_reference_definitions.rs
  src/rules/md066_footnote_validation.rs
  src/rules/md074_mkdocs_nav.rs
  src/utils/anchor_styles/kramdown_gfm.rs
  src/utils/mod.rs
  src/utils/range_utils.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor: drop misleading underscore prefixes on used bindings
  src/lib.rs
  src/markdownlint_config.rs
  src/rules/md009_trailing_spaces.rs
  src/rules/md014_commands_show_output.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md058_blanks_around_tables.rs
  src/rules/md075_orphaned_table_rows.rs
  src/utils/mkdocs_snippets.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor: convert match-with-early-return to let...else
  src/code_block_tools/processor.rs
  src/config/parsers.rs
  src/fix_coordinator.rs
  src/lint_context/types.rs
  src/lsp/completion.rs
  src/lsp/index_worker.rs
  src/lsp/linting.rs
  src/lsp/navigation.rs
  src/rules/md026_no_trailing_punctuation.rs
  src/rules/md028_no_blanks_blockquote.rs
  src/rules/md061_forbidden_terms/mod.rs
  src/rules/md074_mkdocs_nav.rs
  src/utils/sentence_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor: take references and derive Copy to satisfy clippy::pedantic
  src/code_block_tools/processor.rs
  src/lsp/completion.rs
  src/lsp/navigation.rs
  src/rules/md029_ordered_list_prefix/md029_config.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md051_link_fragments.rs
  src/rules/md060_table_format/mod.rs
  src/utils/emphasis_utils.rs
  src/utils/text_reflow.rs
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor: remove unnecessary Result/Option wrappers
  src/config/loading.rs
  src/markdownlint_config.rs
  src/rules/md005_list_indent.rs
  src/rules/md029_ordered_list_prefix.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md046_code_block_style.rs
  src/rules/md072_frontmatter_key_sort.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor: resolve remaining clippy::pedantic warnings across crate
  src/check_runner.rs
  src/config_intelligent_merge_tests.rs
  src/lib.rs
  src/lsp/tests.rs
  src/output/mod.rs
  src/stdin_processor.rs
  tests/rules/md029_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.73
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

fix(doctests): correct rotted imports and blockquote indent assertions
  src/lint_context/mod.rs
  src/utils/blockquote.rs
  src/utils/regex_cache.rs
  src/utils/utf8_offsets.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(deps): replace serde_yml with serde_yaml
  Cargo.lock
  Cargo.toml
  src/commands/import.rs
  src/markdownlint_config.rs
  src/rules/md072_frontmatter_key_sort.rs
  src/rules/md074_mkdocs_nav.rs
  src/utils/mkdocs_config.rs
  tests/config/markdownlint_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(audit): document known-accepted atomic-polyfill advisory
  .cargo/audit.toml
Due: none

fix(md077): emit atomic compound fix for under-indented fences in lists
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.74
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

feat(cli): add -c short alias for --config
  src/main.rs
  tests/cli/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.75
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

ci(release): avoid rustup conflict from stale runner toolchain
  .github/workflows/release.yml
Due: actionlint

fix(cli): error when --config path does not exist
  src/main.rs
  tests/cli/cli_integration_tests.rs
  tests/config/config_file_command_test.rs
  tests/config/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.76
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

fix(md046): ignore container content when detecting code-block style
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
