Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

refactor(md004): return char from count_marker_prevalence
  src/markdownlint_config.rs
  src/rules/md004_unordered_list_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(perf): add targeted perf-audit benchmark harness
  Cargo.toml
  benches/perf_audit.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(reflow): hoist char collection out of is_sentence_boundary
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(reflow): scan is_horizontal_rule without allocating a Vec<char>
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(reflow): reuse the formatted element string for its width
  benches/perf_audit.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(lint-context): make is_in_list_block/is_in_table_block O(1)
  src/lint_context/line_computation.rs
  src/lint_context/mod.rs
  src/lint_context/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(lint-context): precompute math-block closer lookahead
  src/lint_context/line_computation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(workspace): clear reverse deps via the file's own links
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(reflow): remove now-unused Element::display_width
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(rules): use LazyLock regexes instead of the mutex-backed cache
  src/rules/md011_no_reversed_links.rs
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md021_no_multiple_space_closed_atx.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(lint-context): skip kramdown masking when there are no extension lines
  src/lint_context/line_computation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md032): compare blockquote prefixes as &str without allocating
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md057): index lines via raw_lines() instead of lines().nth()
  benches/perf_audit.rs
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): avoid byte-slice underflow on all-emphasis lines
  src/rules/md013_line_length/helpers.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(lint-context): cache math byte ranges for is_in_math_context
  benches/perf_audit.rs
  src/lint_context/mod.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md037): use cached HTML-comment lookup in the warning filter
  src/rules/md037_spaces_around_emphasis.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md034): don't flag URLs in JSX component attributes (MDX)
  src/lint_context/element_parsers.rs
  src/lint_context/mod.rs
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(lsp): resolve buffer-file links and extend hover previews
  src/lsp/navigation.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

Add Firefox to the list of project using rumdl
  README.md
Due: rumdl

fix(MD049,MD037): Preserve inline code inside emphasis during auto-fix
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md049_emphasis_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD049,MD037): Preserve inline code inside emphasis during auto-fix (#652)
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md049_emphasis_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Add Firefox to the list of project using rumdl (#650)
  README.md
Due: rumdl

docs(readme): add new adopters to Used By and re-sort table
  README.md
Due: rumdl

Add reference to 'sentence-per-line' mode description (#645)
  docs/md013.md
Due: rumdl

docs(comparison): add panache callout and pandoc/myst/azure flavors
  docs/comparison.md
Due: rumdl

docs(stability): add stability and compatibility policy with path to 1.0
  README.md
  docs/index.md
  docs/stability.md
Due: rumdl

test(rules): freeze the opt-in rule set to guard default-enabled rules
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(readme): correct the JSON output example to the actual flat-array format
  README.md
Due: rumdl

test(output): assert the real JSON field contract instead of a vacuous check
  tests/output/json_output_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci: run formatter idempotency property tests nightly
  .github/workflows/idempotency.yml
  .github/zizmor.yml
Due: actionlint

ci: exclude npmjs.com package links from lychee link checking
  .lychee.toml
Due: none

docs(stability): check off completed path-to-1.0 items
  docs/stability.md
Due: rumdl

ci: add non-blocking Windows test canary
  .github/workflows/ci.yml
Due: actionlint

docs(output-formats): add machine-readable format reference
  docs/output-formats.md
  docs/stability.md
  docs/usage/cli.md
Due: rumdl

test(output): add machine-readable format contract tests
  tests/output/machine_format_contract_test.rs
  tests/output/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci: run Windows test job inside the mise environment
  .github/workflows/ci.yml
Due: actionlint

test: make the test suite compile on Windows
  src/utils/project_root.rs
  tests/cli/init_tests.rs
  tests/config/config_upward_traversal_test.rs
  tests/lsp/lsp_memory_leak_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(config): write extends paths as TOML literal strings
  src/config/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci: run the Windows test canary with --no-fail-fast
  .github/workflows/ci.yml
  Makefile
Due: actionlint
