Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

fix(MD013): keep a code span whole across a line that looks like a block start
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  tests/rules/md013_reflow_regressions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): keep a heading inside a list item on its own line
  src/rules/md013_line_length.rs
  tests/rules/md013_reflow_regressions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(MD035): filter horizontal rule candidates before source checks
  src/rules/md035_hr_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): preserve document structure during reflow
  proptest-regressions/rules/md013_line_length/block_builder.txt
  src/lint_context/list_blocks.rs
  src/lint_context/mod.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/block_builder.rs
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
  src/utils/code_block_utils.rs
  src/utils/text_reflow.rs
  tests/perf/perf_regression_issue_148.rs
  tests/perf/rule_complexity_regression_test.rs
  tests/rules/md013_reflow_regressions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD060): add pad-width option for the padding around table cells
  docs/md060.md
  src/rules/md060_table_format.rs
  src/rules/md060_table_format/md060_config.rs
  tests/rules/md060_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(MD013): cover a nested item whose later paragraph follows a crossing code span
  tests/rules/md013_reflow_regressions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(MD013): reflow a paragraph whose first line is a div marker a code span runs out of
  tests/rules/md013_reflow_regressions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(MD013): give markdown-rs the tab stop CommonMark reads after a container marker
  fuzz/oracle/reflow_semantics.rs
  tests/rules/md013_reflow_oracle_test.rs
  tests/rules/md013_reflow_regressions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): keep a deep continuation line from setting a list item's indent
  src/rules/md013_line_length.rs
  tests/rules/md013_reflow_regressions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(MD013): keep each ')' list item after a paragraph on its own line
  tests/rules/md013_reflow_regressions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(code-block-tools): add format-mode = "pipeline" to chain formatters
  docs/code-block-tools.md
  rumdl.schema.json
  src/code_block_tools/config.rs
  src/code_block_tools/mod.rs
  src/code_block_tools/processor.rs
  src/lsp/tests.rs
  tests/integration/code_block_tools_execution_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor: share HTML attribute parsing
  src/rules/md033_no_inline_html.rs
  src/utils/html_elements.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat: add MD095 link confusable detection
  docs/md095.md
  rules.json
  src/rules/md095_link_confusables.rs
  src/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: update rule counts and tables in docs
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/mdformat-comparison.md
  docs/obsidian-linter-comparison.md
  docs/rules.md
Due: rumdl

doc: add MD095 in rule registry and tests
  src/config/registry.rs
  tests/cli/cli_lsp_fix_consistency.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

doc: add new rule contribution guide
  CONTRIBUTING.md
  scripts/check-rule-docs.py
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

doc: fix test_all_rules_returns_all_rules
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test: fix test_opt_in_rule_set_is_frozen
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

simplify test list
  CONTRIBUTING.md
Due: rumdl

docs(contributing): update opt-in rule contribution steps
  CONTRIBUTING.md
Due: rumdl

fix(MD013): use actual lazy blockquote width
  docs/md013.md
  src/rules/md013_line_length.rs
  src/utils/text_reflow.rs
  tests/formats/sentence_pack_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD013): add opt-in sentence-pack reflow
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/formats/mod.rs
  tests/formats/sentence_pack_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): integrate sentence-pack with CJK joins
  docs/md013.md
  src/utils/text_reflow.rs
  tests/formats/sentence_pack_test.rs
  tests/rules/md013_soft_break_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): preserve sentence-pack reflow semantics
  fuzz/oracle/reflow_semantics.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  tests/rules/md013_reflow_oracle_test.rs
  tests/rules/md013_reflow_regressions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test: make timing and filesystem-dependent tests deterministic
  src/rules/md057_existing_relative_links.rs
  tests/git_command/mod.rs
  tests/perf/perf_check.rs
  tests/perf/rule_complexity_regression_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD013): add opt-in sentence-pack reflow (#915)
  docs/md013.md
  fuzz/oracle/reflow_semantics.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/formats/mod.rs
  tests/formats/sentence_pack_test.rs
  tests/rules/md013_reflow_oracle_test.rs
  tests/rules/md013_reflow_regressions_test.rs
  tests/rules/md013_soft_break_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): keep emphasized step labels within their sentence
  src/utils/text_reflow.rs
  tests/rules/md013_reflow_regressions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): preserve source sentence breaks and emphasis step labels
  docs/md013.md
  src/rules/md013_line_length.rs
  src/utils/text_reflow.rs
  tests/rules/md013_reflow_regressions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): preserve reflow structure and expand scheduled fuzz coverage
  .gitattributes
  .github/workflows/fuzz.yml
  .github/workflows/idempotency.yml
  CONTRIBUTING.md
  Makefile
  docs/md013.md
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_sentence_layout.rs
  fuzz/oracle/sentence_layout.rs
  fuzz/seeds/fuzz_reflow_semantics/container-code
  fuzz/seeds/fuzz_reflow_semantics/emphasis-step
  fuzz/seeds/fuzz_reflow_semantics/empty-list-lazy-continuation
  fuzz/seeds/fuzz_reflow_semantics/footnote-sentences
  fuzz/seeds/fuzz_reflow_semantics/invalid-backtick-fence
  fuzz/seeds/fuzz_reflow_semantics/invalid-fence-autolink
  fuzz/seeds/fuzz_reflow_semantics/lowercase-opener
  fuzz/seeds/fuzz_reflow_semantics/nested-code
  fuzz/seeds/fuzz_reflow_semantics/ordered-number-prose
  fuzz/seeds/fuzz_reflow_semantics/parenthesis-list
  fuzz/seeds/fuzz_reflow_semantics/quoted-continuation
  fuzz/seeds/fuzz_reflow_semantics/raw-html-boundary
  fuzz/seeds/fuzz_reflow_semantics/reference-opener
  fuzz/seeds/fuzz_reflow_semantics/sentence-pack
  fuzz/seeds/fuzz_sentence_layout/abbreviation
  fuzz/seeds/fuzz_sentence_layout/emphasis-step
  fuzz/seeds/fuzz_sentence_layout/lowercase-opener
  fuzz/seeds/fuzz_sentence_layout/quoted-continuation
  fuzz/seeds/fuzz_sentence_layout/reference-opener
  fuzz/seeds/fuzz_sentence_layout/sentence-final-abbreviation
  fuzz/seeds/fuzz_sentence_layout/sentence-pack
  proptest-regressions/rules/md013_sentence_layout_test.txt
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/utils/text_reflow.rs
  tests/rules/md013_sentence_layout_test.rs
  tests/rules/mod.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): count only rewritten prose in list sentence warnings
  src/rules/md013_line_length.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(contributing): document and synchronize new-rule registration
  CONTRIBUTING.md
  scripts/check-rule-docs.py
  scripts/test_check_rule_docs.py
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD060): add stable configurable table-cell padding
  docs/md060.md
  src/rules/md060_table_format.rs
  src/rules/md060_table_format/md060_config.rs
  tests/rules/md060_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD095): detect confusable link destinations with accurate source spans
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md095.md
  docs/mdformat-comparison.md
  docs/obsidian-linter-comparison.md
  docs/rules.md
  rules.json
  src/config/registry.rs
  src/rules/md095_link_confusables.rs
  src/rules/mod.rs
  src/utils/html_elements.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/cli/md095_link_confusables_test.rs
  tests/cli/mod.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(MD095): format Unicode source URLs as rustdoc links
  src/rules/md095_link_confusables.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.79
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  fuzz/Cargo.lock
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

ci: bootstrap prebuilt tools for nightly formatting tests
  .github/workflows/idempotency.yml
Due: actionlint

fix(MD046): fence the whole indented block when a line looks like a list, quote or footnote
  src/rules/md046_code_block_style.rs
  tests/rules/md046_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): use reliable native stdin format checks
  docs/code-block-tools.md
  src/code_block_tools/executor.rs
  src/code_block_tools/processor.rs
  src/code_block_tools/registry.rs
  tests/integration/code_block_tools_exit_code_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci: adopt jactionlint alongside zizmor
  .github/jactionlint-baseline.json
  .github/jactionlint.yaml
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/release.yml
  .mise.toml
  .pre-commit-config.yaml
  Makefile
  action.yml
  scripts/lint-actions.sh
Due: actionlint
