Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

docs(config): correct enable=[] description in CHANGELOG and global-settings
  CHANGELOG.md
  docs/global-settings.md
Due: rumdl

feat(md057): add compact-paths config to warn about unnecessary path traversal
  docs/md057.md
  src/rules/md057_existing_relative_links.rs
  src/rules/md057_existing_relative_links/md057_config.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): implement trailing-word replacement for non-strict mode
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
  tests/config_application_tests.rs
  tests/inline_config_blocks_test.rs
  tests/md013_mkdocs_reflow_test.rs
  tests/pyproject_config_tests.rs
  tests/rules/md013_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): skip mkdocstrings autodoc blocks during paragraph reflow
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md013): suppress warnings when line excess comes from inline link URLs
  docs/md013.md
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(changelog): add MD013 semantic link suppression to unreleased
  CHANGELOG.md
Due: none

fix(md044): skip proper name checking in link text that is a URL
  src/rules/md044_proper_names.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): add "ALL" keyword for enable and revert enable=[] semantics
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
  src/config/parsers.rs
  src/config/tests.rs
  src/file_processor/discovery.rs
  src/rules/mod.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(docs): remove line that splits table in rules documentation in two
  docs/md046.md
Due: rumdl

chore(release): bump version to 0.1.19
  .pre-commit-config.yaml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  scripts/setup-pre-commit.sh
  src/file_processor/discovery.rs
  src/lint_context/line_computation.rs
  src/rules/md013_line_length/tests.rs
  tests/cli_flag_precedence_test.rs
  tests/kramdown_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): add opt-in rule registry and extend-enable/extend-disable config keys
  src/config/loading.rs
  src/config/parsers.rs
  src/config/source_tracking.rs
  src/config/types.rs
  src/config/validation.rs
  src/file_processor/discovery.rs
  src/file_processor/tests.rs
  src/rules/md060_table_format/mod.rs
  src/rules/md063_heading_capitalization/mod.rs
  src/rules/md072_frontmatter_key_sort.rs
  src/rules/md073_toc_validation.rs
  src/rules/mod.rs
  tests/config_tests.rs
  tests/mkdocs_extensions_test.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md060): resolve table formatter idempotency bug
  src/utils/table_utils.rs
  tests/rules/formatter_proptest.rs
  tests/rules/md060_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): prevent reflow from breaking autolinks, links, HTML tags, and add visual width support
  src/lint_context/flavor_detection.rs
  src/rules/md013_line_length/mod.rs
  src/utils/text_reflow.rs
  tests/rules/mkdocs_admonitions_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md013): add coverage for abbreviations with nested punctuation and MD064 path
  src/utils/sentence_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): handle abbreviations preceded by punctuation in sentence-per-line mode
  src/rules/md013_line_length/tests.rs
  src/utils/sentence_utils.rs
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(kramdown): add kramdown flavor support
  docs/flavors.md
  docs/flavors/kramdown.md
  rumdl.schema.json
  src/cli_types.rs
  src/config/flavor.rs
  src/config/loading.rs
  src/config/parsers.rs
  src/file_processor/discovery.rs
  src/filtered_lines.rs
  src/lint_context/flavor_detection.rs
  src/lint_context/line_computation.rs
  src/lint_context/mod.rs
  src/lint_context/types.rs
  src/rules/md041_first_line_heading/mod.rs
  src/rules/md051_link_fragments.rs
  src/rules/mod.rs
  src/utils/kramdown_utils.rs
  src/wasm.rs
  tests/cli_flavor_test.rs
  tests/config_tests.rs
  tests/kramdown_integration_test.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(kramdown): handle self-closing extension blocks correctly
  src/lint_context/flavor_detection.rs
  src/utils/kramdown_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(kramdown): prevent extension fence leakage and MD022 false positives
  src/lint_context/line_computation.rs
  src/rules/md022_blanks_around_headings.rs
  tests/kramdown_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(kramdown): add architectural filtering for extension blocks
  src/filtered_lines.rs
  src/lib.rs
  src/lint_context/mod.rs
  src/rules/md001_heading_increment.rs
  src/rules/md004_unordered_list_style.rs
  src/rules/md010_no_hard_tabs.rs
  src/rules/md023_heading_start_left.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md041_first_line_heading/mod.rs
  src/rules/md050_strong_style.rs
  src/rules/md051_link_fragments.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md059_link_text.rs
  src/utils/kramdown_utils.rs
  tests/config_tests.rs
  tests/kramdown_integration_test.rs
  tests/rules/md033_kramdown_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): enforce strict line-length limit in semantic-line-breaks merge
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md060): detect misaligned content in center/right-aligned columns
  src/rules/md060_table_format/mod.rs
  tests/rules/md060_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(code-block-tools): detect fenced code blocks inside MkDocs admonitions and tabs
  src/code_block_tools/processor.rs
  src/file_processor/processing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): detect mkdocstrings autodoc blocks regardless of flavor
  src/lint_context/line_computation.rs
  src/lint_context/mod.rs
  src/utils/mkdocstrings_refs.rs
  src/utils/skip_context.rs
  tests/rules/md013_test.rs
  tests/rules/mkdocs_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(sponsors): add David Hewitt as backer sponsor
  README.md
  SPONSORS.md
Due: rumdl

refactor: remove dead autodoc skip-context functions
  src/utils/mkdocstrings_refs.rs
  src/utils/skip_context.rs
  tests/rules/mkdocs_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(rules): document rule selection model and align disable with Ruff semantics
  docs/global-settings.md
  src/config/loading.rs
  src/config/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): add extends key for config file inheritance
  docs/global-settings.md
  src/config/loading.rs
  src/config/parsers.rs
  src/config/source_tracking.rs
  src/config/tests.rs
  src/config/types.rs
  src/config_intelligent_merge_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to v0.1.20
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(ci): format schema with Prettier before committing to SchemaStore
  .github/workflows/sync-schemastore.yml
Due: actionlint

feat(cli): add `full` output format with source line display
  src/file_processor/processing.rs
  src/output/formatters/full.rs
  src/output/formatters/mod.rs
  src/output/mod.rs
  src/stdin_processor.rs
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(cli): document all output formats with descriptions
  docs/global-settings.md
  docs/markdownlint-comparison.md
  docs/usage/cli.md
  rumdl.schema.json
  src/cli_types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(action): add generic `args` input for extra CLI flags
  .github/workflows/test-action.yml
  action.yml
  scripts/rumdl-action.sh
Due: actionlint

fix(output): update full format test to match ruff-style output
  tests/comprehensive_output_format_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md060): cap loose-last-column width at header text width
  docs/md060.md
  src/rules/md060_table_format/md060_config.rs
  src/rules/md060_table_format/mod.rs
  tests/rules/md060_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to v0.1.21
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(ci): install SchemaStore deps before running Prettier
  .github/workflows/sync-schemastore.yml
Due: actionlint

feat(md075): add orphaned table rows and headerless pipe content detection
  docs/RULES.md
  docs/md075.md
  src/rules/md075_orphaned_table_rows.rs
  src/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint): resolve pre-existing clippy warnings
  src/code_block_tools/processor.rs
  src/config/loading.rs
  src/config/tests.rs
  src/rules/md060_table_format/mod.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md054): match message with rule configuration option
  src/rules/md054_link_image_style.rs
  tests/rules/md054_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
