Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

test(rules): add indented code block test for MD013 doc comment skip
  tests/doc_comment_lint_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to v0.1.42
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

chore(rust): upgrade toolchain from 1.91.0 to 1.94.0
  .mise.toml
  Cargo.toml
  rust-toolchain.toml
  src/config/parsers.rs
  src/file_processor/doc_comments.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(rules): optimize MD053 with binary search and forward-tracking
  src/rules/md053_link_image_reference_definitions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): allow digit-starting custom anchor IDs in MD051
  src/rules/md051_link_fragments.rs
  src/utils/mkdocs_attr_list.rs
  tests/rules/md051_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): improve MDX compatibility by skipping JSX/MDX content in 7 rules
  src/lint_context/line_computation.rs
  src/lint_context/types.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md050_strong_style.rs
  src/rules/md061_forbidden_terms/mod.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
  src/rules/md069_no_duplicate_list_markers.rs
  tests/mdx_comprehensive_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(ci): add README and CONTRIBUTING checks to release verification
  scripts/verify-release-ready.sh
Due: none

docs(readme): update rule count to 71 and Rust version to 1.94.0
  CONTRIBUTING.md
  README.md
Due: rumdl

fix(ci): use mise exec for all cargo hooks in pre-commit config
  .pre-commit-config.yaml
Due: none

fix(cli): make --fix work with batch output formats (JSON, GitLab, SARIF, JUnit)
  src/check_runner.rs
  src/commands/check.rs
  src/main.rs
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(json): add "fixed" field to JSON output when --fix is active
  src/check_runner.rs
  src/file_processor/processing.rs
  src/output/formatters/json.rs
  src/stdin_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): MD076 detects inconsistent spacing when code block is inside list item
  src/lint_context/list_blocks.rs
  src/rules/md076_list_item_spacing.rs
  tests/lint_context_list_blocks_issue_148_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(output): replace 7-tuple return with FileProcessResult struct, add SARIF baselineState
  src/check_runner.rs
  src/file_processor/processing.rs
  src/output/formatters/sarif.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(bench): register 5 criterion benchmarks in Cargo.toml
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

fix(cli): simplify fix mode output for structured formats (#498)
  src/check_runner.rs
  src/file_processor/processing.rs
  src/output/formatters/json.rs
  src/output/formatters/sarif.rs
  src/stdin_processor.rs
  tests/cli_integration_tests.rs
  tests/output_format_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(lsp): add textDocument/rename support for markdown headings
  src/lsp/index_worker.rs
  src/lsp/navigation.rs
  src/lsp/server.rs
  src/lsp/tests.rs
  src/rules/md051_link_fragments.rs
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): skip frontmatter lines in MD042 to prevent false positives
  src/rules/md042_no_empty_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): skip HTML blocks in MD037 to prevent false positives
  src/rules/md037_spaces_around_emphasis.rs
  tests/rules/md037_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): skip inline HTML code elements in MD037 emphasis detection
  src/rules/md037_spaces_around_emphasis.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): use byte-level search for inline HTML code detection
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): make MD070 opt-in to prevent unexpected file corruption
  src/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.43
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(test): correct MD037 assertion for emphasis inside HTML block elements
  tests/rules/emphasis_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(rules): document MD070 as opt-in rule
  docs/RULES.md
  docs/global-settings.md
  docs/markdownlint-comparison.md
  docs/md070.md
Due: rumdl

fix(lint): resolve clippy warnings in md053 and skip_context
  src/rules/md053_link_image_reference_definitions.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint): remove default() calls on unit structs in tests
  tests/inline_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): accept both text-aligned and fixed indent under ordered parents in MD007
  src/rules/md007_ul_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(rules): classify jq as both linter and formatter
  docs/code-block-tools.md
  src/code_block_tools/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): use accepted indent for stored content column in MD007
  src/rules/md007_ul_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): skip documentation URLs for code-block-tool warnings
  src/lsp/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): include all output lines in generic fallback diagnostics
  src/code_block_tools/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(list-blocks): recognize parent-level continuation after nested list items
  src/lint_context/list_blocks.rs
  tests/md032_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): plumb source_file through lint() for path-dependent rules
  benchmark/bin/file_parallel_benchmark.rs
  fuzz/fuzz_targets/fuzz_fix_idempotency.rs
  src/file_processor/processing.rs
  src/lib.rs
  src/lsp/linting.rs
  src/lsp/server.rs
  src/lsp/tests.rs
  src/parallel.rs
  src/rule_config_serde.rs
  src/wasm.rs
  tests/config_application_tests.rs
  tests/config_tests.rs
  tests/cross_file_validation_test.rs
  tests/inline_config_blocks_test.rs
  tests/inline_config_test.rs
  tests/lsp_integration_tests.rs
  tests/md013_html_test.rs
  tests/md013_reflow_integration_test.rs
  tests/md032_edge_cases_test.rs
  tests/md032_ordered_list_bug_test.rs
  tests/md038_false_positive_test.rs
  tests/md051_readme_bug_test.rs
  tests/md051_toc_bug_test.rs
  tests/md052_literal_brackets_test.rs
  tests/md054_code_span_test.rs
  tests/mkdocs_extensions_test.rs
  tests/per_file_ignores_integration_test.rs
  tests/rules/md057_test.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(release): notify rumdl-chrome-extension on WASM publish
  .github/workflows/release.yml
Due: actionlint

fix(rules): resolve clippy unnecessary_map_or warning in MD007
  src/rules/md007_ul_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): suppress false positives for MD013/MD032/MD046 inside JSX component blocks
  src/filtered_lines.rs
  src/lint_context/flavor_detection.rs
  src/lint_context/line_computation.rs
  src/lint_context/mod.rs
  src/lint_context/types.rs
  src/rules/md013_line_length/mod.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to v0.1.44
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

chore(release): update pre-commit version to v0.1.44
  README.md
Due: rumdl

chore(release): update npm package versions to v0.1.44
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: none
