Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(MD013): stop reflow from joining a setext heading into its underline
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/helpers.rs
  tests/regressions/md013_reflow_setext_heading_issue_825_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: point the schema instructions at src/config/
  README.md
Due: rumdl

fix(config): match absolute patterns through symlinks
  docs/global-settings.md
  src/config/tests.rs
  src/config/types.rs
  src/discovery.rs
  tests/cli/mod.rs
  tests/cli/symlinked_absolute_pattern_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(scope): reject general regex ignore surfaces
  .out-of-scope/regex-ignore-surfaces.md
Due: rumdl

fix(MD033): ignore escaped HTML tag openers
  src/lint_context/element_parsers.rs
  src/lint_context/tests.rs
  src/rules/md033_no_inline_html.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.59
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(deps): update h2 to 0.4.16
  Cargo.lock
Due: cargo-lock-check, cargo-lock-check-push

chore: bump version to v0.2.60
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(cli): add multi-document stdin batches
  src/check_runner.rs
  src/cli_types.rs
  src/document_run.rs
  src/lib.rs
  src/lint_context/mod.rs
  src/main.rs
  src/rules/md057_existing_relative_links.rs
  src/stdin_batch_processor.rs
  tests/cli/cli_stdin_batch_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(cli): document stdin batch protocol
  README.md
  docs/usage/cli.md
Due: rumdl

fix(MD057): respect closed-world self-reference policy
  src/lint_context/mod.rs
  src/rules/md057_existing_relative_links.rs
  tests/cli/cli_stdin_batch_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(cli): add stdin batch performance smoke test
  tests/perf/mod.rs
  tests/perf/stdin_batch_performance_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(changelog): record stdin batch support
  CHANGELOG.md
Due: none

fix(cli): resolve canonical stdin batch target paths
  src/lint_context/mod.rs
  src/lint_context/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(lint-context): use native canonical path fixtures
  src/lint_context/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): report document-level fixes as fixed
  src/check_runner.rs
  src/commands/check.rs
  src/file_processor/doc_comments.rs
  src/file_processor/embedded.rs
  src/file_processor/fix_reporting.rs
  src/file_processor/processing.rs
  src/formatter.rs
  src/rule.rs
  src/stdin_batch_processor.rs
  src/stdin_processor.rs
  tests/cli/cli_integration_tests.rs
  tests/output/fix_reporting_test.rs
  tests/output/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): stop rewriting Rust source when formatting doc comments
  src/doc_comment_lint.rs
  src/file_processor/mod.rs
  src/file_processor/processing.rs
  src/stdin_processor.rs
  tests/cli/mod.rs
  tests/cli/rust_doc_comment_fmt_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint-context): stop reading a lazy continuation as a setext underline
  src/lint_context/heading_detection.rs
  src/lint_context/mod.rs
  src/lint_context/types.rs
  src/rules/md013_line_length/helpers.rs
  src/rules/md077_list_continuation_indent.rs
  tests/regressions/lint_context_setext_lazy_continuation_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.61
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(MD013): support line wrapping within markdown link text
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/formats/md013_reflow_integration_test.rs
  tests/regressions/md013_reflow_link_text_breaking_test.rs
  tests/regressions/mod.rs
  tests/rules/md013_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(mdg): document the flavor and its rule behavior
  README.md
  docs/comparison.md
  docs/flavors.md
  docs/flavors/mdg.md
  docs/global-settings.md
  docs/md003.md
  docs/md013.md
  docs/md022.md
  docs/md026.md
  docs/md034.md
  docs/md046.md
  docs/md048.md
  docs/md055.md
  docs/md060.md
  docs/md063.md
  docs/mdformat-comparison.md
Due: rumdl

fix(mdg): address parser review feedback
  docs/flavors.md
  docs/flavors/mdg.md
  docs/md003.md
  docs/md022.md
  docs/md034.md
  docs/md040.md
  src/cli_types.rs
  src/rules/md003_heading_style.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md026_no_trailing_punctuation.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md040_fenced_code_language.rs
  src/utils/mdg.rs
  tests/cli/cli_flavor_test.rs
  tests/formats/mdg_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(mdg): keep Gherkin tables in a form Gherkin reads
  src/rules/md055_table_pipe_style.rs
  src/rules/md060_table_format.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(mdg): converge Doc Strings on backtick fences
  src/rules/md040_fenced_code_language.rs
  src/rules/md046_code_block_style.rs
  src/rules/md048_code_fence_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(mdg): keep structure headings and their tags parseable
  src/rules/md003_heading_style.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md024_no_duplicate_heading.rs
  src/rules/md025_single_title.rs
  src/rules/md026_no_trailing_punctuation.rs
  src/rules/md041_first_line_heading.rs
  src/rules/md063_heading_capitalization.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(rules): report a flavor-enforced option override once
  src/rule_config_serde.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(mdg): protect step text and placeholders
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): register the Markdown with Gherkin flavor
  rumdl.schema.json
  src/cli_types.rs
  src/config/flavor.rs
  src/config/parsers.rs
  src/config/tests.rs
  src/config/types.rs
  src/wasm.rs
  tests/cli/cli_flavor_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(mdg): add the Gherkin line tokens the flavor shares
  src/utils/mdg.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(mdg): cover flavor selection and rule composition
  tests/cli/cli_flavor_test.rs
  tests/formats/mdg_integration_test.rs
  tests/formats/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(mdg): correct the tag-line rationale and the flavor selection note
  docs/flavors/mdg.md
  docs/md022.md
  src/rules/md022_blanks_around_headings.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(windows): name cargo-binstall in the scoped mise installs
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actionlint

ci: pin the mise version at every mise-action call site
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/idempotency.yml
  .github/workflows/parity.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
Due: actionlint

ci: track the mise version each workflow passes to mise-action
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/idempotency.yml
  .github/workflows/parity.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
Due: actionlint

ci(deps): move upd to v0.8.2 and align the last mise pin
  .github/workflows/dependencies.yml
  .github/workflows/release.yml
Due: actionlint

chore: bump version to v0.2.62
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(MD013): make link text wrapping opt-in via reflow-break-link-text
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/formats/md013_reflow_integration_test.rs
  tests/regressions/md013_reflow_link_text_breaking_test.rs
  tests/rules/md013_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(docs): improve website and product documentation
  Cargo.toml
  Dockerfile
  Makefile
  README.md
  action.yml
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/javascripts/rumdl.js
  docs/markdownlint-comparison.md
  docs/playground.md
  docs/stability.md
  docs/stylesheets/rumdl.css
  docs/usage/ci-cd.md
  docs/vscode-extension.md
  npm/rumdl/README.md
  npm/rumdl/bin/rumdl
  npm/rumdl/package.json
  pyproject.toml
  scripts/docs_smoke_test.py
  zensical.toml
Due: cargo-lock-check, rumdl, cargo-lock-check-push

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
