Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(md028): respect distinct quotes in standard flavors
  docs/flavors/obsidian.md
  docs/md028.md
  src/rules/md028_no_blanks_blockquote.rs
  tests/character_ranges/extended_tests.rs
  tests/character_ranges/mod.rs
  tests/rules/md028_md009_interaction_test.rs
  tests/rules/md028_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md075): ignore Obsidian wikilink aliases in prose after tables
  docs/flavors.md
  docs/flavors/obsidian.md
  src/rules/md075_orphaned_table_rows.rs
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): index what an editor is showing when the workspace is rescanned
  src/lsp/index_worker.rs
  src/lsp/relint_tests.rs
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): stop an evicted file from being put back by a waiting disk read
  src/lsp/index_worker.rs
  src/lsp/relint_tests.rs
  src/lsp/server.rs
  src/lsp/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): a rescan keeps an open buffer only where a file still is
  src/lsp/index_worker.rs
  src/lsp/relint_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): keep an open document indexed from its buffer
  src/lsp/index_worker.rs
  src/lsp/relint_tests.rs
  src/lsp/server.rs
  src/lsp/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(tables): quoted brackets and a blank target are not a wikilink
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(tables): find a table's extent in the document's flavor
  src/lint_context/mod.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  src/rules/md075_orphaned_table_rows.rs
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.53
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

ci(release): hard-reset the winget fork before submitting
  .github/workflows/release.yml
Due: actionlint

ci(release): publish to crates.io with Trusted Publishing
  .github/workflows/release.yml
Due: actionlint

ci(prek): reject lowercase rule names in commit scopes
  .pre-commit-config.yaml
  scripts/check-commit-scope.sh
Due: none

chore(git): ignore per-machine notes and local settings
  .gitignore
Due: none

feat(MD010): add ignore-code-languages to exempt fence languages from tab checks
  docs/md010.md
  src/lint_context/flavor_detection.rs
  src/lint_context/mod.rs
  src/rules/md010_no_hard_tabs.rs
  src/rules/md010_no_hard_tabs/md010_config.rs
  src/rules/md031_blanks_around_fences.rs
  src/utils/pandoc.rs
  tests/formats/azure_devops_test.rs
  tests/rules/md010_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(action): add rumdl to PATH so later workflow steps can call it
  .github/workflows/test-action.yml
  scripts/rumdl-action.sh
Due: actionlint

feat(action): add install-only input to skip linting
  .github/workflows/test-action.yml
  README.md
  action.yml
  docs/usage/ci-cd.md
  scripts/rumdl-action.sh
Due: actionlint, rumdl

fix(code-block-tools): bound a hanging tool by its timeout and stop respawning it
  src/code_block_tools/executor.rs
  src/file_processor/processing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(action): add a command input to run rumdl fmt
  .github/workflows/test-action.yml
  README.md
  action.yml
  docs/usage/ci-cd.md
  scripts/rumdl-action.sh
Due: actionlint, rumdl

fix(code-block-tools): report findings at the line they belong to
  docs/code-block-tools.md
  src/code_block_tools/linguist.rs
  src/code_block_tools/mod.rs
  src/code_block_tools/processor.rs
  src/code_block_tools/registry.rs
  src/config/validation.rs
  tests/integration/code_block_tools_execution_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): stop a linter in a format slot from overwriting the block
  docs/code-block-tools.md
  src/code_block_tools/processor.rs
  src/code_block_tools/registry.rs
  tests/integration/code_block_tools_execution_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(code-block-tools): pin the tool environment so a runner and a laptop agree
  src/code_block_tools/registry.rs
  tests/integration/code_block_tools_execution_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(html-blocks): keep a nested raw-text element from opening its own block
  src/lint_context/heading_detection.rs
  src/lint_context/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(links): stop parsing reference links and images inside HTML blocks
  src/lint_context/link_parser.rs
  src/lint_context/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): honor the markdown attribute on every block-level element
  src/utils/mkdocs_html_markdown.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.54
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(core): align path-aware document processing across adapters
  docs/global-settings.md
  src/config/loading.rs
  src/config/mod.rs
  src/config/registry.rs
  src/discovery.rs
  src/document_run.rs
  src/file_processor/processing.rs
  src/fix_coordinator.rs
  src/lib.rs
  src/lint_context/mod.rs
  src/lsp/configuration.rs
  src/lsp/index_worker.rs
  src/lsp/linting.rs
  src/lsp/navigation.rs
  src/lsp/server.rs
  src/lsp/tests.rs
  src/rules/md041_first_line_heading.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md074_mkdocs_nav.rs
  src/rules/mod.rs
  src/stdin_processor.rs
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): honor per-directory config across workspace features
  src/lsp/completion.rs
  src/lsp/configuration.rs
  src/lsp/index_worker.rs
  src/lsp/navigation.rs
  src/lsp/server.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(discovery): share adapter file admission policy
  src/discovery.rs
  src/file_processor/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(lsp): construct workspace index rules directly
  src/lsp/index_worker.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(lint-context): own parsed link semantics
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/lsp/navigation.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md039_no_space_in_links.rs
  src/rules/md042_no_empty_links.rs
  src/rules/md044_proper_names.rs
  src/rules/md045_no_alt_text.rs
  src/rules/md051_link_fragments.rs
  src/rules/md052_reference_links_images.rs
  src/rules/md053_link_image_reference_definitions.rs
  src/rules/md054_link_image_style.rs
  src/rules/md054_link_image_style/transform.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md059_link_text.rs
  src/rules/md062_link_destination_whitespace.rs
  src/rules/md066_footnote_validation.rs
  src/workspace_index.rs
  tests/formats/mkdocs_extensions_test.rs
  tests/regressions/escaped_brackets_test.rs
  tests/regressions/html_comments_test.rs
  tests/rules/md051_test.rs
  tests/rules/md053_test.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(lint-context): own rendered heading semantics
  src/lint_context/heading_detection.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/lint_context/types.rs
  src/lsp/symbols.rs
  src/rules/md051_link_fragments.rs
  src/rules/md080_heading_anchor_collision.rs
  src/utils/header_id_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(lint-context): own parsed list semantics
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/lint_context/types.rs
  src/rules/md004_unordered_list_style.rs
  src/rules/md005_list_indent.rs
  src/rules/md007_ul_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(lint-context): own ordered list membership
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/lint_context/types.rs
  src/rules/md029_ordered_list_prefix.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test: normalize path separators in workspace include-scan assertions
  src/discovery.rs
  src/lsp/index_worker.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.55
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs(nav): add Code Block Tools page to navigation
  zensical.toml
Due: none

fix(md013): let a code span open a sentence
  docs/md013.md
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): end a sentence at the span that opened it
  docs/md013.md
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
