Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

perf(context): deduplicate content_lines and front_matter_end computation
  src/lint_context/flavor_detection.rs
  src/lint_context/heading_detection.rs
  src/lint_context/line_computation.rs
  src/lint_context/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(inline-config): replace per-line HashMaps with state-transition storage
  src/inline_config.rs
  src/lib.rs
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(cli): remove unused mmap path from read_file_efficiently
  Cargo.lock
  Cargo.toml
  src/cli_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(config): lazy-initialize rule registry and eliminate redundant all_rules() calls
  src/commands/check.rs
  src/commands/config.rs
  src/commands/explain.rs
  src/config/parsers.rs
  src/config/registry.rs
  src/file_processor/discovery.rs
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(core): share code block detection results with LineIndex
  src/lint_context/mod.rs
  src/utils/range_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(inline-config): eliminate redundant InlineConfig parsing
  src/file_processor/processing.rs
  src/lib.rs
  src/rules/md013_line_length/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(rules): replace content.lines().collect() with ctx.raw_lines()
  src/filtered_lines.rs
  src/rules/md009_trailing_spaces.rs
  src/rules/md010_no_hard_tabs.rs
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md025_single_title.rs
  src/rules/md026_no_trailing_punctuation.rs
  src/rules/md028_no_blanks_blockquote.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md035_hr_style.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md041_first_line_heading/mod.rs
  src/rules/md046_code_block_style.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md050_strong_style.rs
  src/rules/md052_reference_links_images.rs
  src/rules/md054_link_image_style.rs
  src/rules/md055_table_pipe_style.rs
  src/rules/md056_table_column_count.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md058_blanks_around_tables.rs
  src/rules/md060_table_format/mod.rs
  src/rules/md063_heading_capitalization/mod.rs
  src/rules/md065_blanks_around_horizontal_rules.rs
  src/rules/md069_no_duplicate_list_markers.rs
  src/rules/md070_nested_code_fence.rs
  src/rules/md071_blank_line_after_frontmatter.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.15
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  src/lint_context/mod.rs
  src/rules/md052_reference_links_images.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md032): idempotent fix for ordered non-1 list followed by unordered list
  proptest-regressions/rules/formatter_proptest.txt
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md032): use fix() method in proptest and allow convergence within 3 passes
  proptest-regressions/rules/formatter_proptest.txt
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md009): strip all trailing Unicode whitespace in a single pass
  proptest-regressions/rules/formatter_proptest.txt
  src/rules/md009_trailing_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md062): bail out when unmatched angle bracket masks closing paren
  src/rules/md062_link_destination_whitespace.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(docs): update to reflect `--no-exclude` replacing deprecated `--force-exclude`
  README.md
  docs/usage/cli.md
  docs/usage/pre-commit.md
Due: rumdl

chore(changelog): update towards v0.1.16
  CHANGELOG.md
Due: none

refactor(md001): extract compute_heading_fix() to unify check() and fix()
  src/rules/md001_heading_increment.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md001): track fixed heading level in check() for idempotent fixes
  proptest-regressions/rules/formatter_proptest.txt
  src/rules/md001_heading_increment.rs
  tests/rules/formatter_proptest.rs
  tests/rules/md001_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): preserve Quarto/Pandoc div markers during reflow
  src/filtered_lines.rs
  src/lint_context/line_computation.rs
  src/lint_context/types.rs
  src/rules/md013_line_length/mod.rs
  src/utils/text_reflow.rs
  tests/md013_quarto_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): use actual line length instead of URL-stripped length
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(action): support multiple space-separated file paths in path input
  .github/workflows/test-action.yml
  __tests__/fixtures/clean/test2.md
  action.yml
  scripts/rumdl-action.sh
Due: actionlint

test(md001): add integration tests for check/fix consistency and Setext handling
  tests/rules/md001_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(docs): fix YAML typo, indentation, and --no-exclude descriptions
  README.md
  docs/usage/pre-commit.md
Due: rumdl

refactor(reflow): extract block boundary helpers to deduplicate paragraph detection
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(rules): add link and nav validation guide, fix MD051 cross-file docs
  docs/link-validation.md
  docs/md051.md
  src/rules/md051_link_fragments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(helix): add formatter config and note about built-in support
  docs/lsp.md
  docs/usage/editors.md
Due: rumdl

fix(config): handle markdownlint `default` key and boolean rule semantics
  src/config/loading.rs
  src/config/types.rs
  src/file_processor/discovery.rs
  src/markdownlint_config.rs
  tests/markdownlint_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md013): add semantic-line-breaks reflow mode (preview)
  docs/md013.md
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/mod.rs
  src/utils/text_reflow.rs
  tests/md013_reflow_integration_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to 0.1.16
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

chore(ci): migrate pre-commit config to prek format
  .pre-commit-config.yaml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(reflow): fix panic on multi-byte chars and preserve element adjacency
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(changelog): add reflow panic fix and element adjacency to v0.1.16
  CHANGELOG.md
Due: none

fix(ci): pass version in pre-commit dispatch payload
  .github/workflows/release.yml
Due: actionlint

fix(config): handle enable = [] as disable-all for rule configuration
  src/config/parsers.rs
  src/config/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): preserve admonition markers during text reflow
  src/rules/md013_line_length/mod.rs
  tests/md013_mkdocs_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md033): escape regex special characters in allowed_elements
  src/rules/md033_no_inline_html.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(md045): make diagnostic-only, remove auto-fix
  docs/md045.md
  src/rules/md045_no_alt_text.rs
  tests/rules/inline_content_edge_cases_test.rs
  tests/rules/md045_test.rs
  tests/unfixable_rules_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md036): only flag emphasis that forms a standalone paragraph
  src/rules/md036_no_emphasis_only_first.rs
  tests/rules/md036_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(md045): remove unused placeholder-text config field
  src/rules/md045_no_alt_text/md045_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to 0.1.17
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
  src/rules/md013_line_length/mod.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md045_no_alt_text.rs
  src/rules/md045_no_alt_text/md045_config.rs
  tests/md013_mkdocs_reflow_test.rs
  tests/rules/inline_content_edge_cases_test.rs
  tests/rules/md036_test.rs
  tests/rules/md045_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
