Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

fix(md013): preserve GitHub alert markers during blockquote reflow
  CHANGELOG.md
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
  src/rules/md044_proper_names.rs
  tests/md013_hard_breaks_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(readme): update pre-commit hook version to v0.1.24
  README.md
Due: rumdl

chore(npm): update npm package versions to v0.1.24
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: none

docs(readme): update mise install version to v0.1.24
  README.md
Due: rumdl

chore(rules): regenerate rules.json for v0.1.24
  rules.json
Due: none

fix(stdin): apply inline config directives when linting from stdin
  CHANGELOG.md
  src/stdin_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(stdin): add integration tests for inline config directives via stdin
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(stdin): apply inline config filtering in fix-mode re-check loop
  src/stdin_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(lint): inline format args in test assertions
  src/rules/md013_line_length/tests.rs
  src/rules/md044_proper_names.rs
  tests/md013_hard_breaks_test.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(schema): regenerate JSON schema for v0.1.24
  rumdl.schema.json
Due: none

fix(md044): skip proper name checks inside HTML tag attributes
  src/rules/md044_proper_names.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to v0.1.25
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(lsp): add markdown link target completion (#434)
  src/lsp/completion.rs
  src/lsp/server.rs
  src/lsp/tests.rs
  src/lsp/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(ci): add --fail to dispatch curl commands to surface auth errors
  .github/workflows/release.yml
Due: actionlint

fix(ci): prevent dispatch failures from cascading across notify steps
  .github/workflows/release.yml
Due: actionlint

feat(ci): add npm OIDC trusted publishing support
  .github/workflows/release.yml
  wasm-pkg/package.json.tmpl
Due: actionlint

feat: add autofix support for MD041 (first-line-heading)
  src/fix_coordinator.rs
  src/rules/md041_first_line_heading/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md022): flag headings with excess blank lines above/below
  docs/md022.md
  src/rules/md022_blanks_around_headings.rs
  tests/rules/heading_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: fix multi-paragraph list item indentation
  docs/global-settings.md
Due: rumdl

feat(config): support top-level global keys in rumdl.toml without [global] section
  docs/global-settings.md
  src/config/parsers.rs
  src/lint_context/flavor_detection.rs
  tests/cli_integration_tests.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.34
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

Fix MD077 for multiline loose continuation paragraphs
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): find incoming file references from target document
  src/lsp/navigation.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(ci): only dispatch downstream notifications when publish steps succeed
  .github/workflows/release.yml
Due: actionlint

feat(lsp): add hover preview for markdown links (#477)
  src/lsp/navigation.rs
  src/lsp/server.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(rules,lsp): add additional test coverage for MD077 and find-references
  src/lsp/navigation.rs
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.35
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(wasm): enable opt-in rules via per-rule `enabled = true` and `extend-enable`
  docs/RULES.md
  src/config/loading.rs
  src/config/types.rs
  src/wasm.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(lint): add Rust doc comment linting support
  src/doc_comment_lint.rs
  src/file_processor/doc_comments.rs
  src/file_processor/mod.rs
  src/file_processor/processing.rs
  src/lib.rs
  tests/doc_comment_lint_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(wasm): add missing config fields and fix parity with CLI
  src/wasm.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.36
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

fix(lint): resolve clippy manual_strip warnings in doc comment parsing
  src/doc_comment_lint.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): skip HTML comments and frontmatter in MD028
  src/rules/md028_no_blanks_blockquote.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): skip alert/callout syntax in MD054 shortcut link detection
  src/rules/md054_link_image_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): preserve underscores in code spans during GitHub anchor generation
  src/utils/anchor_styles/github.rs
  tests/rules/md051_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): treat pipes in code spans as content in table parsing
  src/lint_context/element_parsers.rs
  src/rules/md056_table_column_count.rs
  src/rules/md060_table_format/mod.rs
  src/utils/table_utils.rs
  tests/rules/md050_test.rs
  tests/rules/md056_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): add line-level code span detection fallback for MD050 in tables
  src/rules/md050_strong_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(test): remove test that asserts pulldown-cmark limitation as expected behavior
  tests/rules/md050_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
