Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: add MD089 single blank line before heading rule
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md089.md
  docs/mdformat-comparison.md
  docs/obsidian-linter-comparison.md
  docs/rules.md
  src/config/registry.rs
  src/rules/md089_single_blank_line_before_heading.rs
  src/rules/md089_single_blank_line_before_heading/md089_config.rs
  src/rules/mod.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(playground): rebuild browser editor
  .github/workflows/docs.yml
  docs/javascripts/playground-editor.js
  docs/javascripts/playground-editor.licenses.txt
  docs/javascripts/rumdl.js
  docs/playground.md
  docs/stylesheets/rumdl.css
  functions/api/events.js
  scripts/docs_analytics_test.mjs
  scripts/docs_smoke_test.py
  web/playground/package-lock.json
  web/playground/package.json
  web/playground/src/editor.js
Due: actionlint, rumdl

ci(deps): pin upd v0.9.1 in the weekly dependency workflow
  .github/workflows/dependencies.yml
Due: actionlint

feat(brand): refine wordmark typography
  assets/logo-dark.svg
  assets/logo.png
  assets/social-preview.png
  docs/images/rumdl-logo-dark.svg
  docs/images/rumdl-logo.svg
  docs/images/rumdl-mark.svg
  docs/images/social-preview.jpg
  docs/stylesheets/rumdl.css
  zensical.toml
Due: none

chore(ci): bump upd to v0.9.2
  .github/workflows/dependencies.yml
Due: actionlint

fix(MD073): read TOC markers and heading anchors as rendered
  docs/md073.md
  src/rules/md073_toc_validation.rs
  src/utils/header_id_utils.rs
  tests/regressions/md013_md073_inline_toc_markers_issue_840_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD051): register HTML anchors as browsers resolve them
  docs/md051.md
  src/rules/md051_link_fragments.rs
  tests/rules/md051_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD063): preserve every inline HTML tag in headings
  docs/md063.md
  src/rules/md033_no_inline_html.rs
  src/rules/md033_no_inline_html/md033_config.rs
  src/rules/md063_heading_capitalization.rs
  src/utils/html_elements.rs
  src/utils/mod.rs
  tests/regressions/md063_html_anchor_issue_839_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(deps): update vulnerable development dependencies
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.lock
Due: cargo-lock-check, cargo-lock-check-push

chore: bump version to v0.2.63
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(md013): let a code span open a sentence
  docs/md013.md
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): split a sentence-per-line tail that ends on an atomic element
  src/utils/text_reflow.rs
  tests/regressions/md013_reflow_span_terminated_sentence_issue_811_test.rs
  tests/regressions/mod.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD051): slug headings with the whitespace an anchor element leaves
  src/lint_context/heading_detection.rs
  src/lint_context/tests.rs
  src/lint_context/types.rs
  src/rules/md051_link_fragments.rs
  src/rules/md073_toc_validation.rs
  src/rules/md080_heading_anchor_collision.rs
  src/utils/anchor_styles/kramdown_gfm.rs
  src/utils/anchor_styles/mod.rs
  src/utils/header_id_utils.rs
  tests/regressions/md051_md073_md080_heading_slug_whitespace_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD073): skip TOC entries for headings that slug to nothing
  src/rules/md073_toc_validation.rs
  src/utils/header_id_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD063): capitalize opening link labels in sentence case
  src/rules/md063_heading_capitalization.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): handle sentences ending before code spans (#812)
  docs/md013.md
  src/utils/text_reflow.rs
  tests/regressions/md013_reflow_span_terminated_sentence_issue_811_test.rs
  tests/regressions/mod.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD022): accept per-level arrays during validation
  src/rules/md022_blanks_around_headings.rs
  tests/cli/cli_config_override_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(unicode): add is_cjk_letter predicate
  src/utils/unicode.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD089): add cjk-spacing rule
  src/config/registry.rs
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md089_cjk_spacing.rs
  src/rules/md089_cjk_spacing/tests.rs
  src/rules/mod.rs
  src/utils/mod.rs
  src/utils/obsidian_tag.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/cli/cli_md089_cjk_spacing_test.rs
  tests/cli/mod.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(MD089): document the cjk-spacing rule
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md089.md
  docs/mdformat-comparison.md
  docs/obsidian-linter-comparison.md
  docs/rules.md
  docs/stability.md
  rules.json
  src/rules/md089_cjk_spacing/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD089): add configuration for cjk-spacing symbol sets
  src/rules/md089_cjk_spacing.rs
  src/rules/md089_cjk_spacing/md089_config.rs
  src/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(docs): improve responsive accessibility
  docs/stylesheets/rumdl.css
Due: none

feat(flavor): add GitHub Agentic Workflows preview support
  .rumdl.toml
  CHANGELOG.md
  README.md
  docs/comparison.md
  docs/flavors.md
  docs/flavors/gh-aw.md
  docs/global-settings.md
  docs/javascripts/rumdl.js
  docs/markdownlint-comparison.md
  docs/md034.md
  docs/md041.md
  docs/md057.md
  docs/mdformat-comparison.md
  docs/playground.md
  docs/stability.md
  functions/api/adoption.js
  functions/api/events.js
  rumdl.schema.json
  scripts/docs_analytics_test.mjs
  src/cli_types.rs
  src/config/flavor.rs
  src/config/parsers.rs
  src/config/tests.rs
  src/config/types.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md041_first_line_heading.rs
  src/rules/md057_existing_relative_links.rs
  src/utils/frontmatter_values.rs
  src/utils/gh_aw.rs
  src/utils/mod.rs
  src/wasm.rs
  src/workspace_index.rs
  tests/cli/cli_flavor_test.rs
  tests/config/schema_validation_test.rs
  tests/fixtures/gh_aw/branching-workflow.md
  tests/fixtures/gh_aw/conditional-workflow.md
  tests/fixtures/gh_aw/imports-only.md
  tests/fixtures/gh_aw/representative-workflow.md
  tests/formats/gh_aw_integration_test.rs
  tests/formats/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.64
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(MD063): preserve first-person pronoun in sentence case
  docs/md063.md
  src/rules/md063_heading_capitalization.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD063): honor pronoun boundaries and explicit ignores
  CHANGELOG.md
  src/rules/md063_heading_capitalization.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD046): preserve code blocks during style conversion
  docs/md046.md
  src/rules/md046_code_block_style.rs
  tests/cli/cli_issue_846_test.rs
  tests/cli/mod.rs
  tests/rules/md046_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(cli): add code-block-tool mode flags
  README.md
  docs/code-block-tools.md
  docs/usage/cli.md
  src/check_runner.rs
  src/cli_types.rs
  src/cli_utils.rs
  src/commands/check.rs
  src/file_processor/discovery.rs
  src/file_processor/processing.rs
  src/main.rs
  src/resolution.rs
  src/stdin_batch_processor.rs
  src/stdin_processor.rs
  src/watch.rs
  tests/cli/cli_code_block_tool_modes_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD091): add opt-in rule for markdown inside HTML blocks
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md091.md
  docs/mdformat-comparison.md
  docs/obsidian-linter-comparison.md
  docs/rules.md
  docs/stability.md
  src/config/registry.rs
  src/lint_context/link_parser.rs
  src/lint_context/mod.rs
  src/rules/md091_no_markdown_in_html.rs
  src/rules/mod.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): print each code-block-tools setting on one line
  src/formatter.rs
  tests/config/config_output_completeness_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): show every configuration section in rumdl config
  src/formatter.rs
  tests/config/config_output_completeness_test.rs
  tests/config/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): parse [tool.rumdl.code-block-tools] in pyproject.toml
  docs/code-block-tools.md
  src/config/parsers.rs
  src/config/source_tracking.rs
  src/config/tests.rs
  tests/config/config_format_equivalence_test.rs
  tests/config/config_tests.rs
  tests/config/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(config): pin the line length MD060 and MD075 size tables against
  tests/config/line_length_inheritance_test.rs
  tests/config/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): report the line length MD013 enforces
  src/commands/config.rs
  src/formatter.rs
  src/lsp/linting.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md060_table_format.rs
  src/rules/md075_orphaned_table_rows.rs
  tests/config/config_output_completeness_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): state that an empty section in rumdl config is empty
  src/formatter.rs
  tests/config/config_output_completeness_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): report a malformed code-block-tools section
  src/config/parsers.rs
  tests/config/config_format_equivalence_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.65
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs(changelog): restore the generated entries of 0.2.61, 0.2.64 and 0.2.65 and link every version heading
  CHANGELOG.md
Due: none

docs(contributing): describe how curated changelog notes are merged at release time
  CONTRIBUTING.md
Due: rumdl

chore(tooling): remove git-cliff, which no longer generates the changelog
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .mise.toml
  cliff.toml
Due: actionlint

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
