Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(md040): stop normalizing fence labels to an invalid preferred alias
  src/lsp/completion.rs
  src/lsp/tests.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/md040_fenced_code_language/md040_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md040): add custom-languages for fence labels Linguist does not know
  docs/md040.md
  src/lsp/completion.rs
  src/lsp/tests.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/md040_fenced_code_language/md040_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md082): add allow-parent-headings to accept a heading with subsections
  docs/md082.md
  src/rules/md082_no_empty_sections.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md040): reject custom-languages entries containing whitespace
  docs/md040.md
  src/rules/md040_fenced_code_language.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md040): honor a rule alias in a disable comment
  src/rules/md040_fenced_code_language.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat: name rules by their readable name in generated output
  docs/lsp.md
  docs/md060.md
  docs/md073.md
  src/commands/rule.rs
  src/config/registry.rs
  src/lsp/tests.rs
  src/lsp/types.rs
  tests/cli/cli_integration_tests.rs
  tests/config/documented_rule_names_test.rs
  tests/config/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md040): take disabled fences out of the label vote by the shared state
  src/rules/md040_fenced_code_language.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md033): add allowed-inside and a no-markdown-equivalent allowlist value
  docs/md033.md
  src/rules/md033_no_inline_html.rs
  src/rules/md033_no_inline_html/md033_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md051,md057): check path-shaped frontmatter values behind an option
  docs/md051.md
  docs/md057.md
  src/rules/md044_proper_names.rs
  src/rules/md051_link_fragments.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md057_existing_relative_links/md057_config.rs
  src/utils/frontmatter_values.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md051,md057): read frontmatter in documents that hold no body links
  src/lib.rs
  src/rule.rs
  src/rules/md051_link_fragments.rs
  src/rules/md057_existing_relative_links.rs
  src/utils/frontmatter_values.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md051): resolve cross-file links whose path carries a query string
  src/rules/md051_link_fragments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md087): report inline disable comments that suppress nothing
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/inline-configuration.md
  docs/markdownlint-comparison.md
  docs/md087.md
  docs/mdformat-comparison.md
  docs/rules.md
  docs/stability.md
  src/config/registry.rs
  src/file_processor/processing.rs
  src/inline_config.rs
  src/lib.rs
  src/rule.rs
  src/rules/md087_unused_disable_comment.rs
  src/rules/mod.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/cli/md087_unused_disable_test.rs
  tests/cli/mod.rs
  tests/integration/rules_mod_test.rs
  tests/rules/md087_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(lsp): give the per-file-ignores tests a path Windows can resolve
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): exempt nested standalone links
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): adjust paragraph reflow limit for common indent
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): avoid warning on pseudo-list markers after recognized lists
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md062): preserve parentheses in link destinations
  src/rules/md062_link_destination_whitespace.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md032): avoid warning on pseudo-list markers after recognized lists
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): adjust paragraph reflow limit for common indent
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): exempt nested standalone links
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md063): name the documented style spellings when a style is invalid
  src/rules/md063_heading_capitalization/md063_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md062,lint-context): scan link escapes in one forward pass
  src/lint_context/link_parser.rs
  src/rules/md062_link_destination_whitespace.rs
  tests/perf/rule_complexity_regression_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): exempt an HTML-only line in a blockquote inside a list item
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.48
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(md087,inline-config): judge directives in indented container bodies
  docs/inline-configuration.md
  docs/md087.md
  src/file_processor/processing.rs
  src/inline_config.rs
  src/lint_context/mod.rs
  src/lsp/linting.rs
  src/rules/md087_unused_disable_comment.rs
  src/stdin_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(mkdocs): read an indented code block inside a container body as code
  src/lint_context/flavor_detection.rs
  tests/rules/mkdocs_admonitions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: verify the Homebrew tap on release
  vership.toml
Due: none

fix(md013): track line numbers in BlockBuilder for list reflow
  proptest-regressions/rules/md013_line_length/block_builder.txt
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/block_builder.rs
  src/rules/md013_line_length/helpers.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md058,md065): preserve the trailing newline when inserting blank lines
  src/rules/md058_blanks_around_tables.rs
  src/rules/md065_blanks_around_horizontal_rules.rs
  tests/cli/cli_lsp_fix_consistency.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): track line numbers in BlockBuilder for list reflow (#780)
  proptest-regressions/rules/md013_line_length/block_builder.txt
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/block_builder.rs
  src/rules/md013_line_length/helpers.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md058,md065): preserve the trailing newline when inserting blank lines (#783)
  src/rules/md058_blanks_around_tables.rs
  src/rules/md065_blanks_around_horizontal_rules.rs
  tests/cli/cli_lsp_fix_consistency.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md038): judge nested backticks against the outermost spans on a line
  src/rules/md038_no_space_in_code.rs
  tests/perf/rule_complexity_regression_test.rs
  tests/rules/md038_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md045,md057,md044): stop reporting wiki embeds as images
  docs/md044.md
  docs/md045.md
  docs/md057.md
  src/lint_context/link_parser.rs
  src/lint_context/tests.rs
  src/rules/md045_no_alt_text.rs
  src/rules/md057_existing_relative_links.rs
  tests/rules/md044_test.rs
  tests/rules/md045_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md039): keep wikilinks and nested images intact when trimming link text
  docs/md039.md
  src/rules/md039_no_space_in_links.rs
  tests/rules/md039_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md044): read a wikilink's display text, not the page name it hides
  docs/md044.md
  src/rules/md044_proper_names.rs
  tests/rules/md044_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(fix-utils): measure fix ranges against the content the rule read
  src/utils/fix_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md072): keep every trailing newline when sorting frontmatter keys
  src/rules/md072_frontmatter_key_sort.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): keep an extends target's path and contents out of messages about it
  docs/global-settings.md
  src/code_block_tools/config.rs
  src/code_block_tools/processor.rs
  src/config/flavor.rs
  src/config/loading.rs
  src/config/parsers.rs
  src/config/source_tracking.rs
  src/config/types.rs
  src/config/validation.rs
  src/config_intelligent_merge_tests.rs
  src/discovery.rs
  src/file_processor/discovery.rs
  src/rule_config_serde.rs
  src/rules/md001_heading_increment.rs
  src/rules/md041_first_line_heading.rs
  src/rules/md051_link_fragments.rs
  tests/config/extends_tests.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.49
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

perf(md013): optimize standalone link check using binary search on LintContext
  src/lint_context/link_parser.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/helpers.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
