Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

fix(MD051): delete the emoji marker pass from the GitHub anchor style
  src/utils/anchor_styles/github.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD051): match GitHub for § and for an emoji not surrounded by spaces (#854)
  src/utils/anchor_styles/github.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(MD051): pin the FE0F row and state the GitHub emoji rule in present tense
  src/utils/anchor_styles/github.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(changelog): note what changes for existing links and TOCs with the MD051 anchor fix
  CHANGELOG.md
Due: none

docs(pre-commit): document code-block tool modes through args
  docs/usage/pre-commit.md
Due: rumdl

fix(MD013): read require-sentence-capital when counting sentences
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): keep a link-only line inside the sentence it continues
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD063): recognize an ordinal wrapped in punctuation
  src/rules/md063_heading_capitalization.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(MD013): describe the link-line paragraph boundary per reflow mode
  docs/md013.md
Due: rumdl

feat(cli): accept format as a hidden alias for fmt
  src/main.rs
  tests/cli/cli_alias_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): apply inline --config overrides to the non-rule sections
  docs/cli-config-overrides.md
  docs/code-block-tools.md
  docs/usage/cli.md
  src/cli_config_override.rs
  src/commands/check.rs
  src/config/flavor.rs
  src/config/source_tracking.rs
  tests/cli/cli_config_override_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.66
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs(MD004): remove the non-existent after-marker option
  docs/md004.md
Due: rumdl

docs(pre-commit): name the missing-binary path that passes silently
  docs/usage/pre-commit.md
Due: rumdl

docs(pre-commit): show the inline --config form of the missing-binary guard
  docs/usage/pre-commit.md
Due: rumdl

docs(pre-commit): document supplying code-block tools via additional_dependencies
  docs/usage/pre-commit.md
Due: rumdl

fix(code-block-tools): report tool failures from the format path
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/usage/cli.md
  docs/usage/pre-commit.md
  src/code_block_tools/processor.rs
  src/file_processor/processing.rs
  src/formatter.rs
  tests/integration/code_block_tools_exit_code_test.rs
  tests/integration/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(code-block-tools): state both causes of a file-level tool error
  src/file_processor/processing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): report missing tool binaries instead of passing silently
  docs/code-block-tools.md
  docs/usage/pre-commit.md
  rumdl.schema.json
  src/check_runner.rs
  src/code_block_tools/config.rs
  src/code_block_tools/processor.rs
  src/config/validation.rs
  src/file_processor/processing.rs
  src/resolution.rs
  tests/integration/code_block_tools_missing_tool_test.rs
  tests/integration/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD042): do not report an image with an unparseable destination as an empty link
  src/lint_context/link_parser.rs
  src/rules/md052_reference_links_images.rs
  tests/rules/md042_test.rs
  tests/rules/md052_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): survive a tool that exits without reading its input
  src/code_block_tools/executor.rs
  tests/integration/code_block_tools_exit_code_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.67
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

perf: reduce regex locking and redundant rule work
  benches/perf_audit.rs
  src/rules/code_fence_utils.rs
  src/rules/heading_utils.rs
  src/rules/md014_commands_show_output.rs
  src/rules/md039_no_space_in_links.rs
  src/rules/strong_style.rs
  tests/rules/md014_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf: precompute proper-name lookups and streamline regex caching
  benches/perf_audit.rs
  src/rules/md044_proper_names.rs
  src/utils/regex_cache.rs
  tests/rules/md032_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(mdx): parse Markdown links inside JSX elements
  Cargo.lock
  Cargo.toml
  docs/flavors/mdx.md
  docs/md091.md
  src/lint_context/link_parser.rs
  src/lint_context/mdx.rs
  src/lint_context/mod.rs
  tests/regressions/mdx_link_context_issue_801_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.68
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs(rules): Move other rules to related tables
  docs/rules.md
Due: rumdl

fix(deps): remove unmaintained paste and atomic-polyfill
  Cargo.lock
  Cargo.toml
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: preserve markdown containing merge conflicts
  docs/usage/cli.md
  src/code_block_tools/processor.rs
  src/file_processor/doc_comments.rs
  src/file_processor/embedded.rs
  src/file_processor/processing.rs
  src/fix_coordinator.rs
  src/lib.rs
  src/lsp/linting.rs
  src/lsp/server.rs
  src/lsp/tests.rs
  src/merge_conflict.rs
  src/stdin_processor.rs
  tests/integration/merge_conflict_test.rs
  tests/integration/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(mdx): avoid parser panic on malformed Setext headings
  proptest-regressions/rules/formatter_proptest.txt
  src/lint_context/mdx.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): separate lists from standalone code fences
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): recognize spaced nested blockquotes
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.69
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs(rules): Move other rules to related tables (#860)
  docs/rules.md
Due: rumdl

docs(rules): file each rule under exactly one category
  docs/rules.md
Due: rumdl

chore(scripts): reject a rule listed under more than one category
  scripts/check-rule-docs.py
  scripts/test_check_rule_docs.py
Due: none

fix(stdin): preserve original bytes when formatting is unchanged
  src/stdin_processor.rs
  tests/formats/crlf_line_endings_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD046): align fence repairs with diagnostic edits
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test: replace vacuous checks with behavioral assertions
  src/rules/md005_list_indent.rs
  src/rules/md013_line_length/tests.rs
  src/rules/md041_first_line_heading.rs
  tests/rules/md051_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): preserve line endings in document fixes
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
