Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

perf(md032): move lazy continuation detection to LintContext cache
  src/lint_context/element_parsers.rs
  src/lint_context/mod.rs
  src/lint_context/types.rs
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md033): use windowed regex matching for HTML tag parsing
  src/lint_context/element_parsers.rs
  src/lint_context/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md034): skip regex passes on lines without relevant constructs
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): use base marker width for mkdocs checkbox continuation indent
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(rules): fix rule trait metadata across 35 rules
  src/rules/md011_no_reversed_links.rs
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md014_commands_show_output.rs
  src/rules/md024_no_duplicate_heading.rs
  src/rules/md026_no_trailing_punctuation.rs
  src/rules/md027_multiple_spaces_blockquote.rs
  src/rules/md035_hr_style.rs
  src/rules/md036_no_emphasis_only_first.rs
  src/rules/md043_required_headings.rs
  src/rules/md044_proper_names.rs
  src/rules/md045_no_alt_text.rs
  src/rules/md047_single_trailing_newline.rs
  src/rules/md048_code_fence_style.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md050_strong_style.rs
  src/rules/md051_link_fragments.rs
  src/rules/md052_reference_links_images.rs
  src/rules/md053_link_image_reference_definitions.rs
  src/rules/md054_link_image_style.rs
  src/rules/md055_table_pipe_style.rs
  src/rules/md056_table_column_count.rs
  src/rules/md058_blanks_around_tables.rs
  src/rules/md059_link_text.rs
  src/rules/md060_table_format/mod.rs
  src/rules/md061_forbidden_terms/mod.rs
  src/rules/md063_heading_capitalization/mod.rs
  src/rules/md065_blanks_around_horizontal_rules.rs
  src/rules/md066_footnote_validation.rs
  src/rules/md067_footnote_definition_order.rs
  src/rules/md068_empty_footnote_definition.rs
  src/rules/md071_blank_line_after_frontmatter.rs
  src/rules/md072_frontmatter_key_sort.rs
  src/rules/md074_mkdocs_nav.rs
  src/rules/md076_list_item_spacing.rs
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md013): add coverage for nested, idempotent, mixed, and LSP checkbox indent
  src/rules/md013_line_length/tests.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): improve warning positions for MD066, MD067, MD074
  src/rules/md041_first_line_heading/mod.rs
  src/rules/md066_footnote_validation.rs
  src/rules/md067_footnote_definition_order.rs
  src/rules/md074_mkdocs_nav.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.48
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  src/code_block_tools/processor.rs
  src/lint_context/tests.rs
  src/rules/md005_list_indent.rs
  src/rules/md041_first_line_heading/mod.rs
  src/rules/md043_required_headings.rs
  src/rules/md046_code_block_style.rs
  src/rules/md066_footnote_validation.rs
  src/rules/md067_footnote_definition_order.rs
  src/rules/md074_mkdocs_nav.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): include file path and block location in code-block-tools error messages
  src/code_block_tools/processor.rs
  src/file_processor/processing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): treat blockquotes as structural content in MD076 tight lists
  src/rules/md076_list_item_spacing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.49
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(cli): translate code-block-tools stdin line references to absolute file positions
  src/file_processor/processing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): match rumdl's [RULE] bracket format for code-block-tools errors
  src/file_processor/processing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.50
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

ci: upgrade GitHub Actions to Node.js 24
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/sync-schemastore.yml
  CHANGELOG.md
Due: actionlint

feat(rules): add allow-loose-continuation option to MD076
  docs/md076.md
  src/rules/md076_list_item_spacing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(rules): support reflow fix for footnote definitions in MD013
  src/rules/md013_line_length/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(changelog): add MD076 and MD013 features to v0.1.50
  CHANGELOG.md
Due: none

chore(release): update rules.json with current rule metadata
  rules.json
Due: none

fix(rules): harden MD013 footnote reflow against edge cases
  src/rules/md013_line_length/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(rules): support multi-paragraph footnote reflow in MD013
  src/rules/md013_line_length/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(changelog): update MD013 footnote entry for multi-paragraph support
  CHANGELOG.md
Due: none

fix(rules): fix MD013 footnote reflow edge cases
  src/rules/md013_line_length/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(changelog): add MD013 footnote edge case fixes to v0.1.50
  CHANGELOG.md
Due: none

fix(rules): use char array for clippy manual_pattern_char_comparison
  src/rules/md013_line_length/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): resolve clippy needless_borrow and collapsible_if warnings
  src/file_processor/processing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(rules): harden MD076 continuation content detection
  src/rules/md076_list_item_spacing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(rules): verify continuation indent matches parent list item
  src/rules/md076_list_item_spacing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(rules): add MD076 allow-loose-continuation coverage
  src/rules/md076_list_item_spacing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): ignore BrokenPipe when writing to tool stdin
  src/code_block_tools/executor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.51
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(cli): collapse nested if for clippy collapsible_if
  src/code_block_tools/executor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(rules): add blockquotes config option to MD013 and fix paragraphs=false behavior
  docs/md013.md
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
  tests/formats/sentence_per_line_test.rs
  tests/integration/fix_counting_test.rs
  tests/rules/md013_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): treat indented tables as list continuation content in MD032
  src/lint_context/list_blocks.rs
  tests/regressions/md032_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): skip inline link URLs in HTML comments for MD044
  src/rules/md044_proper_names.rs
  tests/rules/md044_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(rules): add edge case tests for MD032 table-in-list fix
  tests/regressions/md032_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(rules): add edge case tests for MD044 inline link URL detection
  tests/rules/md044_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): skip reference-style link URLs in HTML comments for MD044
  src/rules/md044_proper_names.rs
  tests/rules/md044_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): correct max_marker_width for first ordered list block and tighten edge cases
  src/lint_context/list_blocks.rs
  src/rules/md044_proper_names.rs
  src/rules/md076_list_item_spacing.rs
  tests/regressions/md032_edge_cases_test.rs
  tests/rules/md044_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): handle double-escaped brackets in MD044 link URL detection and add edge case tests
  src/rules/md044_proper_names.rs
  tests/regressions/md032_edge_cases_test.rs
  tests/rules/md044_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
