Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: ./target/release/rumdl check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-doc-check:
  name: cargo doc (check)
  entry: cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

perf(MD030): eliminate O(n²) complexity by caching line collection
  src/rules/md030_list_marker_space.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf(MD005): eliminate LineIndex creation overhead
  src/rules/md005_list_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf(MD034): reuse buffers to reduce per-line allocations
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD013): implement segment-based reflow to preserve hard breaks
  src/fix_coordinator.rs
  src/rules/md013_line_length.rs
  src/utils/text_reflow.rs
  tests/md009_md013_integration_test.rs
  tests/md009_md013_order_test.rs
  tests/md013_hard_breaks_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

test(MD013): update integration tests for segment-based reflow
  tests/md009_md013_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.154
  Cargo.lock
  Cargo.toml
Due: none

fix: remove unused cdylib and dependencies, fix PyPI package structure
  .github/workflows/release.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/MANIFEST.in
  python/PYTHON-README.md
  python/rumdl/__init__.py
  rumdl/__init__.py
  rumdl/__main__.py
  rumdl/py.typed
  src/lib.rs
  src/python.rs
  src/vscode.rs
  tests/python_bindings_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.155
  Cargo.lock
  Cargo.toml
Due: none

fix: remove feature-gated benchmark binaries causing reinstalls
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Due: none

Include hidden directories in markdown file scanning
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: always respect exclude patterns for explicitly provided files
  src/config.rs
  src/lsp/server.rs
  src/main.rs
  tests/cli_integration_tests.rs
  tests/exclude_with_explicit_paths_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(md034): prevent false positives on empty link constructs
  src/rules/md034_no_bare_urls.rs
  tests/rules/md034_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(md042): use URL text as destination when link URL is empty
  src/rules/md042_no_empty_links.rs
  tests/rules/md034_test.rs
  tests/rules/md042_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor(md042): remove useless example.com placeholder fixes
  src/rules/md042_no_empty_links.rs
  tests/rules/md042_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(md033): properly detect code blocks inside blockquotes
  src/utils/code_block_utils.rs
  tests/code_block_blockquote_edge_cases.rs
  tests/rules/md033_blockquote_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(md042): add support for MkDocs paragraph anchors
  docs/md042.md
  src/rules/md042_no_empty_links.rs
  src/utils/mkdocs_patterns.rs
  tests/mkdocs_anchor_edge_cases_test.rs
  tests/mkdocs_anchor_test.rs
  tests/rules/link_edge_cases_test.rs
  tests/rules/md042_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.157
  Cargo.lock
  Cargo.toml
Due: none

fix(tests): correct test expectations for unfixable empty links and performance threshold
  tests/rules/link_edge_cases_test.rs
  tests/rules/md051_comprehensive_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs(changelog): add comprehensive entries for versions 0.0.147-0.0.156
  CHANGELOG.md
Due: none

fix(md034,md046,md057): correct byte position calculation for CRLF line endings
  src/rules/md034_no_bare_urls.rs
  src/rules/md046_code_block_style.rs
  src/rules/md057_existing_relative_links.rs
  tests/crlf_line_endings_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(md037,md049,md011): correct byte position calculations for CRLF line endings
  src/rules/md011_no_reversed_links.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md049_emphasis_style.rs
  tests/crlf_line_endings_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(md050,md037,md010,md026): correct byte position calculations for CRLF line endings
  src/rules/md010_no_hard_tabs.rs
  src/rules/md026_no_trailing_punctuation.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md050_strong_style.rs
  tests/crlf_line_endings_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(code_block_utils): correct byte position calculation in is_in_code_span for CRLF
  src/rules/code_block_utils.rs
  tests/crlf_line_endings_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: normalize line endings once at end for efficiency
  src/fix_coordinator.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: move line ending handling to I/O boundary
  src/fix_coordinator.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: remove wrapper functions and legacy fix implementation
  CHANGELOG.md
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: extract formatter module from main.rs
  src/formatter.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: extract watch module from main.rs
  src/main.rs
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: extract file_processor module from main.rs
  src/file_processor.rs
  src/main.rs
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: extract stdin_processor module from main.rs
  src/main.rs
  src/stdin_processor.rs
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: fix flaky tests with dependency injection
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/vscode.rs
  tests/config_tests.rs
  tests/vscode_test.rs
  tests/vscode_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.158
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/vscode.rs
  tests/vscode_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: simplify line ending handling in rules
  src/rules/md009_trailing_spaces.rs
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md047_single_trailing_newline.rs
  tests/crlf_line_endings_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs(changelog): add line ending simplification to v0.0.158
  CHANGELOG.md
Due: none

feat: add JSON schema generation with 'rumdl schema' subcommand
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  docs/schemastore-submission.md
  rumdl.schema.json
  src/bin/generate_schema.rs
  src/main.rs
  tests/schema_validation_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: remove generate_schema binary (functionality moved to 'rumdl schema' subcommand)
  src/bin/generate_schema.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

style: format schema validation test
  tests/schema_validation_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD051): handle backtick headings with angle brackets correctly
  README.md
  src/rules/md051_link_fragments.rs
  tests/rules/md051_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.159
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  rumdl.schema.json
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
