Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

fix(md022): keep blanks-around-headings fix idempotent next to lists
  CHANGELOG.md
  proptest-regressions/rules/formatter_proptest.txt
  src/rules/md022_blanks_around_headings.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): warn when multiple rumdl configs shadow each other in a directory
  README.md
  src/commands/check.rs
  src/commands/config.rs
  src/config/loading.rs
  src/config/mod.rs
  src/config/source_tracking.rs
  src/lsp/configuration.rs
  src/lsp/tests.rs
  tests/cli/config_shadow_warning_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): show shadowed-config warning paths relative to their directory
  src/config/loading.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): discover global config from cwd for multi-path runs
  src/commands/check.rs
  tests/config/config_upward_traversal_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): discover global config from cwd for multi-path runs (#660)
  src/commands/check.rs
  tests/config/config_upward_traversal_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): anchor multi-path config discovery at the common ancestor of the target paths
  src/commands/check.rs
  src/config/loading.rs
  tests/config/config_upward_traversal_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(config): decouple grouping root from project root for multi-path runs
  src/check_runner.rs
  src/commands/check.rs
  src/config/loading.rs
  src/resolution.rs
  src/watch.rs
  tests/config/config_upward_traversal_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): apply inline --config overrides to subdirectory config groups
  src/check_runner.rs
  src/commands/check.rs
  src/config/loading.rs
  src/resolution.rs
  src/watch.rs
  tests/config/config_upward_traversal_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.10
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs: add Configuration Files page covering config file names and discovery
  docs/configuration/index.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  zensical.toml
Due: rumdl

docs(config): correct macOS user-config path in loading.rs comment
  src/config/loading.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(config): unify upward directory walks behind one UpwardWalk iterator
  src/config/loading.rs
  src/utils/mod.rs
  src/utils/project_root.rs
  src/utils/upward_walk.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(md046): build indented-code context arrays in one place
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(md071,md072): read front matter end from LintContext
  src/lint_context/mod.rs
  src/rules/md071_blank_line_after_frontmatter.rs
  src/rules/md072_frontmatter_key_sort.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(lint): enforce LintContext front-matter seam via clippy disallowed-methods
  clippy.toml
  src/lint_context/mod.rs
  src/rules/front_matter_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(config): correct discover_config_for_dir comment on path representation
  src/config/loading.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): align workspace file discovery with CLI semantics
  src/discovery.rs
  src/file_processor/discovery.rs
  src/lib.rs
  src/lsp/index_worker.rs
  src/lsp/linting.rs
  src/lsp/server.rs
  src/wasm.rs
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): rebuild and prune workspace index when configuration changes
  src/lsp/index_worker.rs
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.11
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

refactor(rules): generate rule config plumbing with impl_rule_config_methods
  src/rule_config_serde.rs
  src/rules/md003_heading_style.rs
  src/rules/md009_trailing_spaces.rs
  src/rules/md010_no_hard_tabs.rs
  src/rules/md014_commands_show_output.rs
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md024_no_duplicate_heading.rs
  src/rules/md025_single_title.rs
  src/rules/md026_no_trailing_punctuation.rs
  src/rules/md029_ordered_list_prefix.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md043_required_headings.rs
  src/rules/md044_proper_names.rs
  src/rules/md045_no_alt_text.rs
  src/rules/md046_code_block_style.rs
  src/rules/md048_code_fence_style.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md050_strong_style.rs
  src/rules/md052_reference_links_images.rs
  src/rules/md053_link_image_reference_definitions.rs
  src/rules/md054_link_image_style.rs
  src/rules/md055_table_pipe_style.rs
  src/rules/md058_blanks_around_tables.rs
  src/rules/md059_link_text.rs
  src/rules/md061_forbidden_terms.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
  src/rules/md072_frontmatter_key_sort.rs
  src/rules/md074_mkdocs_nav.rs
  src/rules/md081_no_excessive_emphasis.rs
  tests/rules/formatter_proptest.rs
  tests/unicode/utf8_comprehensive_stress_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci: harden mise tool installs with shared retry script
  .github/workflows/ci.yml
  .github/workflows/idempotency.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  scripts/mise-install.sh
Due: actionlint

fix(stdin): lint stdin through the shared engine
  src/check_runner.rs
  src/cli_utils.rs
  src/stdin_processor.rs
  tests/cli/cli_fail_on_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): apply document fixes through the FixCoordinator
  src/lsp/linting.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(lsp): assert fix-all parity with the CLI fix engine; fail loudly on stdin re-check errors
  src/lsp/tests.rs
  src/stdin_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(discovery): normalize path_relative_to output to forward slashes on Windows
  src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.12
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

refactor(output): move the batch/streaming distinction into OutputFormat
  src/check_runner.rs
  src/output/mod.rs
  src/stdin_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): file-precise provenance in rumdl config output
  src/cli_config_override.rs
  src/config/loading.rs
  src/config/parsers.rs
  src/config/source_tracking.rs
  src/config_intelligent_merge_tests.rs
  src/formatter.rs
  src/markdownlint_config.rs
  tests/config/extends_tests.rs
  tests/integration/markdownlint_cli_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(config): one dispatch table for global configuration keys
  src/cli_config_override.rs
  src/config/global_keys.rs
  src/config/mod.rs
  src/config/parsers.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): probe the working directory for project config even when it is $HOME
  docs/configuration/index.md
  src/config/loading.rs
  src/utils/upward_walk.rs
  tests/config/config_upward_traversal_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD072): add required-keys option to enforce frontmatter key presence
  docs/md072.md
  src/rules/md072_frontmatter_key_sort.rs
  tests/config/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(release): publish multi-arch container image to ghcr.io
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  Makefile
  README.md
Due: actionlint, rumdl

chore: bump version to v0.2.13
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

ci(release): close superseded winget PRs before submitting a new version
  .github/workflows/release.yml
Due: actionlint

ci(release): move major-version-tag update into its own job
  .github/workflows/release.yml
Due: actionlint

fix(discovery): honor config include patterns with non-standard extensions
  docs/global-settings.md
  src/discovery.rs
  src/file_processor/discovery.rs
  tests/cli/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(release): publish an alpine container image flavour
  .github/workflows/release.yml
  Dockerfile
  Makefile
  README.md
Due: actionlint, rumdl

chore: bump version to v0.2.14
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs(sponsors): add Tony Burns as Supporter
  SPONSORS.md
Due: rumdl

fix(md038): keep whitespace-only code spans verbatim
  src/rules/md038_no_space_in_code.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
