Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(md077): attribute middle-level continuation lines to their own list item
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): honor line anchors in goto-definition
  src/lsp/navigation.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): walk directory arguments even when file paths are also passed
  src/file_processor/discovery.rs
  tests/regressions/discovery_mixed_dir_file_args_issue_741_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(reflow): preserve non-breaking spaces and the space before French double punctuation
  src/utils/text_reflow.rs
  tests/regressions/md013_reflow_french_punctuation_issue_740_test.rs
  tests/regressions/mod.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(cli): add --deny-config-warnings for config-file and CLI-flag problems
  src/cli_types.rs
  src/commands/check.rs
  tests/cli/cli_exit_codes_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(cli): make --deny-config-warnings cover inline disable-comment rule names
  src/check_runner.rs
  src/commands/check.rs
  src/file_processor/processing.rs
  src/watch.rs
  tests/cli/cli_exit_codes_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(cli): honor --deny-config-warnings on the stdin path
  src/check_runner.rs
  src/commands/check.rs
  src/stdin_processor.rs
  src/watch.rs
  tests/cli/cli_exit_codes_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(cli): cover --deny-config-warnings silent, precedence, and fmt; document the flag
  docs/usage/cli.md
  tests/cli/cli_exit_codes_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.35
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(tests): resolve String addition compilation errors under Rust 1.96 (#737)
  src/commands/init.rs
  src/rules/md013_line_length.rs
  src/utils/anchor_styles/github.rs
  tests/config/config_application_tests.rs
  tests/formats/mkdocs_extensions_test.rs
  tests/perf/malformed_markdown_stress_tests.rs
  tests/rules/md051_critical_edge_cases_test.rs
  tests/rules/md051_edge_cases_test.rs
  tests/rules/md051_performance_edge_cases_test.rs
  tests/rules/md051_property_based_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(code-block-tools): add shuck:format as a built-in shell formatter
  .github/workflows/ci.yml
  docs/code-block-tools.md
  src/code_block_tools/registry.rs
  tests/integration/code_block_tools_execution_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Revert "feat(reflow): support breaking within emphasis spans"
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/formats/sentence_per_line_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Revert "refactor(md013): drop redundant serde alias on emphasis_spans"
  src/rules/md013_line_length/md013_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Revert "docs(md013): note that nested inline code wraps under emphasis-spans"
  docs/md013.md
Due: rumdl

style: clear cargo clippy --all-features (make lint-all) findings
  examples/profile_quadratic.rs
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(reflow): add atomic_spans configuration and refactor inline wrapping
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/formats/sentence_per_line_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(wasm): stop double-converting already-character-based columns
  .github/workflows/ci.yml
  Makefile
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.36
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

ci(code-block-tools): pin external formatter tool versions
  .github/workflows/ci.yml
Due: actionlint

feat(reflow): add atomic_spans configuration and refactor inline wrapping (#742)
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/formats/sentence_per_line_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(reflow): keep code spans atomic when wrapping would collapse whitespace
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(code-block-tools): bump djlint pin to 1.40.10
  .github/workflows/ci.yml
Due: actionlint

chore: bump version to v0.2.37
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(config): honor booleans and alias keys in markdownlint-configure-file
  src/inline_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): honor booleans and alias keys in markdownlint-configure-file (#745)
  src/inline_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): apply markdownlint-configure-file when the comment spans lines
  docs/inline-configuration.md
  src/inline_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): report unknown option keys in inline configure-file comments
  src/inline_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md022): stop panicking when one blank-line requirement is unlimited
  src/rules/md022_blanks_around_headings.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(fuzz): pin the fuzz target to the host triple so the workflow can build
  Makefile
Due: none

test(parity): add a rumdl vs markdownlint agreement harness
  .github/workflows/parity.yml
  .github/zizmor.yml
  Makefile
  scripts/parity.py
Due: actionlint

feat(config): warn when an inline enable cannot re-enable a config-disabled rule
  docs/inline-configuration.md
  src/file_processor/processing.rs
  src/inline_config.rs
  src/stdin_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(md044): document frontmatter checking and ignore-frontmatter-fields
  docs/md044.md
Due: rumdl

fix(md044): stop flagging proper names inside frontmatter file paths
  src/rules/md044_proper_names.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(frontmatter): share quoted-key separator and TOML root-key helpers
  src/rules/front_matter_utils.rs
  src/rules/md072_frontmatter_key_sort.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md044): add ignore-frontmatter-fields option
  docs/md044.md
  src/rules/md044_proper_names.rs
  src/rules/md044_proper_names/md044_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.38
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(discovery): apply absolute exclude patterns during directory discovery
  src/discovery.rs
  src/file_processor/discovery.rs
  src/lsp/index_worker.rs
  src/lsp/linting.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): expand ~ to the home directory in path settings
  docs/global-settings.md
  rumdl.schema.json
  src/cache.rs
  src/commands/check.rs
  src/commands/clean.rs
  src/config/tests.rs
  src/config/types.rs
  src/discovery.rs
  src/file_processor/discovery.rs
  tests/cli/home_path_expansion_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(discovery): strip Windows verbatim prefix from canonicalized paths
  src/config/tests.rs
  src/config/types.rs
  src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(lsp): build the absolute exclude pattern the way production canonicalizes
  src/lsp/index_worker.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
