Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

fix(MD087,inline-config): ignore directives inside inline code spans
  docs/inline-configuration.md
  docs/md087.md
  src/inline_config.rs
  src/lint_context/mod.rs
  src/rules/md087_unused_disable_comment.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(MD024): avoid cloned keys and redundant diagnostic work
  benches/perf_audit.rs
  src/rules/md024_no_duplicate_heading.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(MD004): remove the non-existent after-marker option (#856)
  docs/md004.md
Due: rumdl

fix(mdx): recover instead of crashing on unclosed JSX in a link label
  src/lint_context/mdx.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): respect suppression at each list boundary
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD057): handle balanced parentheses in link paths
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): index links whose paths contain parentheses
  src/rules/md057_existing_relative_links.rs
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.70
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(MD057): name the missing index.md in roots-mode directory link failures
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): suggestion panics on multibyte characters
  src/config/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): write the mailto scheme when converting a bare email to a link
  src/lsp/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD034): emit a link, not an autolink, when fixing bare URLs in MDX
  src/lsp/types.rs
  src/rules/md034_no_bare_urls.rs
  tests/cli/cli_flavor_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): measure suggestion distance in characters, not bytes
  src/config/validation.rs
  tests/cli/cli_alias_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD034): do not report the tail of a schemed URI as a bare email
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.71
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(MD013): end a sentence after a closing marker run of any shape
  docs/md013.md
  src/utils/text_reflow.rs
  tests/regressions/md013_reflow_span_shapes_issue_816_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD090): add rule flagging horizontal rules directly before headings
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md090.md
  docs/mdformat-comparison.md
  docs/obsidian-linter-comparison.md
  docs/rules.md
  docs/stability.md
  rules.json
  src/config/registry.rs
  src/lint_context/types.rs
  src/rules/md090_no_hr_before_heading.rs
  src/rules/mod.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/integration/rules_mod_test.rs
  tests/rules/formatter_proptest.rs
  tests/rules/md090_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.72
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(MD077): carry a code block's interior indentation when reindenting its fence
  src/rules/md077_list_continuation_indent.rs
  tests/cli/cli_issue_846_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(parser): stop reading headings inside blocks whose body is not Markdown
  src/lint_context/heading_detection.rs
  tests/regressions/heading_detection_opaque_blocks_issue_850_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD051): validate fragments in repository-absolute cross-file links
  src/rules/md051_link_fragments.rs
  src/rules/md057_existing_relative_links.rs
  src/utils/project_root.rs
  src/workspace_index.rs
  tests/cli/cli_md051_repo_absolute_links_issue_862_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD057): stop requiring index.md for directory links in filesystem mode
  docs/md057.md
  src/rules/md057_existing_relative_links.rs
  tests/cli/cli_md057_absolute_directory_links_issue_863_test.rs
  tests/cli/mod.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md034): add a config option to turn off auto fixes
  benches/fix_performance.rs
  docs/md034.md
  src/lsp/types.rs
  src/rules/md034_no_bare_urls.rs
  tests/character_ranges/mod.rs
  tests/config/inline_config_test.rs
  tests/formats/azure_devops_test.rs
  tests/formats/gh_aw_integration_test.rs
  tests/formats/mkdocs_extensions_test.rs
  tests/integration/gfm_comprehensive_test.rs
  tests/integration/rules_mod_test.rs
  tests/perf/malformed_markdown_stress_tests.rs
  tests/perf/real_world_performance.rs
  tests/perf/rule_complexity_regression_test.rs
  tests/regressions/md034_parentheses_url_test.rs
  tests/rules/formatter_idempotency_test.rs
  tests/rules/formatter_proptest.rs
  tests/rules/link_edge_cases_test.rs
  tests/rules/md034_comprehensive_test.rs
  tests/rules/md034_ipv6_test.rs
  tests/rules/md034_test.rs
  tests/unicode/unicode_edge_case_tests.rs
  tests/unicode/utf8_comprehensive_stress_test.rs
  tests/vscode/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md092): new opt-in rule for inline formatting in headings
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md092.md
  docs/mdformat-comparison.md
  docs/obsidian-linter-comparison.md
  docs/rules.md
  docs/stability.md
  src/config/registry.rs
  src/rules/md092_no_formatting_in_headings.rs
  src/rules/md092_no_formatting_in_headings/md092_config.rs
  src/rules/md092_no_formatting_in_headings/tests.rs
  src/rules/mod.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD022,MD031,MD032,MD058): count a comment-only line as a blank line
  docs/md022.md
  docs/md031.md
  docs/md032.md
  docs/md058.md
  src/rules/md022_blanks_around_headings.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md058_blanks_around_tables.rs
  src/utils/blank_lines.rs
  src/utils/mod.rs
  tests/regressions/comment_only_lines_are_blank_issue_866_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: leftover pub
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.73
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(stdin): apply exclude patterns to --stdin-filename and --stdin-batch paths
  docs/usage/cli.md
  src/check_runner.rs
  src/config/tests.rs
  src/config/types.rs
  src/discovery.rs
  src/file_processor/discovery.rs
  src/stdin_batch_processor.rs
  src/stdin_processor.rs
  tests/cli/cli_stdin_exclude_issue_871_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(discovery): exclude a named or piped file whenever a directory walk would skip it
  docs/global-settings.md
  src/discovery.rs
  tests/cli/exclude_named_file_matches_walk_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: fix broken rustdoc links and deny rustdoc warnings in CI
  .github/workflows/ci.yml
  Makefile
  scripts/pre-release.sh
  src/code_block_tools/processor.rs
  src/code_block_tools/registry.rs
  src/config/editorconfig.rs
  src/config/types.rs
  src/lint_context/line_computation.rs
  src/lsp/index_worker.rs
  src/lsp/types.rs
  src/output/formatters/junit.rs
  src/rule_config_serde.rs
  src/rules/md013_line_length/block_builder.rs
  src/rules/md028_no_blanks_blockquote.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/md052_reference_links_images.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
  src/rules/md077_list_continuation_indent.rs
  src/rules/md083_mojibake.rs
  src/utils/pandoc.rs
  src/utils/project_root.rs
  src/utils/skip_context.rs
  src/utils/text_reflow.rs
  src/wasm.rs
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): print --diff and fmt --check output as a patch git apply accepts
  Cargo.lock
  Cargo.toml
  docs/usage/cli.md
  src/file_processor/processing.rs
  src/formatter.rs
  src/utils/line_ending.rs
  tests/cli/diff_output_applies_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): keep each Rust doc comment line's prefix when a fix adds or removes lines
  src/doc_comment_lint.rs
  src/file_processor/doc_comments.rs
  tests/cli/rust_doc_comment_fmt_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(stdin): honor fmt --check, fmt --diff and check --diff for piped documents
  docs/usage/cli.md
  src/stdin_processor.rs
  tests/cli/mod.rs
  tests/cli/stdin_diff_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): state each summary count once, with singular nouns for one
  README.md
  docs/getting-started/quickstart.md
  src/formatter.rs
  src/stdin_processor.rs
  tests/cli/cli_integration_tests.rs
  tests/cli/cli_stdin_cross_file_test.rs
  tests/cli/md087_unused_disable_test.rs
  tests/cli/rust_doc_comment_fmt_test.rs
  tests/cli/stdin_diff_test.rs
  tests/output/fix_reporting_test.rs
  tests/output/mod.rs
  tests/output/summary_wording_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): keep a diff out of JSON Lines output
  src/file_processor/processing.rs
  src/output/mod.rs
  src/stdin_processor.rs
  tests/cli/preview_findings_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(stdin): write a piped document back unchanged when no fix applies
  src/stdin_processor.rs
  tests/formats/crlf_line_endings_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): list beside a diff the findings it leaves unfixed
  src/file_processor/fix_reporting.rs
  src/file_processor/processing.rs
  src/stdin_processor.rs
  tests/cli/mod.rs
  tests/cli/preview_findings_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

add default methods for a rule with config
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): mark fixed the finding the fix resolved when another says the same thing
  src/file_processor/fix_reporting.rs
  src/file_processor/processing.rs
  src/stdin_processor.rs
  tests/cli/preview_findings_test.rs
  tests/output/fix_reporting_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(mdx): pass the MDX recovery tests in builds without debug assertions
  src/lint_context/mdx.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
