Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

docs(rules): add aliases for MD070, MD071, MD072
  docs/md071.md
  docs/md072.md
  src/config.rs
  src/markdownlint_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(config): add test ensuring all rules have aliases
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(cli): standardize test binary invocation with CARGO_BIN_EXE_
  tests/cli_alias_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD071): preserve trailing newlines when fixing frontmatter spacing
  src/rules/md071_blank_line_after_frontmatter.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): handle blockquote continuation lines correctly in list parsing
  src/lint_context.rs
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.0.211
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(MD012,MD072): resolve LSP formatting issues
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md072_frontmatter_key_sort.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(cli): show relative file paths in output by default
  src/file_processor.rs
  src/main.rs
  src/watch.rs
  tests/cli_show_full_path_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD046): preserve code indentation and skip MkDocs admonitions
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(coordinator): re-check all rules after each fix for idempotency
  src/fix_coordinator.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): respect FormattingOptions in formatting handler (#265)
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.0.212
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/output/formatters/sarif.rs
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md038_no_space_in_code.rs
  src/rules/md043_required_headings.rs
  src/rules/md070_nested_code_fence.rs
  src/rules/md072_frontmatter_key_sort.rs
  tests/rules/md029_test.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): prevent MD064 from undoing MD010 tab-to-spaces conversion
  README.md
  src/fix_coordinator.rs
  src/lsp/server.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): add math block detection to prevent MD030 false positives
  src/filtered_lines.rs
  src/lint_context.rs
  src/rules/md030_list_marker_space.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD007): use fixed style when indent is explicitly configured
  docs/md007.md
  src/rules/md007_ul_indent.rs
  src/rules/md007_ul_indent/md007_config.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD057): check reference-style link definitions for broken links
  docs/md057.md
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.0.213
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(rules): integrate emphasis detection into list parsing pass
  src/lint_context.rs
  src/rules/md030_list_marker_space.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): detect code blocks inside lists (fixes #276)
  CHANGELOG.md
  src/rules/md031_blanks_around_fences.rs
  src/rules/md046_code_block_style.rs
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): MD028 skip blank lines between GFM alerts
  CHANGELOG.md
  src/rules/md028_no_blanks_blockquote.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): MD032 properly handles multi-paragraph list items in blockquotes
  src/lint_context.rs
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): remove MD030 heuristic detection for unordered list markers
  src/rules/md030_list_marker_space.rs
  tests/advanced_integration_tests.rs
  tests/kramdown_integration_test.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(readme): update pre-commit hook descriptions
  README.md
Due: rumdl

fix(MD007): preserve text-aligned for bullets under ordered lists
  src/rules/md007_ul_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(MD007): add edge case tests for indent_explicit with mixed lists
  src/rules/md007_ul_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(MD007): document mixed list behavior with indent_explicit
  docs/md007.md
Due: rumdl

test(MD030): add edge case tests for ordered list detection
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(anchor-styles): extract common utilities to reduce duplication
  src/utils/anchor_styles/common.rs
  src/utils/anchor_styles/github.rs
  src/utils/anchor_styles/jekyll.rs
  src/utils/anchor_styles/kramdown_gfm.rs
  src/utils/anchor_styles/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): detect blockquotes before skip conditions (fixes #284, #285)
  src/lint_context.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md046_code_block_style.rs
  tests/rules/md031_test.rs
  tests/rules/md046_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): MD032 auto-fix handles varying blockquote whitespace (fixes #268)
  src/rules/md032_blanks_around_lists.rs
  tests/rules/md032_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): add per-file-flavor configuration for path-based flavor overrides
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/config_intelligent_merge_tests.rs
  src/file_processor.rs
  src/fix_coordinator.rs
  src/lsp/server.rs
  tests/config_application_tests.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(schema): update JSON schema for per-file-flavor config
  rumdl.schema.json
Due: none

chore(release): prepare v0.0.214
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(rules): MD005 auto-fix preserves blockquote prefix (fixes #268)
  src/rules/md005_list_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(test): correct format string escaping in Hugo template test
  src/rules/md038_no_space_in_code.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint_context): exclude footnote definitions from reference_defs parsing
  src/lint_context.rs
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.0.215
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(rules): add aligned-no-space style for MD060 tables (fixes #277)
  docs/md060.md
  src/rules/md060_table_format/md060_config.rs
  src/rules/md060_table_format/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(lint_context): add unit tests for has_char, char_count, and range-check methods
  src/lint_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
