Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

feat(md043): add wildcard pattern support for flexible heading structures
  docs/md043.md
  src/rules/md043_required_headings.rs
  tests/rules/md043_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(md043): add expert-level edge case tests and fix wildcard bugs
  src/rules/md043_required_headings.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): bump version to 0.0.173
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

docs(audit): fix critical documentation issues
  docs/md013.md
  docs/md060.md
Due: rumdl

test(docs): add config documentation completeness validation
  Makefile
  tests/config_documentation_completeness.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

docs: standardize all config documentation to kebab-case
  docs/md004.md
  docs/md007.md
  docs/md009.md
  docs/md010.md
  docs/md014.md
  docs/md022.md
  docs/md025.md
  docs/md030.md
  docs/md033.md
  docs/md044.md
  docs/md045.md
  docs/md057.md
  tests/config_documentation_completeness.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

test(docs): add dynamic config documentation completeness validation
  docs/md031.md
  docs/md041.md
  docs/md043.md
  docs/md044.md
  docs/md053.md
  docs/md058.md
  tests/config_documentation_completeness.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

docs(config): improve UX and standardize enum values
  docs/md025.md
  docs/md055.md
  src/rules/md055_table_pipe_style/md055_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(test): correct MD060 warning message assertion
  tests/rules/md060_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

refactor(md060): improve warning message clarity
  src/rules/md060_table_format/mod.rs
  tests/rules/md060_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

Remove `brew tap`
  README.md
Due: rumdl

fix(cli): differentiate --quiet/--silent flags and add server --config support
  src/file_processor.rs
  src/lsp/mod.rs
  src/lsp/server.rs
  src/main.rs
  src/stdin_processor.rs
  src/watch.rs
  tests/cli_statistics_test.rs
  tests/comprehensive_output_format_tests.rs
  tests/lsp_formatting_tests.rs
  tests/lsp_initialization_options_test.rs
  tests/lsp_mkdocs_flavor_test.rs
  tests/lsp_tests.rs
  tests/lsp_unopened_document_test.rs
  tests/output_format_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md046): resolve false positives with multi-paragraph footnotes
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): bump version to 0.0.174
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

feat: add memory profiling for non-linux platforms
  Cargo.toml
  src/performance.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

perf(rules): process rules in parallel per file
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

refactor(perf): use physical memory instead of virtual memory for benchmarking
  Cargo.lock
  src/performance.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(config): resolve kebab-case config issues and remove undocumented options
  benches/fix_performance.rs
  src/formatter.rs
  src/main.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md038_no_space_in_code.rs
  src/rules/md041_first_line_heading/md041_config.rs
  src/rules/md041_first_line_heading/mod.rs
  tests/character_ranges/mod.rs
  tests/common/test_utils.rs
  tests/deeply_nested_lists_performance_test.rs
  tests/malformed_markdown_stress_tests.rs
  tests/real_world_repository_tests.rs
  tests/regression_prevention_tests.rs
  tests/rules/md032_test.rs
  tests/rules/md038_nested_backticks_test.rs
  tests/rules/mkdocs_admonitions_test.rs
  tests/rules/rule_interaction_test.rs
  tests/utf8_boundary_tests.rs
  tests/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

refactor(md004): simplify config to use derives instead of manual implementation
  src/rules/md004_unordered_list_style.rs
  src/rules/md004_unordered_list_style/md004_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(types): add type-safe HeadingLevel with validation
  src/lib.rs
  src/rules/md025_single_title.rs
  src/rules/md025_single_title/md025_config.rs
  src/rules/md041_first_line_heading/md041_config.rs
  src/rules/md041_first_line_heading/mod.rs
  src/types/heading_level.rs
  src/types/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(types): add type-safe configuration wrappers for MD007, MD009, MD010
  src/rules/md007_ul_indent.rs
  src/rules/md007_ul_indent/md007_config.rs
  src/rules/md009_trailing_spaces.rs
  src/rules/md009_trailing_spaces/md009_config.rs
  src/rules/md010_no_hard_tabs.rs
  src/rules/md010_no_hard_tabs/md010_config.rs
  src/types/br_spaces.rs
  src/types/indent_size.rs
  src/types/mod.rs
  src/types/positive_usize.rs
  tests/rules/md009_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(types): add type-safe configuration for MD013 and MD030
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md030_list_marker_space/md030_config.rs
  src/rules/md060_table_format/mod.rs
  src/types/line_length.rs
  src/types/mod.rs
  tests/fix_counting_test.rs
  tests/rules/md013_test.rs
  tests/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(types): add type-safe configuration for MD022, MD012, MD060
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md012_no_multiple_blanks/md012_config.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md022_blanks_around_headings/md022_config.rs
  src/rules/md060_table_format/md060_config.rs
  src/rules/md060_table_format/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md013): skip front matter when checking line length
  src/rules/md013_line_length.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(rules): add universal wiki-link and Obsidian block reference support
  Cargo.lock
  Cargo.toml
  benches/link_parsing_manual.rs
  src/lint_context.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md042_no_empty_links.rs
  src/rules/md051_link_fragments.rs
  tests/rules/link_edge_cases_test.rs
  tests/rules/md042_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md011): skip footnote references to prevent false positives
  src/rules/md011_no_reversed_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(deps): update dependencies to latest compatible versions
  Cargo.lock
  Cargo.toml
  tests/config_tests.rs
  tests/schema_validation_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(tests): migrate from deprecated Command::cargo_bin to cargo_bin_cmd! macro
  tests/advanced_integration_tests.rs
  tests/cli_explain_test.rs
  tests/cli_integration_tests.rs
  tests/cli_statistics_test.rs
  tests/commonmark_compliance_tests.rs
  tests/comprehensive_output_format_tests.rs
  tests/crlf_line_endings_test.rs
  tests/fixable_unfixable_config_test.rs
  tests/init_command_test.rs
  tests/json_output_test.rs
  tests/output_format_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(deps): update dependencies to latest patch versions
  Cargo.lock
Due: cargo-lock-check, cargo-lock-check-push

chore(deps): upgrade schemars from 0.8 to 1.1
  Cargo.lock
  Cargo.toml
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

test(md011,md013): add regression tests for issues #146 and #147
  src/rules/md011_no_reversed_links.rs
  src/rules/md013_line_length.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(import): map markdownlint option names to rumdl equivalents
  src/markdownlint_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): bump version to 0.0.175
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

fix(md042): handle inline code in link text to prevent false positives
  src/lint_context.rs
  src/rules/md042_no_empty_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(rules): convert consistency rules to prevalence-based detection
  CHANGELOG.md
  docs/md003.md
  docs/md004.md
  docs/md046.md
  docs/md048.md
  docs/md049.md
  docs/md050.md
  docs/md055.md
  src/rules/md003_heading_style.rs
  src/rules/md004_unordered_list_style.rs
  src/rules/md041_first_line_heading/mod.rs
  src/rules/md046_code_block_style.rs
  src/rules/md048_code_fence_style.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md050_strong_style.rs
  src/rules/md055_table_pipe_style.rs
  tests/rules/md004_test.rs
  tests/rules/md041_test.rs
  tests/rules/md046_test.rs
  tests/rules/md048_test.rs
  tests/rules/md049_test.rs
  tests/rules/md050_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
