Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

chore: bump version to v0.2.21
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(md077): add opt-in style = "aligned" for continuation indent
  docs/md077.md
  src/rules/md077_list_continuation_indent.rs
  src/rules/md077_list_continuation_indent/md077_config.rs
  src/rules/mod.rs
  tests/integration/rules_mod_test.rs
  tests/rules/formatter_proptest.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): keep blockquote markers when reflowing a blockquote nested in a list item
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(md077): classify aligned-mode structure via parser output
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md040): keep blockquote fences valid when adding default language
  src/rules/md040_fenced_code_language.rs
  tests/regressions/md040_blockquote_fence_issue_684_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.22
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(cli): make per-file exclude notice verbose-only
  src/file_processor/discovery.rs
  tests/cli/cli_integration_tests.rs
  tests/cli/exclude_with_explicit_paths_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(cli): mark --force-exclude as the deprecated no-op it is
  src/cli_types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md013): cover plain blockquote nested in a list item
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(pre-commit): fix version typo in suggested pre-commit config
  docs/usage/pre-commit.md
Due: rumdl

docs(pre-commit): fix version typo in suggested pre-commit config (#688)
  docs/usage/pre-commit.md
Due: rumdl

docs(pre-commit): correct stale versions and hook repo in examples
  docs/getting-started/quickstart.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  vership.toml
Due: rumdl

docs: drop sparse "Added in" version notes from rule docs
  docs/md064.md
  docs/md065.md
  docs/md071.md
  docs/md072.md
Due: rumdl

feat(rules): add MD082 to require content between headings
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md082.md
  docs/mdformat-comparison.md
  docs/rules.md
  docs/stability.md
  rules.json
  src/config/registry.rs
  src/rules/md082_no_empty_sections.rs
  src/rules/mod.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(parser): parse reference-definition titles on a continuation line
  src/lint_context/link_parser.rs
  src/lint_context/tests.rs
  src/rules/md082_no_empty_sections.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint-context): attach list items whose marker line opens a code fence
  src/lint_context/list_blocks.rs
  tests/regressions/fenced_code_on_list_marker_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(lint-context): guard MD032/MD077 on fenced-marker list items
  tests/regressions/fenced_code_on_list_marker_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.23
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(MD007): keep nested lists nested under a fence-opening list item
  src/rules/md007_ul_indent.rs
  tests/regressions/fenced_code_on_list_marker_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD013): add semantic-link-understanding to flag long-URL links in stern mode
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  tests/formats/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD007): scope fence-opening exception to backtick/tilde fences
  src/rules/md007_ul_indent.rs
  tests/regressions/fenced_code_on_list_marker_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD036): make emphasis-to-heading autofix opt-in by default
  src/rules/md036_no_emphasis_only_first.rs
  src/rules/md036_no_emphasis_only_first/md036_config.rs
  tests/integration/fmt_dispatch_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD028): make blockquote-merge autofix opt-in by default
  docs/md028.md
  src/rules/md028_no_blanks_blockquote.rs
  tests/character_ranges/mod.rs
  tests/integration/rules_mod_test.rs
  tests/perf/malformed_markdown_stress_tests.rs
  tests/rules/formatter_idempotency_test.rs
  tests/rules/formatter_proptest.rs
  tests/rules/md028_md009_interaction_test.rs
  tests/rules/md028_test.rs
  tests/rules/rule_interaction_test.rs
  tests/unicode/utf8_comprehensive_stress_test.rs
  tests/vscode/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD013): reflow lists with configured marker spacing
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md030_list_marker_space/md030_config.rs
  src/utils/list_utils.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): keep the space after an inline code span before punctuation
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): exempt standalone links with trailing punctuation and wrappers
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): iterate formatting fixes to a fixpoint so one format pass converges
  src/lsp/server.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD043): report expected and actual headings at first mismatch
  docs/md043.md
  src/rules/md043_required_headings.rs
  tests/rules/md043_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): fix clippy lints in tests
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): iterate formatting fixes to a fixpoint so one format pass converges (#695)
  src/lsp/server.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): keep the space after an inline code span before punctuation (#693)
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): exempt standalone links with trailing punctuation and wrappers (#694)
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD013): add semantic-link-understanding to flag long-URL links in stern mode (#691)
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  tests/formats/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(fix-coordinator): honor inline rumdl-configure-file overrides when applying fixes
  src/fix_coordinator.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(md013): rename semantic-link-understanding option to ignore-link-urls
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  tests/formats/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): treat standalone links as paragraph boundaries in reflow
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

remove accidental file
  test_dot_component.md
Due: rumdl

feat(MD043): report expected and actual headings at first mismatch (#696)
  docs/md043.md
  src/rules/md043_required_headings.rs
  tests/rules/md043_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): derive list reflow multi-line spacing from the rewritten shape
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  src/rules/md030_list_marker_space.rs
  src/utils/list_utils.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
