Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

feat(config): add extends field for config inheritance
  rumdl.schema.json
  src/config/loading.rs
  src/config/types.rs
  tests/config/extends_tests.rs
  tests/config/mod.rs
  tests/config/schema_validation_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint_context): detect math blocks inside blockquotes
  src/lint_context/line_computation.rs
  tests/rules/md004_test.rs
  tests/rules/md032_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.65
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

test(config): add unit tests for extends chain loading
  src/config/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(config): fix depth-limit test robustness and strengthen enable-disable assertion
  src/config/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(formatter): add unit tests for generate_diff and format_toml_value
  src/formatter.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(check_runner): add CLI integration tests for parallel consistency, per-directory config, and stdin
  tests/cli/check_runner_tests.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(vscode): implement multiline warning range support in VS Code fix simulation
  tests/vscode/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(vscode): add direct unit test for multiline splice correctness
  tests/vscode/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci: add PR-gated complexity regression check
  .github/workflows/performance.yml
Due: actionlint

ci: use make targets and add rust-cache in performance workflow
  .github/workflows/performance.yml
Due: actionlint

fix(md075): skip pipes inside math spans to prevent false positives
  src/rules/md075_orphaned_table_rows.rs
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.66
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

feat(docs): add interactive playground page powered by rumdl-wasm
  docs/playground.md
  zensical.toml
Due: rumdl

fix(docs): load rumdl-wasm from jsdelivr without version pin
  docs/playground.md
Due: rumdl

fix(docs): replace npmjs.com link with github link in playground
  docs/playground.md
Due: rumdl

fix(md064): skip spaces after list markers inside blockquotes
  src/rules/md030_list_marker_space.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
  src/rules/md066_footnote_validation.rs
  src/rules/md075_orphaned_table_rows.rs
  src/utils/blockquote.rs
  src/utils/table_utils.rs
  tests/rules/rule_interaction_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(docs): prevent playground panels from shrinking after Fix All
  docs/playground.md
Due: rumdl

fix: remove orphaned doc comments causing clippy warnings
  src/rules/md075_orphaned_table_rows.rs
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(fuzz): add seven fuzz targets covering lint, fix, config, and engine properties
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_config.rs
  fuzz/fuzz_targets/fuzz_context.rs
  fuzz/fuzz_targets/fuzz_differential.rs
  fuzz/fuzz_targets/fuzz_fix.rs
  fuzz/fuzz_targets/fuzz_fix_idempotency.rs
  fuzz/fuzz_targets/fuzz_lint.rs
  fuzz/fuzz_targets/fuzz_properties.rs
  fuzz/fuzz_targets/fuzz_structured.rs
  src/config/loading.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md077): detect over-indented tight continuation lines
  docs/md077.md
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md077): correct nested list tight continuation false positive
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.67
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

fix(md077): skip deeply indented list markers in tight continuation check
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(ci): use nextest archive in pre-push hook to prevent binary race
  Makefile
Due: none

chore(release): add missing changelog entries for v0.1.67
  CHANGELOG.md
Due: none

fix: edit_uri should be main not master
  zensical.toml
Due: none

chore: add vership config with version_files and artifacts
  vership.toml
Due: none

fix(MD013): recognize "St." as abbreviation in sentence-per-line mode
  src/rules/md013_line_length/tests.rs
  src/utils/sentence_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD044): skip URL after WikiLink double-bracket links
  src/rules/md044_proper_names.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): correct line-length boundary check when indentation is stripped
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): preserve indentation of list continuation lines after nested lists
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD030): check nested list items regardless of indentation depth
  src/rules/md030_list_marker_space.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(MD030): add check/fix roundtrip assertions to verify fix() resolves detected violations
  src/rules/md030_list_marker_space.rs
  tests/rules/md030_test.rs
  tests/utils/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(MD030): extend nested item tests to cover fix() and deeply nested levels
  src/rules/md030_list_marker_space.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD030): align fix() with check() for parser-recognized list items
  src/rules/md030_list_marker_space.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD046): correctly match closing fence by opener length in fix()
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(MD048): derive fix() from check() to eliminate two-path divergence
  src/rules/md048_code_fence_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(MD039): derive fix() from check() to eliminate two-path divergence
  src/rules/md039_no_space_in_links.rs
  tests/rules/md039_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
