Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

chore: bump version to v0.1.77
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

fix(lsp): discover .config/rumdl.toml when walking up from a file
  src/config/loading.rs
  src/config/types.rs
  src/lsp/configuration.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(lsp): strengthen config-resolver parity and add no-workspace case
  src/config/types.rs
  src/lsp/configuration.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.78
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

fix(lint-context): honor CommonMark Type-1 HTML blocks
  src/lint_context/heading_detection.rs
  src/lint_context/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md077): accept task-item post-checkbox column to break MD013 reflow cycle
  docs/md077.md
  src/rules/md077_list_continuation_indent.rs
  tests/formats/md013_reflow_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md051): strip HTML comments from heading anchors
  src/utils/anchor_styles/github.rs
  src/utils/anchor_styles/kramdown_gfm.rs
  src/utils/anchor_styles/python_markdown.rs
  tests/rules/md051_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.79
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

feat(wasm): honor exclude patterns via path-aware check() and fix()
  src/lib.rs
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(wasm): validate rule-config value types at parse time
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.80
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

feat(md024): treat headings with different {#custom-id} anchors as distinct
  docs/md024.md
  src/rules/md024_no_duplicate_heading.rs
  src/rules/md024_no_duplicate_heading/md024_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md057): add relative_to_roots option for absolute link validation
  docs/md057.md
  src/rules/md057_existing_relative_links.rs
  src/rules/md057_existing_relative_links/md057_config.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md046): guard Consistent style detection against container over-filtering
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md064): cover Type-1 vs Type-6 HTML block handling with blank lines
  src/rules/md064_no_multiple_consecutive_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md005,md032): preserve nesting under tight continuation followed by sub-list
  src/fix_coordinator.rs
  src/rules/md005_list_indent.rs
  src/rules/md032_blanks_around_lists.rs
  tests/regressions/mod.rs
  tests/regressions/ordered_list_continuation_cascade_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(docs): restore grid-cards formatting on landing page
  docs/index.md
Due: rumdl

fix(fmt): honor <div markdown> opt-in across all flavors
  src/lint_context/flavor_detection.rs
  src/lint_context/mod.rs
  tests/formats/mkdocs_extensions_test.rs
  tests/regressions/md030_grid_cards_issue_583_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

style(md064): inline assert format args to satisfy clippy::uninlined_format_args
  src/rules/md064_no_multiple_consecutive_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(docs): guard against landing-page regressions with fmt-check and HTML smoke test
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  Makefile
  scripts/docs_smoke_test.py
Due: actionlint

ci(docs): add scheduled prod probe against rumdl.dev
  .github/workflows/docs-prod-probe.yml
  .github/zizmor.yml
Due: actionlint

revert: drop GHA-scheduled docs prod probe in favor of Uptime Kuma
  .github/workflows/docs-prod-probe.yml
  .github/zizmor.yml
Due: actionlint

fix(md013): don't warn on under-limit list items in normalize mode
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
  tests/formats/md013_reflow_integration_test.rs
  tests/regressions/md009_md013_integration_test.rs
  tests/regressions/md013_hard_breaks_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.81
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

feat(md057): fall back to project root when resolving absolute links
  docs/md057.md
  src/rules/md057_existing_relative_links.rs
  src/rules/md057_existing_relative_links/md057_config.rs
  src/utils/mod.rs
  src/utils/project_root.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.82
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

fix(lsp): respect --config flag in server mode
  src/lsp/configuration.rs
  src/lsp/server.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.83
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

fix(lsp): canonicalize rule-name lists at Config boundaries
  src/config/loading.rs
  src/config/registry.rs
  src/config/types.rs
  src/file_processor/discovery.rs
  src/fix_coordinator.rs
  src/lsp/configuration.rs
  src/lsp/tests.rs
  src/rules/mod.rs
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md076): prefer tight on Consistent style ties
  src/rules/md076_list_item_spacing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md036): default fix=true to match advertised FullyFixable capability
  src/rules/md036_no_emphasis_only_first.rs
  src/rules/md036_no_emphasis_only_first/md036_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md046): recognize list-internal indented code blocks
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(fmt): add end-to-end fmt-dispatch regression suite
  tests/integration/fmt_dispatch_test.rs
  tests/integration/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md064): skip column-aligned list blocks
  src/rules/md064_no_multiple_consecutive_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(md054): document preferred-style and supported fix conversions
  docs/md054.md
Due: rumdl

fix(fix_utils): preserve source order for same-offset zero-width inserts
  src/rule.rs
  src/utils/fix_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md054,lsp): exact EOL counting and UTF-16 LSP positions
  src/lsp/types.rs
  src/rules/md054_link_image_style/transform.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.84
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
Due: cargo-lock-check, cargo-lock-check-push

test(MD013): cover parenthetical quote reflow
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
