Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

docs(pre-commit): correct hook descriptions in README
  README.md
Due: rumdl

docs(pre-commit): document lint-only default for the rumdl hook
  README.md
  docs/usage/pre-commit.md
Due: rumdl

chore: bump version to v0.2.15
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(config): expand environment variables in extends paths
  README.md
  docs/global-settings.md
  rumdl.schema.json
  src/config/loading.rs
  src/config/types.rs
  tests/config/extends_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: ignore GEMINI.md and AGENTS.md agent config files
  .gitignore
Due: none

chore: bump version to v0.2.16
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(lsp): offer quick fixes across a diagnostic's full line span
  src/lsp/linting.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: fix Homebrew install command to use homebrew-core
  docs/getting-started/installation.md
  docs/index.md
Due: rumdl

fix(md077): skip footnote definition bodies in list continuation check
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.17
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

ci(release): run tests concurrently with the build matrix
  .github/workflows/release.yml
Due: actionlint

ci(release): drop redundant cargo-zigbuild install on Linux builds
  .github/workflows/release.yml
Due: actionlint

ci(release): install only rust and uv in the publish job
  .github/workflows/release.yml
Due: actionlint

ci(release): upload to PyPI with uv publish instead of twine
  .github/workflows/release.yml
Due: actionlint

ci(release): move downstream notifications into a dedicated job
  .github/workflows/release.yml
Due: actionlint

ci(release): install maturin as a prebuilt wheel via the pipx backend
  .github/workflows/release.yml
  .mise.toml
  scripts/mise-install.sh
Due: actionlint

fix(md057): report character-based columns for non-ASCII lines
  src/lint_context/element_parsers.rs
  src/lint_context/link_parser.rs
  src/lint_context/mod.rs
  src/rules/md052_reference_links_images.rs
  src/rules/md057_existing_relative_links.rs
  src/utils/range_utils.rs
  tests/rules/md033_test.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(positions): make shared column helpers character-based
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/range_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(positions): report character-based columns in inline-content rules
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md044_proper_names.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md061_forbidden_terms.rs
  src/rules/md078_missing_chunk_labels.rs
  src/rules/md079_chunk_label_spaces.rs
  tests/unicode/column_positions_test.rs
  tests/unicode/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(positions): use character-based end columns across remaining rules
  src/rules/md013_line_length.rs
  src/rules/md047_single_trailing_newline.rs
  src/rules/md051_link_fragments.rs
  src/rules/md058_blanks_around_tables.rs
  src/rules/md063_heading_capitalization.rs
  src/rules/md065_blanks_around_horizontal_rules.rs
  src/rules/md068_empty_footnote_definition.rs
  src/rules/md071_blank_line_after_frontmatter.rs
  src/rules/md072_frontmatter_key_sort.rs
  src/rules/md075_orphaned_table_rows.rs
  src/rules/md076_list_item_spacing.rs
  src/rules/md077_list_continuation_indent.rs
  src/workspace_index.rs
  tests/unicode/column_positions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(positions): char-based end column in MD070; document the column convention
  src/rule.rs
  src/rules/md070_nested_code_fence.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(positions): address review - MD037 filter, boundary-safe parser conversions, MD063 column
  src/lint_context/element_parsers.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md063_heading_capitalization.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(positions): char-based marker columns in MD018, MD029, MD069
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md029_ordered_list_prefix.rs
  src/rules/md069_no_duplicate_list_markers.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): use thin LTO to cut release build time
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

fix(md013): preserve MyST directives and roles during reflow
  src/lint_context/flavor_detection.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/formats/myst_integration_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(release): publish npm CLI binaries with the executable bit set
  .github/workflows/release.yml
Due: actionlint

chore: bump version to v0.2.18
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(md013): reflow list items inside blockquotes
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  tests/formats/md013_reflow_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md034): don't flag reference definitions inside blockquotes
  src/rules/md034_no_bare_urls.rs
  tests/rules/md034_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(lsp): document and workspace symbols for headings
  src/lsp/completion.rs
  src/lsp/index_worker.rs
  src/lsp/mod.rs
  src/lsp/navigation.rs
  src/lsp/server.rs
  src/lsp/symbols.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md013): add code-spans option to exempt unbreakable inline code
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  tests/config/inline_config_blocks_test.rs
  tests/formats/md013_reflow_integration_test.rs
  tests/formats/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(parser): recognize reference definitions inside blockquotes
  src/lint_context/link_parser.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md052_reference_links_images.rs
  tests/rules/md034_test.rs
  tests/rules/md052_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.19
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(parser): correct code-region detection for comments and JSX fences
  src/lint_context/flavor_detection.rs
  src/lint_context/mod.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md034_no_bare_urls.rs
  src/utils/regex_cache.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): redirect removed --list-rules to the canonical commands
  README.md
  src/cli_types.rs
  src/commands/check.rs
  tests/cli/cli_list_rules_removed_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.20
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(ci): bump pinned Rust toolchain to 1.96.0 to unblock mise tool install
  .mise.toml
  rust-toolchain.toml
  src/lsp/tests.rs
  src/output/formatters/full.rs
  src/parallel.rs
  src/performance.rs
  src/profiling.rs
  src/rules/heading_utils.rs
  src/rules/md003_heading_style.rs
  src/rules/md007_ul_indent.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md014_commands_show_output.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md036_no_emphasis_only_first.rs
  src/rules/md039_no_space_in_links.rs
  src/rules/md042_no_empty_links.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md054_link_image_style/transform.rs
  src/rules/md057_existing_relative_links.rs
  src/workspace_index.rs
  tests/rules/formatter_idempotency_test.rs
  tests/rules/formatter_proptest.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(discovery): isolate vendor-dir test from ambient gitignores
  src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(readme): add mackup, kreuzberg, zero-to-nix to Used By
  README.md
Due: rumdl

fix(emphasis): align MD049 and MD037 with CommonMark flanking (#681)
  src/rules/md037_spaces_around_emphasis.rs
  src/utils/emphasis_utils.rs
  tests/rules/md037_test.rs
  tests/rules/md049_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
