Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

fix(md030): use blockquote-aware indent for multi-line detection
  src/rules/md030_list_marker_space.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md005): use blockquote-aware indent for continuation detection
  src/rules/md005_list_indent.rs
  tests/rules/md005_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): detect same-line closing tags for script/style elements
  src/lint_context.rs
  tests/md013_html_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): preserve MkDocs snippet delimiters during list item reflow
  src/rules/md013_line_length/mod.rs
  tests/md013_reflow_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.1 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(lsp): only auto-fix on manual saves, not autosave
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test: add profile focused on smoke tests
  .config/nextest.toml
  Makefile
Due: none

test(proptest): add formatter regression test case
  proptest-regressions/rules/formatter_proptest.txt
Due: none

fix(md037): return absolute ranges in check to fix idempotency issues
  src/rules/md037_spaces_around_emphasis.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md037): return absolute ranges in check (#343)
  proptest-regressions/rules/formatter_proptest.txt
  src/rules/md037_spaces_around_emphasis.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md032): add auto-fix for lazy continuation lines
  docs/md032.md
  src/lib.rs
  src/rules/md032_blanks_around_lists.rs
  tests/md032_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md032): add tab handling tests for blockquote lazy continuation
  tests/md032_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.2 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(cli): direct convergence failure reports to bug template (#336)
  src/file_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(readme): add projects from issue #307 comments
  README.md
Due: rumdl

fix(ci): correct Cloudflare Pages project name in docs workflow
  .github/workflows/docs.yml
Due: actionlint

docs(readme): add JetBrains IDE plugin installation instructions
  README.md
Due: rumdl

docs(readme): consolidate editor plugins into single table
  README.md
Due: rumdl

feat(rules): add MD073 Table of Contents validation rule
  docs/RULES.md
  src/config.rs
  src/rules/md073_toc_validation.rs
  src/rules/mod.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(rules): add MD073 TOC validation rule documentation
  docs/md073.md
Due: rumdl

test(md073): add tests for custom anchors, anchor styles, and stress scenarios
  src/rules/md073_toc_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD064): recognize sentence endings after markdown inline elements
  src/rules/md064_no_multiple_consecutive_spaces.rs
  src/utils/sentence_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  src/rules/md064_no_multiple_consecutive_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): call should_skip() in linting engine for opt-in rules
  src/fix_coordinator.rs
  src/lib.rs
  src/stdin_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(MD073): simplify TOC validation to marker-based only
  docs/md073.md
  src/rules/md073_toc_validation.rs
  src/utils/header_id_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): exclude MD033 from fixable issue count
  src/file_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): correctly count files modified by fmt in summary message
  src/formatter.rs
  src/watch.rs
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): use capability-based check for fixable issue count
  src/file_processor.rs
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD073): validate TOC entry indentation matches heading levels
  src/rules/md073_toc_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(lsp): update documentation URLs to rumdl.dev
  src/lsp/types.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: update documentation URLs to rumdl.dev
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(cli): add JSON output for rule metadata with filtering
  src/main.rs
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

Add completions subcommand to generate shell completions (#333)
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD073): read indent config from MD007 by default
  docs/md073.md
  src/rules/md073_toc_validation.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(cli): enhance completions with auto-detection and installation hints
  src/main.rs
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(cli): add rules.json for tooling integration
  rules.json
  scripts/verify-release-ready.sh
Due: none

chore(release): prepare v0.1.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/index.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push
