Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

test(md075): fix failing tests caused by newly introduced rule MD075
  src/config/registry.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): normalize style config to kebab-case across all rules
  docs/RULES.md
  docs/md003.md
  docs/md063.md
  src/config/types.rs
  src/rules/emphasis_style.rs
  src/rules/heading_utils.rs
  src/rules/md003_heading_style.rs
  src/rules/md003_heading_style/md003_config.rs
  src/rules/md046_code_block_style/md046_config.rs
  src/rules/md048_code_fence_style/md048_config.rs
  src/rules/md049_emphasis_style/md049_config.rs
  src/rules/md050_strong_style/md050_config.rs
  src/rules/md055_table_pipe_style/md055_config.rs
  src/rules/md060_table_format/md060_config.rs
  src/rules/md063_heading_capitalization/md063_config.rs
  tests/config_style_normalization_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md041): support TOML and JSON front-matter formats
  src/rules/front_matter_utils.rs
  src/rules/md041_first_line_heading/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): fix root detection, cross-file rules, and output ordering
  src/resolution.rs
  src/watch.rs
  tests/per_directory_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md075): add property-based and flavor-matrix coverage
  src/rules/md075_orphaned_table_rows.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): add per-directory configuration resolution
  README.md
  docs/global-settings.md
  src/commands/check.rs
  src/config/loading.rs
  src/config/types.rs
  src/main.rs
  src/resolution.rs
  src/watch.rs
  tests/per_directory_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md075): harden orphaned-table detection and fix safety
  docs/md075.md
  src/rules/md075_orphaned_table_rows.rs
  src/utils/table_utils.rs
  tests/cli_lsp_fix_consistency.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(config): add regression tests for cross-file and .config/ root detection
  tests/per_directory_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to 0.1.22
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/index.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(scripts): add --fix mode and fix rule count regex in verify-release-ready
  scripts/verify-release-ready.sh
Due: none

fix(md012): skip blank lines adjacent to headings
  docs/md012.md
  src/file_processor/tests.rs
  src/rules/md012_no_multiple_blanks.rs
  tests/mkdocs_extensions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md063): preserve MD044 proper names with unicode-safe matching
  src/rules/md044_proper_names.rs
  src/rules/md063_heading_capitalization/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md033): add relaxed fix mode for converting HTML with extra attributes
  docs/md033.md
  src/rules/md033_no_inline_html.rs
  src/rules/md033_no_inline_html/md033_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(import): remove trailing blank line from generated TOML output
  src/commands/import.rs
  tests/import_command_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(fix-mode): preserve source file path in re-lint after applying fixes
  src/file_processor/processing.rs
  tests/fixable_unfixable_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(fix-coordinator): provide actionable non-convergence guidance
  src/file_processor/processing.rs
  src/fix_coordinator.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to v0.1.23
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

fix(md012): replace push loops with extend to satisfy clippy same_item_push
  src/rules/md012_no_multiple_blanks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint): resolve clippy warnings in md012, md033, and md063
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md063_heading_capitalization/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): fix blockquote reflow and unify shared reflow utilities
  CHANGELOG.md
  docs/md013.md
  src/lint_context/heading_detection.rs
  src/lint_context/line_computation.rs
  src/lint_context/tests.rs
  src/lsp/linting.rs
  src/lsp/types.rs
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
  src/rules/md033_no_inline_html.rs
  src/utils/blockquote.rs
  src/utils/mod.rs
  src/utils/text_reflow.rs
  tests/md013_reflow_integration_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): add gfm, github, commonmark, qmd, rmd, rmarkdown as accepted --flavor aliases
  src/cli_types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): prevent double blank lines between reflow blocks
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md048): use fence length disambiguation when converting between styles
  src/rules/md048_code_fence_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(sponsors): add Luke W. Johnston as Supporter
  SPONSORS.md
Due: rumdl

fix(docs): remove empty configuration block from rule MD023 page
  docs/md023.md
Due: rumdl

refactor: Use `ValueEnum` to define arguments
  src/cli_types.rs
  src/cli_utils.rs
  src/commands/import.rs
  src/commands/rule.rs
  src/lint_context/tests.rs
  src/main.rs
  src/resolution.rs
  src/stdin_processor.rs
  src/utils/text_reflow.rs
  src/watch.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md030): correct byte offset for ordered list markers inside blockquotes
  src/rules/md030_list_marker_space.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md048): remove outer_has_info heuristic, count only bare interior sequences
  src/rules/md048_code_fence_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md048): detect and fix fence-length ambiguity in same-style blocks
  src/rules/md048_code_fence_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md030): replace stale proptest regression seeds with deterministic tests
  proptest-regressions/rules/formatter_proptest.txt
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): reflow italic and bold paragraphs that exceed line length
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(fmt): apply rustfmt to md013 tests and text_reflow
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md048): enforce CommonMark 0-3 space indent limit for fence markers
  src/rules/md048_code_fence_style.rs
  tests/cli_flavor_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): normalize list continuation indent to marker length during reflow
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
  tests/md013_hard_breaks_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): preserve GFM task checkboxes as non-wrappable marker prefix
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): correct comment in extract_list_marker_and_content
  src/rules/md013_line_length/helpers.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md044): skip names adjacent to underscores inside HTML tags
  src/rules/md044_proper_names.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to v0.1.24
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
