Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

chore(release): prepare v0.0.185
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  tests/markdownlint_config_test.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(reflow): preserve nested linked images during MD013 line wrapping
  src/utils/regex_cache.rs
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

docs(pre-commit): document rumdl-fmt hook and add version check
  README.md
  scripts/verify-release-ready.sh
Due: rumdl

fix(md058): correct fix generation to avoid duplicating table content
  src/rules/md058_blanks_around_tables.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(wasm): add WebAssembly build and npm publishing
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/lib.rs
  src/lint_context.rs
  src/wasm.rs
  wasm-pkg/README.md
  wasm-pkg/package.json.tmpl
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): prepare v0.0.186
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(wasm): implement Linter class API with configuration support
  Cargo.lock
  Cargo.toml
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md052): disable shortcut reference checking by default
  src/rules/md052_reference_links_images.rs
  src/rules/md052_reference_links_images/md052_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md010): skip tabs in fenced code blocks
  src/rules/md010_no_hard_tabs.rs
  src/rules/md046_code_block_style.rs
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(md034,md053): use pulldown-cmark for proper link and footnote parsing
  src/lint_context.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md053_link_image_reference_definitions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): align test expectations with CommonMark and markdownlint
  docs/md052.md
  src/lint_context.rs
  src/rules/blockquote_utils.rs
  src/rules/md027_multiple_spaces_blockquote.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md061_forbidden_terms/mod.rs
  tests/commonmark_compliance_test.rs
  tests/md052_literal_brackets_test.rs
  tests/rules/heading_edge_cases_test.rs
  tests/rules/inline_content_edge_cases_test.rs
  tests/rules/md004_test.rs
  tests/rules/md010_test.rs
  tests/rules/md030_test.rs
  tests/rules/md052_test.rs
  tests/rules/rule_interaction_test.rs
  tests/skip_context_tests.rs
  tests/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): prepare v0.0.187
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(rules): add MD062 and cross-file analysis infrastructure
  .rumdl.toml
  Cargo.lock
  Cargo.toml
  docs/RULES.md
  docs/md062.md
  src/cache.rs
  src/file_processor.rs
  src/lib.rs
  src/lint_context.rs
  src/lsp/index_worker.rs
  src/lsp/mod.rs
  src/lsp/server.rs
  src/lsp/types.rs
  src/main.rs
  src/rule.rs
  src/rules/md051_link_fragments.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md062_link_destination_whitespace.rs
  src/rules/mod.rs
  src/watch.rs
  src/workspace_index.rs
  tests/cross_file_validation_test.rs
  tests/rules/md034_test.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): prepare v0.0.188
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

Add aur packages information
  README.md
Due: rumdl

Add archlinux and termux section
  README.md
Due: rumdl

refactor(rules): remove skip_media_files config from MD057
  src/rules/md057_existing_relative_links.rs
  src/rules/md057_existing_relative_links/md057_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): MD061 case_sensitive defaults to true when loading from TOML
  src/rules/md061_forbidden_terms/md061_config.rs
  src/rules/md061_forbidden_terms/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): skip HTML comments by default in MD044 proper-names rule
  src/rules/md044_proper_names/md044_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): use pulldown-cmark for MD029 list membership detection
  src/rules/md029_ordered_list_prefix.rs
  tests/rules/md029_nested_list_continuation_test.rs
  tests/rules/md029_test.rs
  tests/rules/md029_unicode_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): skip code span content in MD033 multi-line span detection
  src/lint_context.rs
  src/rules/md033_no_inline_html.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

test(rules): add tests for MD022 HTML comment and frontmatter transparency
  src/rules/md022_blanks_around_headings.rs
  tests/rules/heading_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): handle multi-line code spans in MD032 list detection
  src/lint_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): prepare v0.0.189
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(rules): treat HTML comments and frontmatter as transparent for MD022
  src/rules/md022_blanks_around_headings.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

test(rules): fix MD029 nested list test to use CommonMark-compliant indentation
  tests/rules/md029_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

test(rules): fix MD029 insufficient indent test for CommonMark compliance
  tests/rules/md029_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(lsp): detect client diagnostic capabilities to avoid duplicate diagnostics
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(action): add first iteration for rumdl action
  action.yml
  scripts/rumdl-action.sh
Due: none

feat(action): update makefile
  Makefile
  scripts/rumdl-action.sh
Due: none

feat(action): bump to 0.0.185
  scripts/rumdl-action.sh
Due: none

feat(action): added some docs
  README.md
  action.yml
  scripts/rumdl-action.sh
Due: rumdl

feat(action): fix bug on make
  Makefile
Due: none

feat(action): bump to 0.0.189
  scripts/rumdl-action.sh
Due: none

test(lsp): add capability detection tests for issue #182
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(action): add GitHub Action with version, path, and config inputs
  .github/workflows/test-action.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  __tests__/fixtures/clean/.rumdl.toml
  __tests__/fixtures/clean/test.md
  __tests__/fixtures/malformed/bad.md
  action.yml
  scripts/rumdl-action.sh
Due: rumdl

fix(cli): canonicalize config path before changing working directory
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
