Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

ci: fix action test and bound workflow execution
  .github/jactionlint-baseline.json
  .github/workflows/audit.yml
  .github/workflows/codspeed.yml
  .github/workflows/dependencies.yml
  .github/workflows/docs.yml
  .github/workflows/fuzz.yml
  .github/workflows/idempotency.yml
  .github/workflows/parity.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/sync-schemastore.yml
  .github/workflows/test-action.yml
Due: actionlint

feat(stdin): accept separate batch link target inventories
  README.md
  docs/usage/cli.md
  src/cli_types.rs
  src/commands/check.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/rules/md051_link_fragments.rs
  src/stdin_batch_processor.rs
  tests/cli/cli_stdin_batch_targets_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(code-block-tools)!: stabilize coverage policies and project binary lookup
  CHANGELOG.md
  docs/code-block-tools.md
  docs/stability.md
  rumdl.schema.json
  src/check_runner.rs
  src/code_block_tools/binary.rs
  src/code_block_tools/config.rs
  src/code_block_tools/executor.rs
  src/code_block_tools/fingerprint.rs
  src/code_block_tools/mod.rs
  src/code_block_tools/processor.rs
  src/code_block_tools/registry.rs
  src/code_block_tools/run_state.rs
  src/config/validation.rs
  src/file_processor/processing.rs
  src/lsp/linting.rs
  src/resolution.rs
  tests/cli/cli_code_block_tool_modes_test.rs
  tests/cli/md094_invalid_encoding_test.rs
  tests/code_block_tools_stabilization.rs
  tests/config/extends_tests.rs
  tests/integration/code_block_tools_missing_tool_test.rs
  tests/output/fix_reporting_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD037)!: stop offering unsafe emphasis fixes
  README.md
  benches/fix_performance.rs
  benches/rule_performance.rs
  benches/simple_fix_bench.rs
  docs/flavors/mdg.md
  docs/markdownlint-comparison.md
  docs/md037.md
  docs/md038.md
  docs/md049.md
  docs/md050.md
  rules.json
  src/rules/md037_spaces_around_emphasis.rs
  tests/cli/rust_doc_comment_fmt_test.rs
  tests/formats/crlf_line_endings_test.rs
  tests/output/output_format_tests.rs
  tests/regressions/md037_multiline_span_false_positive_test.rs
  tests/regressions/md037_xxxx_regression_test.rs
  tests/rules/emphasis_edge_cases_test.rs
  tests/rules/idempotency_pipeline.rs
  tests/rules/md037_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(fmt): preflight batches and verify tool execution boundaries
  CHANGELOG.md
  docs/code-block-tools.md
  docs/stability.md
  docs/usage/cli.md
  src/check_runner.rs
  src/cli_types.rs
  src/code_block_tools/executor.rs
  src/commands/check.rs
  src/file_processor/mod.rs
  src/file_processor/preflight.rs
  src/file_processor/processing.rs
  src/lsp/tests.rs
  tests/code_block_tools_stabilization.rs
  tests/fixtures/code_block_tool.rs
  tests/preflight_formatting.rs
  tests/support/native_tool.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

build: track release artifact sizes and trim Tokio features
  .github/workflows/release.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Makefile
  scripts/artifact_sizes.py
  scripts/artifact_sizes_test.py
Due: cargo-lock-check, actionlint, rumdl, cargo-lock-check-push

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
