Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

test(md013): add regression test for nested brackets/code spans in link exemption
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): prevent splitting nested links and allow fallback wrapping for soft spans
  src/utils/text_reflow.rs
  tests/regressions/md013_reflow_length_exemptions_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): exempt standalone links with nested markup or unresolved references (#781)
  src/lint_context/link_parser.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/helpers.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md013): cover nested brackets and code spans in link exemptions (#777)
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): keep nested links intact when reflowing emphasis spans (#779)
  src/utils/text_reflow.rs
  tests/regressions/md013_reflow_length_exemptions_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): stop exempting a complete link followed by a parenthesized aside
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md077): support fixed continuation indent config
  docs/md077.md
  src/rules/md077_list_continuation_indent.rs
  src/rules/md077_list_continuation_indent/md077_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(md033): say that the no-markdown-equivalent value never carries a container's contents
  docs/md033.md
Due: rumdl

fix(MD076): preserve fenced list item spacing
  src/rules/md076_list_item_spacing.rs
  tests/regressions/md031_md076_issue_787_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md022): use the same list test below a heading in check and fix
  src/rules/md022_blanks_around_headings.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/rules/md022_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md077): support fixed continuation indent config (#786)
  docs/md077.md
  src/rules/md077_list_continuation_indent.rs
  src/rules/md077_list_continuation_indent/md077_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md077): reject a configured indent of 0
  src/rules/md077_list_continuation_indent/md077_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md077): accept the indent option instead of reporting it as unknown
  src/rules/md077_list_continuation_indent.rs
  tests/config/documented_alias_reachability_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md077): keep the strict-flavor minimum as a floor under a configured indent
  docs/md077.md
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md012): report blank lines before a code block that ends the document
  src/rules/md012_no_multiple_blanks.rs
  tests/rules/md012_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md040): locate the fence a list marker holds instead of assuming the indent
  src/rules/md040_fenced_code_language.rs
  tests/regressions/md040_list_marker_fence_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md088): normalize to ASCII quotes and dashes
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md088.md
  docs/mdformat-comparison.md
  docs/rules.md
  src/config/registry.rs
  src/lint_context/mod.rs
  src/rules/md044_proper_names.rs
  src/rules/md084_invisible_characters.rs
  src/rules/md084_invisible_characters/md084_config.rs
  src/rules/md088_quotes_dashes.rs
  src/rules/md088_quotes_dashes/md088_config.rs
  src/rules/mod.rs
  src/utils/mod.rs
  src/utils/unicode.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: add missing cli test
  tests/cli/cli_lsp_fix_consistency.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md022): use the same list test below a heading in check and fix (#790)
  src/rules/md022_blanks_around_headings.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/rules/md022_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD076): preserve fenced list item spacing (#788)
  src/rules/md076_list_item_spacing.rs
  tests/regressions/md031_md076_issue_787_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md022): require a blank line below a heading above a spaced thematic break
  src/rules/md022_blanks_around_headings.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md076): ask the parser whether a list item's block is really fenced
  src/rules/md076_list_item_spacing.rs
  tests/regressions/md031_md076_issue_787_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md065): report thematic breaks written with spaces between markers
  src/rules/md065_blanks_around_horizontal_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(md022,md076): describe the blank lines these rules leave to MD031 and MD032
  docs/md022.md
  docs/md076.md
Due: rumdl

fix(md065): leave markers alone inside a block that hides its content
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/rules/md065_blanks_around_horizontal_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md018): accept the tags option instead of reporting it as unknown
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md018_no_missing_space_atx/md018_config.rs
  tests/config/documented_alias_reachability_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.50
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(md051,md080): resolve the anchor style per file, not once from the global flavor
  src/rules/md051_link_fragments.rs
  src/rules/md080_heading_anchor_collision.rs
  src/utils/anchor_styles/mod.rs
  tests/cli/cli_flavor_test.rs
  tests/rules/md051_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): build the workspace index from the rules the CLI uses
  src/lsp/completion.rs
  src/lsp/index_worker.rs
  src/lsp/navigation.rs
  src/lsp/tests.rs
  src/rules/md051_link_fragments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(md057): drop the flavor field the rule never read
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md051): index cross-file links independently of frontmatter config
  benches/perf_audit.rs
  src/lsp/tests.rs
  src/rules/md051_link_fragments.rs
  src/rules/md057_existing_relative_links.rs
  src/utils/frontmatter_values.rs
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): keep frontmatter values out of find-references results
  src/lsp/navigation.rs
  src/lsp/tests.rs
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): identify documents by the same resolved path as the index
  src/lsp/completion.rs
  src/lsp/linting.rs
  src/lsp/mod.rs
  src/lsp/navigation.rs
  src/lsp/server.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): accept every config key a rule actually reads
  docs/md001.md
  src/config/registry.rs
  src/rule.rs
  src/rule_config_serde.rs
  src/rules/md001_heading_increment.rs
  src/rules/md004_unordered_list_style.rs
  src/rules/md007_ul_indent.rs
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md013_line_length.rs
  src/rules/md018_no_missing_space_atx/md018_config.rs
  src/rules/md027_multiple_spaces_blockquote.rs
  src/rules/md028_no_blanks_blockquote.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md036_no_emphasis_only_first.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/md041_first_line_heading.rs
  src/rules/md044_proper_names.rs
  src/rules/md045_no_alt_text.rs
  src/rules/md045_no_alt_text/md045_config.rs
  src/rules/md051_link_fragments.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md060_table_format.rs
  src/rules/md063_heading_capitalization.rs
  src/rules/md072_frontmatter_key_sort.rs
  src/rules/md077_list_continuation_indent.rs
  src/rules/md080_heading_anchor_collision.rs
  src/rules/md081_no_excessive_emphasis.rs
  tests/config/config_schema_display_split_test.rs
  tests/config/documented_alias_reachability_test.rs
  tests/config/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md035): publish the horizontal rule style the rule enforces
  docs/md035.md
  src/rules/md035_hr_style.rs
  src/rules/md035_hr_style/md035_config.rs
  tests/rules/md035_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): answer `config get` for every key rumdl accepts
  src/commands/config.rs
  src/config/global_keys.rs
  src/config/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(config): stop the documentation sweep from silently skipping rules
  tests/config/config_documentation_completeness.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): report the effective rule lists from `config get global.*`
  src/commands/config.rs
  src/config/global_keys.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(md088): correct the rule number, alias and codepoints
  docs/md088.md
Due: rumdl

fix(md088): leave modifier letters and math notation alone
  src/rules/md088_quotes_dashes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
