Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

chore(release): update mise version to v0.1.44 in README
  README.md
Due: rumdl

fix(rules): resolve clippy needless_range_loop and too_many_arguments warnings
  src/lint_context/flavor_detection.rs
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(release): add lint step to release workflow test job
  .github/workflows/release.yml
Due: actionlint

fix(rules): skip backtick-delimited text in frontmatter for MD044
  src/rules/md044_proper_names.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(npm): auto-fix binary permissions when not executable
  npm/rumdl/bin/rumdl
Due: none

fix(rules): strip HTML/JSX tags from heading anchors in MD051
  src/rules/md051_link_fragments.rs
  src/utils/anchor_styles/github.rs
  src/utils/anchor_styles/kramdown.rs
  src/utils/anchor_styles/kramdown_gfm.rs
  src/utils/anchor_styles/python_markdown.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): accept list continuation at parent indent levels in MD032
  npm/rumdl/bin/rumdl
  src/lint_context/list_blocks.rs
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(npm): remove chmod step from npm CLI tests
  .github/workflows/release.yml
Due: actionlint

test(rules): add edge case tests for #510 and #513 fixes
  src/rules/md044_proper_names.rs
  src/utils/anchor_styles/kramdown.rs
  src/utils/anchor_styles/kramdown_gfm.rs
  src/utils/anchor_styles/python_markdown.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to v0.1.45
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(rules): add require-sentence-capital option for MD013 sentence detection
  docs/md013.md
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
  src/utils/sentence_utils.rs
  src/utils/text_reflow.rs
  tests/sentence_per_line_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): add #514 feature to v0.1.45 changelog
  CHANGELOG.md
Due: none

fix(rules): collapse nested if to satisfy clippy collapsible_if lint
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(rules): remove dead code and consolidate code_block_utils
  src/rule.rs
  src/rules/blockquote_utils.rs
  src/rules/code_block_utils.rs
  src/rules/md046_code_block_style.rs
  src/rules/md046_code_block_style/md046_config.rs
  src/rules/mod.rs
  src/utils/document_structure.rs
  src/utils/mod.rs
  tests/inline_config_test.rs
  tests/rule_complexity_regression_test.rs
  tests/rules/formatter_proptest.rs
  tests/rules/md046_test.rs
  tests/rules/mkdocs_extensions_test.rs
  tests/utils/blockquote_utils_test.rs
  tests/utils/code_block_utils_extended_test.rs
  tests/utils/code_block_utils_test.rs
  tests/utils/mod.rs
  tests/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(core): remove dead code from rule.rs, optimize is_in_code_block, fix inline config guard
  src/inline_config.rs
  src/rule.rs
  src/rules/md040_fenced_code_language.rs
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(cache): add Swatinem/rust-cache for dependency caching
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actionlint

fix(rules): skip mkdocstrings blocks in emphasis-related rules
  src/rules/md036_no_emphasis_only_first.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md050_strong_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(inline-config): unified directive parser eliminates disambiguation bugs
  src/inline_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): strip ANSI codes, parse multi-line errors, combine output streams
  src/code_block_tools/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(tests): add missing trailing spaces to MD009 inline config test
  tests/config/inline_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint): resolve clippy warnings blocking push
  src/inline_config.rs
  tests/perf/perf_fixtures.rs
  tests/perf/real_world_performance.rs
  tests/regressions/test_lint_context_flow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): resolve MD032 false positive for list continuation in blockquotes
  src/lint_context/list_blocks.rs
  tests/rules/md032_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): allow 'enabled' key in any rule's config block
  src/config/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): report all violations per code block in MD014
  src/rules/md014_commands_show_output.rs
  tests/rules/md014_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(rules): remove unused methods from MD014
  src/rules/md014_commands_show_output.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): register config aliases for MD033 shorthand options
  src/rules/md033_no_inline_html.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(rules): add edge case and regression tests for recent fixes
  src/config/tests.rs
  tests/rules/md014_test.rs
  tests/rules/md032_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): register shorthand aliases for MD013 strict-sentences option
  src/rules/md013_line_length/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): make per-rule `enabled` fully bidirectional
  src/config/loading.rs
  src/config/types.rs
  src/wasm.rs
  tests/config/config_tests.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): default tombi tool runs `tombi lint` instead of `tombi format`
  docs/code-block-tools.md
  src/code_block_tools/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to v0.1.46
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(lint): resolve clippy uninlined_format_args warning in list_blocks
  src/lint_context/list_blocks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): preserve admonition indent after code blocks in list items
  src/rules/md013_line_length/mod.rs
  tests/formats/md013_mkdocs_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): publish empty diagnostics to invalidate client cache in pull mode
  src/lsp/linting.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md070): expand fence collision detection to common languages and fix auto-fix integration
  src/rules/md046_code_block_style.rs
  src/rules/md070_nested_code_fence.rs
  tests/rules/md046_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md025): cascade heading demotion to child headings in auto-fix
  src/rules/md025_single_title.rs
  tests/rules/md025_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md025): handle Setext per-warning fix range, inline config delta reset, and edge case tests
  src/rules/md025_single_title.rs
  tests/rules/md025_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md007): enforce 4-space indent for mkdocs flavor (#522)
  src/rules/md007_ul_indent.rs
  tests/rules/md007_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): bump version to v0.1.47
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push
