Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

.pre-commit-config.yaml:

# Pre-commit hooks for rumdl
# Install with:
#   pre-commit install                          # Install commit hooks
#   pre-commit install --hook-type commit-msg   # Install commit-msg hooks
#   pre-commit install --hook-type pre-push     # Install push hooks
# Run manually:
#   pre-commit run --all-files                         # Run commit hooks
#   pre-commit run --hook-stage push --all-files       # Run push hooks
#   pre-commit run --hook-stage commit-msg --commit-msg-filename .git/COMMIT_EDITMSG

fail_fast: true

repos:
  # Conventional Commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []  # Optional: add --strict for stricter validation

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test-quick
        name: cargo test (quick)
        entry: make test-pre-commit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-commit]

      - id: cargo-lock-check
        name: check Cargo.lock is up-to-date
        entry: cargo check --locked
        language: system
        files: ^(Cargo\.(toml|lock)|.*\.rs)$
        pass_filenames: false
        stages: [pre-commit]

  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$|tests/inline_config_test\.rs$|tests/output_format_integration_tests\.rs$|tests/lsp_editor_integration_tests\.rs$|tests/utils_markdown_edge_cases\.rs$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting using rumdl itself (cargo run)
  - repo: local
    hooks:
      - id: rumdl
        name: rumdl check
        entry: cargo run --quiet -- check
        language: system
        files: \.md$
        exclude: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
        pass_filenames: true
        require_serial: true

  # Pre-push hooks for comprehensive validation
  - repo: local
    hooks:
      - id: cargo-test-full
        name: cargo test (full suite)
        entry: make test-push
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-lint-full
        name: cargo clippy (all targets)
        entry: mise exec -- make lint
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-doc-check
        name: cargo doc (check)
        entry: mise exec -- cargo doc --no-deps --all-features
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-lock-check-push
        name: verify Cargo.lock is committed and up-to-date
        entry: mise exec -- cargo check --locked
        language: system
        files: ^(Cargo\.(toml|lock)|.*\.rs)$
        pass_filenames: false
        stages: [pre-push]
        verbose: true

fix(lsp): make severity a first-class field on RuleConfig
  src/config.rs
  src/config_intelligent_merge_tests.rs
  src/fix_coordinator.rs
  src/lib.rs
  src/lsp/server.rs
  src/main.rs
  src/rule.rs
  src/rule_config_serde.rs
  tests/config_application_tests.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

test(lsp): add generic parity test for LSP and TOML config handling
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

docs(rules): add opt-in rules section to RULES.md
  docs/RULES.md
Due: rumdl

docs: add footnote rules documentation and cache config
  .pre-commit-config.yaml
  docs/RULES.md
  docs/global-settings.md
  docs/md066.md
  docs/md067.md
  docs/md068.md
Due: rumdl

docs: add LSP server documentation
  docs/lsp.md
Due: rumdl

docs: document .ignore file support
  docs/global-settings.md
Due: rumdl

feat(rules): add MD069 to detect duplicate list markers
  docs/RULES.md
  docs/md069.md
  src/rules/md069_no_duplicate_list_markers.rs
  src/rules/mod.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): prepare v0.0.202
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs: use up-to-date instructions for nvim
  docs/lsp.md
Due: rumdl

docs: add missing reference to LSP docs
  README.md
Due: rumdl

docs: cleanup ToC
  README.md
Due: rumdl

docs: add LSP section to ToC
  README.md
Due: rumdl

fix(lint-context): remove obsolete pulldown-cmark escaped bracket workaround
  src/lint_context.rs
  tests/escaped_brackets_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(ci): add schema check to pre-push hooks
  .pre-commit-config.yaml
  rumdl.schema.json
Due: none

feat(MD001): recognize frontmatter title as implicit H1
  src/lib.rs
  src/main.rs
  src/rules/md001_heading_increment.rs
  tests/character_ranges/mod.rs
  tests/common/test_utils.rs
  tests/cross_platform_compatibility_tests.rs
  tests/final_confidence_assessment.rs
  tests/performance/mod.rs
  tests/real_world_repository_tests.rs
  tests/rule_complexity_regression_test.rs
  tests/rules/heading_edge_cases_test.rs
  tests/rules/md001_test.rs
  tests/rules/md001_unicode_test.rs
  tests/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

ci: remove schema check from CI workflow
  .github/workflows/ci.yml
Due: none

fix(config): add missing aliases for MD06x rules
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(config): add missing MD062/MD064/MD065 aliases and fix MD069 typo
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(config): add missing aliases for MD06x rules (#232)
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD012): remove all trailing blank lines at EOF
  src/rules/md012_no_multiple_blanks.rs
  tests/rules/md012_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

ci(release): notify obsidian-rumdl on npm publish
  .github/workflows/release.yml
Due: none

ci(test): exclude scaling tests from CI profile
  .config/nextest.toml
Due: none

feat(config): implement Ruff model for config inheritance
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): skip wikilinks in MD051 cross-file indexing (#235)
  src/rules/md051_link_fragments.rs
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD057): use URL position in cross-file index (#234)
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(config): load explicit config paths when auto-discovery disabled
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  src/config.rs
  src/main.rs
  src/workspace_index.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD007): use per-parent indent logic instead of document-wide style
  src/rules/md007_ul_indent.rs
  tests/rules/md007_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD022): distinguish horizontal rules from frontmatter delimiters
  src/lint_context.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md065_blanks_around_horizontal_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

test(MD022): add comprehensive tests for HR and heading edge cases
  src/rules/md022_blanks_around_headings.rs
  tests/rules/heading_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

refactor(lsp): unify cross-file link extraction with MD057
  src/lsp/index_worker.rs
  src/rules/md057_existing_relative_links.rs
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): bump version to 0.0.204
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(MD046): detect 4-space indented fences as indented code blocks
  docs/md046.md
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): detect indented code blocks in content characteristics
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD046): detect mixed whitespace indented code blocks
  src/lib.rs
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

refactor(rules): consolidate tab expansion logic into shared utility
  src/rules/code_block_utils.rs
  src/rules/md046_code_block_style.rs
  src/utils/element_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push
