Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(invisiblechars): extend MD084 with flagging deprecated unicode chars
  docs/md084.md
  src/rules/md084_invisible_characters.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: linting issues
  src/rules/md084_invisible_characters.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md013): measure reflowed lines with the check's length exemptions
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/utils/text_reflow.rs
  tests/regressions/md013_reflow_length_exemptions_test.rs
  tests/regressions/mod.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

lint fix
  src/rules/md084_invisible_characters.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): keep protecting an element a reflow break carried forward
  src/utils/text_reflow.rs
  tests/regressions/md013_reflow_length_exemptions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(md013): use US spelling in the reflow exemption docs
  docs/md013.md
  tests/regressions/md013_reflow_length_exemptions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md084): flag deprecated and markup-unsuitable Unicode code points
  docs/md084.md
  src/rules/md084_invisible_characters.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md084): keep the removal fix for invisible deprecated code points
  docs/md084.md
  docs/rules.md
  src/rules/md084_invisible_characters.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md084): keep orphaned selectors visible beside an annotation delimiter
  docs/md084.md
  src/rules/md084_invisible_characters.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md084): report invisible characters orphaned mid-line by an annotation delimiter
  docs/md084.md
  src/rules/md084_invisible_characters.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): take the space before an inline span from the source
  src/utils/text_reflow.rs
  tests/regressions/md013_reflow_span_spacing_issue_767_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.47
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(lsp): resolve workspace configuration from the workspace root
  src/config/loading.rs
  src/lsp/configuration.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md041): report the fix capability its opt-in fix enables
  src/rules/md041_first_line_heading.rs
  tests/cli/cli_integration_tests.rs
  tests/integration/unfixable_rules_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): count an unloadable subdirectory config as a config warning
  docs/usage/cli.md
  src/check_runner.rs
  src/cli_types.rs
  src/resolution.rs
  tests/cli/cli_exit_codes_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(lsp): report inline config problems as diagnostics
  docs/lsp.md
  src/inline_config.rs
  src/lsp/linting.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): resolve a secondary workspace root's own configuration
  src/lsp/configuration.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): count fixes a document enables with an inline configure-file comment
  src/file_processor/processing.rs
  src/stdin_processor.rs
  tests/cli/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): use defaults when a workspace root's own scope cannot be resolved
  src/lsp/configuration.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md057): report relative links that point at their own file
  docs/md057.md
  src/rules/md057_existing_relative_links.rs
  src/rules/md057_existing_relative_links/md057_config.rs
  tests/cli/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md057): anchor reference definition fixes to the link destination
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md057): keep search paths a fallback when matching a link to its own file
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md062): preserve parentheses in link destinations
  src/rules/md062_link_destination_whitespace.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(comments): end an HTML comment at the first --> after the opener
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(comments): ignore comment delimiters inside front matter
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md086): add rule for unclosed comment delimiters
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md086.md
  docs/mdformat-comparison.md
  docs/rules.md
  docs/stability.md
  rules.json
  src/config/registry.rs
  src/lint_context/flavor_detection.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/rules/md086_no_unclosed_comments.rs
  src/rules/mod.rs
  src/utils/skip_context.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(comments): ignore Obsidian comment delimiters inside front matter
  src/lint_context/flavor_detection.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/rules/md086_no_unclosed_comments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md086): don't report a comment opener the other syntax hides
  docs/md086.md
  src/lint_context/mod.rs
  src/rules/md086_no_unclosed_comments.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md086): keep reporting an Obsidian opener below an unclosed HTML one
  docs/md086.md
  src/rules/md086_no_unclosed_comments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(md086): correct what the rest of the linter sees below an unclosed comment
  docs/md086.md
  src/rules/md086_no_unclosed_comments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(comments): hide the block an unclosed `<!--` opens from every rule
  docs/md086.md
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/rules/md086_no_unclosed_comments.rs
  src/utils/code_block_utils.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(links): exclude stackoverflow.com from the link check
  .lychee.toml
Due: none

Revert "fix(comments): hide the block an unclosed `<!--` opens from every rule"
  docs/md086.md
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/rules/md086_no_unclosed_comments.rs
  src/utils/code_block_utils.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(comments): hide the block an unclosed `<!--` opens from every rule
  docs/md086.md
  src/lint_context/flavor_detection.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/rules/md086_no_unclosed_comments.rs
  src/utils/code_block_utils.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(comments): read an unclosed comment in a container body, not in code
  Makefile
  src/lint_context/flavor_detection.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/rules/md086_no_unclosed_comments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): measure diagnostic positions in UTF-16 code units
  src/lsp/completion.rs
  src/lsp/linting.rs
  src/lsp/mod.rs
  src/lsp/navigation.rs
  src/lsp/position.rs
  src/lsp/symbols.rs
  src/lsp/tests.rs
  src/lsp/types.rs
  tests/lsp/lsp_integration_tests.rs
  tests/lsp/lsp_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test: stop mutating the process working directory in integration tests
  tests/cli/init_command_test.rs
  tests/config/config_tests.rs
  tests/config/per_file_ignores_integration_test.rs
  tests/regressions/md051_readme_bug_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): warn when an inline enable targets a per-file-ignored rule
  docs/inline-configuration.md
  src/file_processor/processing.rs
  src/inline_config.rs
  src/lsp/linting.rs
  src/lsp/tests.rs
  src/stdin_processor.rs
  tests/config/per_file_ignores_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(inline-config): ignore directives inside indented code blocks
  docs/inline-configuration.md
  src/inline_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): apply map-valued rule options set in rumdl.toml
  src/config/global_keys.rs
  src/config/parsers.rs
  src/config/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
