Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(discovery): match a rooted Windows path without a drive against absolute exclude patterns
  src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(config): give normalize_match_path its root the way Config does
  src/config/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): apply only the fixes rumdl fmt applies in Fix all
  src/file_processor/processing.rs
  src/fix_coordinator.rs
  src/lsp/linting.rs
  src/lsp/tests.rs
  src/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(parser): detect setext headings that start with markup or sit in a blockquote
  src/lint_context/heading_detection.rs
  src/lint_context/list_blocks.rs
  src/lint_context/mdx.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/lsp/symbols.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/helpers.rs
  src/rules/md080_heading_anchor_collision.rs
  src/rules/md090_no_hr_before_heading.rs
  tests/rules/md001_test.rs
  tests/rules/md003_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD065): keep the underline of a quoted setext heading
  src/rules/md065_blanks_around_horizontal_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(parser): end a paragraph at an MDX flow expression
  src/lint_context/heading_detection.rs
  src/lint_context/mdx.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  tests/rules/md003_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(parser): read no setext heading inside an HTML block
  src/lint_context/heading_detection.rs
  src/lint_context/line_computation.rs
  src/lint_context/mdx.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  tests/rules/md003_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD090): report a break under the underline of an equals setext heading
  src/rules/md090_no_hr_before_heading.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: empty run reason breaks machine-readable outputs
  src/check_runner.rs
  tests/cli/cli_stdin_exclude_issue_871_test.rs
  tests/cli/empty_run_diagnostics_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

add test
  tests/cli/empty_run_diagnostics_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD057): find a link's destination when its text wraps onto another line
  src/rules/md057_existing_relative_links.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(parser): read a link label to the bracket the inline parse closes it at
  src/lint_context/link_parser.rs
  src/lint_context/tests.rs
  src/rules/md054_link_image_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD057): check inline links whose text wraps onto another line
  src/rules/md057_existing_relative_links.rs
  src/workspace_index.rs
  tests/output/machine_format_contract_test.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD057): require the link target's exact case on case-insensitive filesystems
  docs/md057.md
  src/rules/md057_existing_relative_links.rs
  tests/cli/cli_cache_cross_file_test.rs
  tests/perf/rule_complexity_regression_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): keep a closing bracket with the CJK sentence it ends
  src/rules/md013_line_length/tests.rs
  src/utils/sentence_utils.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): split a CJK sentence only where its delimiter runs pair
  src/rules/md013_line_length/tests.rs
  src/utils/sentence_utils.rs
  src/utils/text_reflow.rs
  tests/perf/rule_complexity_regression_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): write one space at a soft break after a trailing space
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/perf/rule_complexity_regression_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): keep a definition-list marker written on its own line
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): keep a whole-line display math expression on its own line
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/perf/rule_complexity_regression_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): read no math span through a code span
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(parser): read an empty list item under a paragraph as its text
  src/lint_context/heading_detection.rs
  src/lint_context/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(parser): keep a container open below a block written inside it
  src/lint_context/heading_detection.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  tests/rules/md003_test.rs
  tests/rules/md051_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(parser): lint the headings a short or quoted setext underline makes
  src/lib.rs
  src/lint_context/mod.rs
  tests/rules/md003_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD026): delete a setext heading's trailing punctuation where it stands
  src/rules/md026_no_trailing_punctuation.rs
  tests/rules/md026_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(parser): keep link reference definitions out of a setext heading
  src/lint_context/heading_detection.rs
  src/lint_context/link_parser.rs
  src/lint_context/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(code-block-tools): add explicit rumdl, oxfmt, djlint, and shuck modes
  docs/code-block-tools.md
  src/code_block_tools/mod.rs
  src/code_block_tools/processor.rs
  src/code_block_tools/registry.rs
  src/config/validation.rs
  src/embedded_lint.rs
  src/file_processor/discovery.rs
  src/file_processor/embedded.rs
  src/file_processor/processing.rs
  src/formatter.rs
  src/lsp/tests.rs
  src/resolution.rs
  tests/cli/cli_code_block_tool_modes_test.rs
  tests/integration/code_block_tools_execution_test.rs
  tests/output/summary_wording_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): keep parent list items open after nested lists
  src/lint_context/list_blocks.rs
  tests/rules/md032_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD092): allow scoped suppression of documented conflicts
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md092.md
  docs/mdformat-comparison.md
  docs/obsidian-linter-comparison.md
  docs/rules.md
  docs/stability.md
  docs/usage/cli.md
  src/code_block_tools/processor.rs
  src/config/registry.rs
  src/file_processor/doc_comments.rs
  src/file_processor/embedded.rs
  src/file_processor/processing.rs
  src/fix_coordinator.rs
  src/lib.rs
  src/lsp/completion.rs
  src/lsp/index_worker.rs
  src/lsp/linting.rs
  src/lsp/navigation.rs
  src/lsp/server.rs
  src/lsp/tests.rs
  src/merge_conflict.rs
  src/rules/mod.rs
  src/stdin_batch_processor.rs
  src/stdin_processor.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/cli/stdin_diff_test.rs
  tests/integration/merge_conflict_test.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): don't treat a nested blockquote as ending the list
  CHANGELOG.md
  src/lint_context/list_blocks.rs
  tests/regressions/md032_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.74
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

ci(release): handle Cargo index rejection on publish retries
  .github/workflows/release.yml
Due: actionlint

fix(MD044): add opt-in whole-word matching for identifiers
  docs/md044.md
  src/rules/md044_proper_names.rs
  src/rules/md044_proper_names/md044_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): protect opt-in bracket display math during reflow
  docs/md013.md
  src/lint_context/bracket_math.rs
  src/lint_context/mod.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  tests/regressions/md013_bracket_display_math_issue_880_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md093): add opt-in rule for inline formatting in headings
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md093.md
  docs/mdformat-comparison.md
  docs/obsidian-linter-comparison.md
  docs/rules.md
  docs/stability.md
  src/config/registry.rs
  src/rules/md093_no_formatting_in_headings.rs
  src/rules/md093_no_formatting_in_headings/md093_config.rs
  src/rules/md093_no_formatting_in_headings/tests.rs
  src/rules/mod.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): add opt-in link text wrapping
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/md013_config.rs
  src/utils/text_reflow.rs
  tests/regressions/md013_reflow_link_text_breaking_test.rs
  tests/regressions/mod.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.75
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

chore(deps): refresh Rust dependencies
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
