Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

.pre-commit-config.yaml:

# Pre-commit hooks for rumdl
# Install with:
#   pre-commit install                    # Install commit hooks
#   pre-commit install --hook-type pre-push  # Install push hooks
# Run manually:
#   pre-commit run --all-files           # Run commit hooks
#   pre-commit run --hook-stage push --all-files  # Run push hooks

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test-quick
        name: cargo test (quick)
        entry: make test-pre-commit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-commit]

  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$|tests/inline_config_test\.rs$|tests/output_format_integration_tests\.rs$|tests/lsp_editor_integration_tests\.rs$|tests/utils_markdown_edge_cases\.rs$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting using rumdl itself (local binary)
  - repo: local
    hooks:
      - id: rumdl
        name: rumdl check
        entry: ./target/release/rumdl check
        language: system
        files: \.md$
        exclude: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
        pass_filenames: true
        require_serial: true

  # Pre-push hooks for comprehensive validation
  - repo: local
    hooks:
      - id: cargo-test-full
        name: cargo test (full suite)
        entry: make test-push
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-lint-full
        name: cargo clippy (all targets)
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-doc-check
        name: cargo doc (check)
        entry: cargo doc --no-deps --all-features
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

perf(fix): enable parallel file processing for fix mode (4.8x speedup)
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(cache): add file-level caching infrastructure (Ruff-inspired)
  Cargo.lock
  Cargo.toml
  src/cache.rs
  src/file_processor.rs
  src/main.rs
  src/rule.rs
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(cache): add CLI flags for cache control
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(cache): enable file-level caching by default
  src/main.rs
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(cache): unify linting paths and enable cache for all output formats
  src/file_processor.rs
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(cache): prefer caching over parallelization for multi-file checks
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(cache): implement Ruff-style parallel caching with Arc<Mutex<>>
  src/file_processor.rs
  src/main.rs
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: update CHANGELOG for v0.0.164
  CHANGELOG.md
Due: none

fix(pre-push): use dev profile for test-push to avoid hanging
  Makefile
Due: none

feat(changelog): add automated changelog generation with git-cliff
  .mise.toml
  CONTRIBUTING.md
  Makefile
  cliff.toml
Due: rumdl

feat(commit-msg): add conventional commits validation hook
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: rumdl

fix(md040): always preserve indentation when adding language tags
  src/rules/md040_fenced_code_language.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: update CHANGELOG for v0.0.165
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix(test): update test_indented_code_block to expect correct behavior
  tests/rules/md040_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(md013): add paragraphs field to disable paragraph line length checks
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  tests/fix_counting_test.rs
  tests/rules/md013_test.rs
  tests/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: update CHANGELOG for v0.0.166
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat(md013): support line-length = 0 to disable all line length checks
  docs/md013.md
  src/rules/md013_line_length.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(md053): recognize and ignore community comment-style references
  docs/md053.md
  src/rules/md053_link_image_reference_definitions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(lsp): improve logging and resolve auto-fix issues
  src/lsp/mod.rs
  src/lsp/server.rs
  src/lsp/types.rs
  src/rules/md035_hr_style.rs
  src/rules/md055_table_pipe_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(rules): add mdbook template support to MD051
  src/rules/md051_link_fragments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(rules): correct GitHub slug generation for angle brackets in MD051
  src/utils/anchor_styles/github.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor(rules): remove unhelpful message suffix from MD033
  src/rules/md033_no_inline_html.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor(rules): remove unused LinkImageStyle enum from MD054
  src/rules/md054_link_image_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(lsp): add manual "Reflow paragraph" code action for MD013
  CHANGELOG.md
  src/lsp/types.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(lsp): preserve trailing newline in reflow action
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs(md033): add mdbook use case for semantic HTML
  docs/md033.md
Due: rumdl

chore: fix clippy warnings
  src/lsp/types.rs
  src/rules/md054_link_image_style.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(config): implement unknown keys validation with fuzzy suggestions
  src/config.rs
  src/rules/md033_no_inline_html.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: update CHANGELOG for v0.0.167
  CHANGELOG.md
  Cargo.toml
Due: none

fix(test): update config test to expect kebab-case properties
  .config/nextest.toml
  tests/advanced_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(config): standardize on kebab-case for all config properties
  .config/nextest.toml
  .pre-commit-config.yaml
  .rumdl.toml
  Cargo.lock
  Makefile
  docs/md033.md
  src/config.rs
  src/lsp/server.rs
  src/utils/anchor_styles/github.rs
  tests/init_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

perf(test): fix memory test to share LintContext and exclude from CI
  tests/real_world_repository_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf(md022): fix O(n²) bottleneck and use centralized front-matter utils
  src/rules/md022_blanks_around_headings.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(md022): remove front-matter handling from rule logic
  src/rules/md022_blanks_around_headings.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor(rules): use filtered_lines() for front-matter handling in MD011 and MD012
  src/rules/md011_no_reversed_links.rs
  src/rules/md012_no_multiple_blanks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(md012): enforce exactly 1 newline at EOF and clean LSP logging
  src/lsp/server.rs
  src/lsp/types.rs
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md012_no_multiple_blanks/md012_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(lsp): implement will_save_wait_until for proper auto-fix on save
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(cli): add support for additional markdown file extensions
  src/file_processor.rs
  tests/mdx_support_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(cli): add support for Quarto (.qmd) and RMarkdown (.rmd) files
  src/file_processor.rs
  tests/quarto_rmarkdown_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check
