Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: ./target/release/rumdl check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-doc-check:
  name: cargo doc (check)
  entry: cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

Bump version to v0.0.146
  CHANGELOG.md
  Cargo.toml
Due: none

fix: CI test failures for v0.0.146 release
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: correct warning count for Fix Coordinator
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: correct warning counting in Fix Coordinator
  Cargo.lock
  src/fix_coordinator.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf: migrate MD014 to cached regex system
  src/rules/md014_commands_show_output.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf: migrate all rules to cached regex system
  src/rules/heading_utils.rs
  src/rules/md003_heading_style.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md014_commands_show_output.rs
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md020_no_missing_space_closed_atx.rs
  src/rules/md021_no_multiple_space_closed_atx.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md039_no_space_in_links.rs
  src/rules/md050_strong_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: resolve clippy and formatting issues
  src/rules/heading_utils.rs
  src/rules/md003_heading_style.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md020_no_missing_space_closed_atx.rs
  src/rules/md021_no_multiple_space_closed_atx.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md039_no_space_in_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: resolve MD033 and MD032 false positives (issues #90, #91)
  src/lint_context.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md033_no_inline_html.rs
  src/utils/ast_utils.rs
  tests/md032_backslash_continuations_test.rs
  tests/md032_edge_cases_test.rs
  tests/md033_edge_cases_test.rs
  tests/test_ast_code_block_issue.rs
  tests/test_ast_parsing.rs
  tests/test_gfm_vs_default_parsing.rs
  tests/test_lint_context_flow.rs
  tests/test_list_ast_structure.rs
  tests/test_multiline_ast.rs
  tests/test_multiline_code_spans.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: resolve MD054 column indexing bug
  src/rules/md054_link_image_style.rs
  tests/md054_code_span_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.147 for release
  Cargo.lock
  Cargo.toml
  tests/md054_code_span_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: MD034 properly excludes URLs/emails in code spans and HTML
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: remove debug test files
  tests/md032_backslash_continuations_test.rs
  tests/test_ast_parsing.rs
  tests/test_multiline_code_spans.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: prevent MD013 false positives for already-reflowed content
  src/rules/md013_line_length.rs
  tests/md013_reflow_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add Jinja2 template support to prevent false positives (fixes #96)
  src/rules/md011_no_reversed_links.rs
  src/utils/jinja_utils.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: correct MD026 documentation to match implementation (fixes #95)
  docs/md026.md
  tests/rules/md026_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: remove MD041 auto-fix capability (fixes #93)
  docs/md041.md
  src/rules/md041_first_line_heading.rs
  tests/rules/md041_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: prevent mkdocstrings YAML options from triggering false positives (fixes #94)
  src/lint_context.rs
  src/rules/md007_ul_indent.rs
  src/rules/md013_line_length.rs
  src/rules/md046_code_block_style.rs
  src/utils/mkdocstrings_refs.rs
  tests/rules/mkdocs_extensions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: add mkdocstrings support and migrate affected rules to LintContext (fixes #94)
  src/lint_context.rs
  src/rules/md007_ul_indent.rs
  src/rules/md013_line_length.rs
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: strip backticks from MkDocs auto-references (fixes #97)
  src/rules/md042_no_empty_links.rs
  src/rules/md052_reference_links_images.rs
  tests/rules/md042_test.rs
  tests/rules/md052_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: correct display of shorthand reference links in MD042 messages
  src/rules/md042_no_empty_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: display exact source text in MD042 error messages
  src/rules/md042_no_empty_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.148
  Cargo.lock
  Cargo.toml
Due: none

feat: add per-file rule ignores configuration (fixes #92)
  rumdl.toml.example
  src/config.rs
  src/fix_coordinator.rs
  src/main.rs
  tests/config_application_tests.rs
  tests/per_file_ignores_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add JSON Schema for rumdl.toml configuration (fixes #89)
  Cargo.lock
  Cargo.toml
  README.md
  rumdl.schema.json
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.149
  Cargo.lock
  Cargo.toml
Due: none

fix: fix MD007 text-aligned indentation to match markdownlint cascade behavior
  src/rules/md007_ul_indent.rs
  tests/config_file_command_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: update MD007 test expectations for cascade behavior
  tests/rules/md007_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: correct MD007 blockquote list handling and test expectations
  src/rules/md007_ul_indent.rs
  tests/rules/md007_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

test: temporarily ignore MD007 tab edge case tests
  tests/rules/md007_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.150
  Cargo.lock
  Cargo.toml
Due: none

fix: MD007 tab indentation and cascade behavior
  src/rules/md007_ul_indent.rs
  tests/rules/md007_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.151
  Cargo.lock
  Cargo.toml
Due: none

fix: MD013 multi-paragraph list reflow and refactor
  src/rules/md013_line_length.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.152
  Cargo.lock
  Cargo.toml
Due: none

fix: MD013 nested list handling in reflow mode
  src/rules/md013_line_length.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf(MD051): optimize link fragment validation
  src/rules/md051_link_fragments.rs
  src/utils/anchor_styles/github.rs
  tests/rules/md051_comprehensive_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.153
  Cargo.toml
Due: none

chore: update Cargo.lock
  Cargo.lock
  src/rules/md030_list_marker_space.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs: organize LintContext optimization documentation
  docs/LINTCONTEXT_OPTIMIZATION_PLAN.md
  docs/LINTCONTEXT_OPTIMIZATION_SUMMARY.md
  docs/LINTCONTEXT_PERFORMANCE_ANALYSIS.md
  docs/PHASE_2_OPTIMIZATION_COMPLETE.md
  docs/PHASE_3_OPTIMIZATION_COMPLETE.md
Due: rumdl

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
