Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore(deps): refresh Rust dependencies
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

docs: redirect legacy /docs/rules/<rule> URLs to rule pages
  docs/_redirects
Due: none

feat(encoding): lint files with non-UTF8 chars
  src/cli_utils.rs
  src/config/global_keys.rs
  src/config/loading.rs
  src/config/source_tracking.rs
  src/config/types.rs
  src/file_processor/processing.rs
  src/formatter.rs
  src/main.rs
  tests/cli/cli_exit_codes_test.rs
  tests/config/config_output_completeness_test.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

update rumdl schema
  rumdl.schema.json
Due: none

test(cli): show full command output when stdin exclude JSON fails to parse
  tests/cli/cli_stdin_exclude_issue_871_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(discovery): attribute empty runs to .markdownlintignore separately
  docs/usage/cli.md
  src/discovery.rs
  src/file_processor/discovery.rs
  tests/cli/empty_run_diagnostics_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): name every ignore file --respect-gitignore controls
  README.md
  docs/global-settings.md
  rumdl.schema.json
  rumdl.toml.example
  src/cli_types.rs
  src/config/types.rs
  tests/cli/cli_respect_gitignore_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint-context): record only CommonMark headings as headings
  docs/md018.md
  src/lint_context/heading_detection.rs
  src/lint_context/line_computation.rs
  src/lint_context/list_blocks.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/lint_context/types.rs
  src/lsp/symbols.rs
  src/rules/md003_heading_style.rs
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md020_no_missing_space_closed_atx.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md023_heading_start_left.rs
  src/rules/md024_no_duplicate_heading.rs
  src/rules/md025_single_title.rs
  src/rules/md026_no_trailing_punctuation.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md043_required_headings.rs
  src/rules/md063_heading_capitalization.rs
  src/rules/md080_heading_anchor_collision.rs
  src/rules/md090_no_hr_before_heading.rs
  src/rules/md093_no_formatting_in_headings.rs
  src/rules/md093_no_formatting_in_headings/tests.rs
  src/utils/code_block_utils.rs
  tests/cli/cli_flavor_test.rs
  tests/cli/cli_integration_tests.rs
  tests/perf/rule_complexity_regression_test.rs
  tests/regressions/mod.rs
  tests/regressions/no_space_atx_is_paragraph_issue_905_test.rs
  tests/rules/md026_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.76
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(MD094): report invalid UTF-8 instead of refusing the file
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md094.md
  docs/mdformat-comparison.md
  docs/obsidian-linter-comparison.md
  docs/rules.md
  docs/stability.md
  docs/usage/cli.md
  rumdl.schema.json
  src/check_runner.rs
  src/cli_utils.rs
  src/config/global_keys.rs
  src/config/loading.rs
  src/config/registry.rs
  src/config/source_tracking.rs
  src/config/types.rs
  src/document_run.rs
  src/encoding.rs
  src/file_processor/processing.rs
  src/formatter.rs
  src/lib.rs
  src/lint_context/mod.rs
  src/lsp/completion.rs
  src/lsp/index_worker.rs
  src/lsp/mod.rs
  src/lsp/navigation.rs
  src/lsp/server.rs
  src/main.rs
  src/rules/mod.rs
  src/stdin_batch_processor.rs
  src/stdin_processor.rs
  tests/cli/cli_exit_codes_test.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/cli/md094_invalid_encoding_test.rs
  tests/cli/mod.rs
  tests/config/config_output_completeness_test.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): report a skipped file where the run reports findings
  docs/usage/cli.md
  src/file_processor/processing.rs
  src/stdin_processor.rs
  tests/cli/md094_invalid_encoding_test.rs
  tests/cli/mod.rs
  tests/cli/skipped_file_streams_test.rs
  tests/integration/merge_conflict_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD092): follow the invocation's rule selection
  docs/usage/cli.md
  src/code_block_tools/processor.rs
  src/file_processor/discovery.rs
  src/file_processor/processing.rs
  src/lib.rs
  src/merge_conflict.rs
  src/stdin_batch_processor.rs
  src/stdin_processor.rs
  tests/integration/merge_conflict_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): recognize mkdocstrings blocks whose identifier has no dot
  docs/flavors/mkdocs.md
  src/lint_context/mod.rs
  src/utils/mkdocstrings_refs.rs
  tests/rules/md013_test.rs
  tests/rules/mkdocs_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): keep every block of consecutive mkdocstrings blocks out of reflow
  src/utils/mkdocstrings_refs.rs
  tests/rules/md013_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): leave definition lists as written when reflowing
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/lint_context/types.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD094): report invalid UTF-8 under --only-code-block-tools
  src/encoding.rs
  src/file_processor/processing.rs
  tests/cli/md094_invalid_encoding_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(changelog): list every change in the 0.2.76 section
  CHANGELOG.md
Due: none

perf(release): cut published wheel size 8% with fat LTO
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

chore(ci): update actionlint pre-commit hook to v1.7.12
  .pre-commit-config.yaml
Due: none

fix(release): never replace published GitHub Release assets
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  scripts/release_assets.py
  scripts/release_assets_test.py
Due: actionlint

chore: bump version to v0.2.77
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

ci(release): let a recovery run publish an earlier run's artifacts
  .github/workflows/release.yml
  scripts/release_assets.py
  scripts/release_assets_test.py
Due: actionlint

docs(changelog): correct the v0.2.77 wheel-size figure to 6%
  CHANGELOG.md
Due: none

feat(MD013): reflow definition list definitions
  docs/flavors/mkdocs.md
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(release): fail the run when the Homebrew tap dispatch fails
  .github/workflows/release.yml
Due: actionlint

chore: bump version to v0.2.78
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

chore: revert version bump to v0.2.78
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(MD057): resolve links to directories implied by a stdin batch
  docs/usage/cli.md
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  tests/cli/cli_stdin_batch_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD051): check cross-file fragments in the file MD057 resolves
  docs/md051.md
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/lsp/tests.rs
  src/rules/md051_link_fragments.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md057_existing_relative_links/link_resolver.rs
  src/rules/mod.rs
  src/stdin_batch_processor.rs
  src/stdin_processor.rs
  src/workspace_index.rs
  tests/cli/cli_link_target_resolution_test.rs
  tests/cli/mod.rs
  tests/integration/cross_file_validation_test.rs
  tests/regressions/md051_md073_md080_heading_slug_whitespace_test.rs
  tests/rules/md051_comprehensive_test.rs
  tests/rules/md051_test.rs
  tests/utils/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint): apply inline config and severity overrides in Rust doc comments
  src/doc_comment_lint.rs
  src/lib.rs
  tests/integration/doc_comment_lint_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: document Rust doc comment linting
  README.md
  docs/md094.md
  docs/rust-doc-comments.md
  zensical.toml
Due: rumdl

fix(MD034): keep trailing emphasis delimiters and colons out of the autolink
  src/rules/md034_no_bare_urls.rs
  tests/rules/md034_comprehensive_test.rs
  tests/rules/md034_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(MD033): index closing tags once instead of searching per opening tag
  src/rules/md033_no_inline_html.rs
  tests/perf/rule_complexity_regression_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(MD005): stop rescanning earlier siblings for every list item
  src/rules/md005_list_indent.rs
  tests/perf/rule_complexity_regression_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: move a list item's owned lines when a fix moves its content column
  src/rules/md005_list_indent.rs
  src/rules/md007_ul_indent.rs
  src/rules/md029_ordered_list_prefix.rs
  src/rules/md030_list_marker_space.rs
  src/utils/list_indent_shift.rs
  src/utils/mod.rs
  tests/regressions/list_fix_keeps_nested_content_test.rs
  tests/regressions/mod.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(MD057): resolve a document's directory only when a link needs it
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD010): report the tab column after multi-byte characters
  src/rules/md010_no_hard_tabs.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): use the singular noun for a count of one
  src/commands/clean.rs
  src/commands/rule.rs
  src/lsp/navigation.rs
  tests/cli/cli_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
