Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

.pre-commit-config.yaml:

# Pre-commit hooks for rumdl
# Install with:
#   pre-commit install                          # Install commit hooks
#   pre-commit install --hook-type commit-msg   # Install commit-msg hooks
#   pre-commit install --hook-type pre-push     # Install push hooks
# Run manually:
#   pre-commit run --all-files                         # Run commit hooks
#   pre-commit run --hook-stage push --all-files       # Run push hooks
#   pre-commit run --hook-stage commit-msg --commit-msg-filename .git/COMMIT_EDITMSG

fail_fast: true

repos:
  # Conventional Commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []  # Optional: add --strict for stricter validation

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test-quick
        name: cargo test (quick)
        entry: make test-pre-commit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-commit]

      - id: cargo-lock-check
        name: check Cargo.lock is up-to-date
        entry: cargo check --locked
        language: system
        files: ^(Cargo\.(toml|lock)|.*\.rs)$
        pass_filenames: false
        stages: [pre-commit]

  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$|tests/inline_config_test\.rs$|tests/output_format_integration_tests\.rs$|tests/lsp_editor_integration_tests\.rs$|tests/utils_markdown_edge_cases\.rs$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting using rumdl itself (cargo run)
  - repo: local
    hooks:
      - id: rumdl
        name: rumdl check
        entry: cargo run --quiet -- check
        language: system
        files: \.md$
        exclude: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
        pass_filenames: true
        require_serial: true

  # Pre-push hooks for comprehensive validation
  - repo: local
    hooks:
      - id: cargo-test-full
        name: cargo test (full suite)
        entry: make test-push
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-lint-full
        name: cargo clippy (all targets)
        entry: mise exec -- make lint
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-doc-check
        name: cargo doc (check)
        entry: mise exec -- cargo doc --no-deps --all-features
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-lock-check-push
        name: verify Cargo.lock is committed and up-to-date
        entry: mise exec -- cargo check --locked
        language: system
        files: ^(Cargo\.(toml|lock)|.*\.rs)$
        pass_filenames: false
        stages: [pre-push]
        verbose: true

test(rules): add comprehensive tests for MD005 variable marker width
  src/rules/md005_list_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): handle multi-byte UTF-8 characters in MD037 and MD038
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md038_no_space_in_code.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(cli): add --rules as alias for --enable option
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): add filesystem fallback for MD057 case-sensitivity issues
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): handle absolute paths in MD057 cross-file link validation
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): group MD005 sublists by parent content column
  src/rules/md005_list_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): bump version to 0.0.190
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(docs): correct build status badge to track release workflow properly
  README.md
Due: rumdl

fix(cli): handle broken pipe gracefully when piping to head
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

refactor(config): use type-safe LineLength wrapper for global line_length
  src/config.rs
  src/lsp/server.rs
  src/main.rs
  src/rules/md013_line_length/mod.rs
  src/types/line_length.rs
  src/wasm.rs
  tests/config_tests.rs
  tests/schema_validation_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(deps): add libc dependency for Unix SIGPIPE handling
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

fix(config): resolve exclude patterns relative to config file location
  CHANGELOG.md
  src/file_processor.rs
  src/lsp/server.rs
  src/main.rs
  src/watch.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

test(config): add regression tests for config path resolution
  tests/config_path_resolution_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): bump version to 0.0.191
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(ci): add major version tag for GitHub Action
  .github/workflows/release.yml
  README.md
Due: rumdl

fix(config): resolve exclude patterns relative to config file location
  src/file_processor.rs
  tests/config_path_resolution_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(ci): prevent major version tags from triggering release workflow
  .github/workflows/release.yml
Due: none

fix(rules): resolve false positives in MD005, MD037, MD041
  src/lint_context.rs
  src/rules/md005_list_indent.rs
  src/rules/md037_spaces_around_emphasis.rs
  tests/rules/md005_edge_cases_test.rs
  tests/rules/md037_test.rs
  tests/rules/md041_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

refactor(md051): simplify file extension detection
  src/rules/md051_link_fragments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(MD052): add user-configurable ignore option for reference links
  src/rules/md052_reference_links_images.rs
  src/rules/md052_reference_links_images/md052_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD032): resolve false positive with pipes in inline code
  src/lint_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(reflow): use proper table detection instead of simplistic pipe check
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

docs(MD052): document ignore option for reference links
  docs/md052.md
Due: rumdl

fix(exclude): expand directory-only patterns to match files within
  src/file_processor.rs
  tests/config_path_resolution_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

test(rules): align test expectations with CommonMark specification
  src/file_processor.rs
  tests/config_path_resolution_test.rs
  tests/rules/emphasis_edge_cases_test.rs
  tests/rules/md003_test.rs
  tests/rules/md037_test.rs
  tests/rules/md051_comprehensive_test.rs
  tests/rules/md051_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(config): add cache option to disable caching via config file
  src/config.rs
  src/main.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

test(perf): harden complexity regression tests for parallel execution
  .config/nextest.toml
  tests/perf_regression_issue_148.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(inline-config): respect disable comments for cross-file rules
  src/inline_config.rs
  src/lib.rs
  src/workspace_index.rs
  tests/cross_file_validation_test.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

test(perf): harden complexity regression tests for parallel execution
  .config/nextest.toml
Due: none

chore(release): prepare v0.0.192
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(deps): update bincode and jsonschema API usage for new versions
  Cargo.lock
  Cargo.toml
  src/workspace_index.rs
  tests/schema_validation_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD057): resolve relative links per-file instead of caching base_path
  src/rules/md057_existing_relative_links.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD032): handle lazy continuation and code spans with pipes
  src/lint_context.rs
  src/rules/md032_blanks_around_lists.rs
  tests/character_ranges/extended_tests.rs
  tests/md032_edge_cases_test.rs
  tests/rules/md032_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

refactor: replace remaining naive pipe detection with is_table_line
  src/lint_context.rs
  src/rules/list_utils.rs
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

refactor: simplify table detection by removing ad-hoc URL/link exclusions
  src/lint_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): prepare v0.0.193
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

ci(action): add branding for GitHub Marketplace publishing
  action.yml
Due: none

feat(config): implement typestate pattern for config validation
  src/config.rs
  src/lsp/server.rs
  src/main.rs
  src/watch.rs
  tests/config_application_tests.rs
  tests/config_tests.rs
  tests/configuration_inheritance_tests.rs
  tests/markdownlint_config_test.rs
  tests/per_file_ignores_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

refactor(fix): replace tuple return with FixResult struct
  src/file_processor.rs
  src/fix_coordinator.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push
