Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

.pre-commit-config.yaml:

# Pre-commit hooks for rumdl
# Install with:
#   pre-commit install                    # Install commit hooks
#   pre-commit install --hook-type pre-push  # Install push hooks
# Run manually:
#   pre-commit run --all-files           # Run commit hooks
#   pre-commit run --hook-stage push --all-files  # Run push hooks

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test-quick
        name: cargo test (quick)
        entry: make test-pre-commit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-commit]

  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$|tests/inline_config_test\.rs$|tests/output_format_integration_tests\.rs$|tests/lsp_editor_integration_tests\.rs$|tests/utils_markdown_edge_cases\.rs$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting using rumdl itself (local binary)
  - repo: local
    hooks:
      - id: rumdl
        name: rumdl check
        entry: ./target/release/rumdl check
        language: system
        files: \.md$
        exclude: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
        pass_filenames: true
        require_serial: true

  # Pre-push hooks for comprehensive validation
  - repo: local
    hooks:
      - id: cargo-test-full
        name: cargo test (full suite)
        entry: make test-push
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-lint-full
        name: cargo clippy (all targets)
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-doc-check
        name: cargo doc (check)
        entry: cargo doc --no-deps --all-features
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

fix: optimize MD011 front matter detection for performance
  src/rules/md011_no_reversed_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: resolve MD028/MD009 rule conflict (fixes #66)
  src/rules/md009_trailing_spaces.rs
  src/rules/md028_no_blanks_blockquote.rs
  tests/rules/md028_md009_interaction_test.rs
  tests/rules/md028_test.rs
  tests/rules/mod.rs
  tests/rules/rule_interaction_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

test: fix MD009 tests to match actual br_spaces behavior
  CHANGELOG.md
  tests/rules/md028_md009_interaction_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.133
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: resolve MD005/MD006/MD028/MD052/MD053 rule inconsistencies (partial fix for #77)
  src/main.rs
  src/rules/md005_list_indent.rs
  src/rules/md006_start_bullets.rs
  src/rules/md028_no_blanks_blockquote.rs
  src/rules/md052_reference_links_images.rs
  src/rules/md053_link_image_reference_definitions.rs
  tests/character_ranges/extended_tests.rs
  tests/character_ranges/mod.rs
  tests/performance_validation_tests.rs
  tests/rules/list_rules_integration_test.rs
  tests/rules/md005_dynamic_indent_test.rs
  tests/rules/md005_test.rs
  tests/rules/md005_unicode_test.rs
  tests/rules/md028_test.rs
  tests/rules/rule_interaction_test.rs
  tests/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: resolve MD005/MD006/MD028/MD052/MD053 rule inconsistencies (#77)
  src/rules/md005_list_indent.rs
  src/rules/md006_start_bullets.rs
  src/rules/md028_no_blanks_blockquote.rs
  src/rules/md052_reference_links_images.rs
  src/rules/md053_link_image_reference_definitions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add HTML anchor tag support to MD051
  src/rules/md051_link_fragments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: improve MD051 HTML anchor support to match markdownlint-cli
  src/rules/md051_link_fragments.rs
  tests/rules/md051_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: resolve MD005/MD028/MD051/MD052/MD053 rule inconsistencies
  benches/fix_performance.rs
  src/rules/md005_list_indent.rs
  src/rules/md028_no_blanks_blockquote.rs
  src/rules/md051_link_fragments.rs
  src/rules/md052_reference_links_images.rs
  src/rules/md053_link_image_reference_definitions.rs
  src/utils/regex_cache.rs
  tests/rules/md052_test.rs
  tests/rules/md053_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: improve MD052/MD053 consistency with markdownlint
  src/rules/md052_reference_links_images.rs
  src/rules/md053_link_image_reference_definitions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: improve MD029/MD050 compatibility and fix MD053 tests
  src/rules/md029_ordered_list_prefix.rs
  src/rules/md029_ordered_list_prefix/md029_config.rs
  src/rules/md050_strong_style.rs
  src/rules/md053_link_image_reference_definitions.rs
  tests/rules/md050_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: implement MD007 style configuration for markdownlint compatibility
  src/markdownlint_config.rs
  src/rules/md007_ul_indent.rs
  src/rules/md007_ul_indent/md007_config.rs
  src/rules/md012_no_multiple_blanks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.134
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: update tests to match recent markdownlint compatibility changes
  src/rules/md012_no_multiple_blanks.rs
  tests/rules/md028_md009_interaction_test.rs
  tests/rules/md028_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: resolve MD050 and MD053 issues for v0.0.134 release
  src/rules/md050_strong_style.rs
  src/rules/md053_link_image_reference_definitions.rs
  tests/rules/md050_test.rs
  tests/rules/md053_additional_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: correct HTML self-closing tag detection regex
  src/lint_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add force-exclude option for pre-commit compatibility
  README.md
  src/config.rs
  src/main.rs
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

test: add regression test for MD037 XXXX content replacement bug
  tests/md037_xxxx_regression_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.135
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: update force-exclude test to check stderr for verbose messages
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: MD013 now correctly excludes table lines when tables=false (fixes #78)
  src/rules/md013_line_length.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: MD009 no longer adds spaces when fixing trailing spaces (fixes #80)
  src/rules/md009_trailing_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: adjust MD034 performance test threshold for debug builds
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.136
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

test: fix MD009 and MD013 tests for corrected behavior
  tests/comprehensive_output_format_tests.rs
  tests/rules/md009_test.rs
  tests/rules/md013_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: MD013 reflow now correctly preserves numbered list formatting (fixes #83)
  src/rules/md013_line_length.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: MD051 GitHub anchor generation for arrow patterns (fixes #82)
  CHANGELOG.md
  src/utils/anchor_styles/github.rs
  tests/rules/md051_test.rs
  tests/rules/md052_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: MD013 reflow now correctly accounts for list markers and indentation
  src/rules/md013_line_length.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

test: update MD051 regression test for corrected arrow pattern behavior
  tests/rules/md051_regression_prevention_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.137
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix(lsp): improve LSP server compliance and editor compatibility (fixes #79)
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.138
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: comprehensive markdownlint compatibility improvements (fixes #77)
  src/inline_config.rs
  src/lint_context.rs
  src/rules/md005_list_indent.rs
  src/rules/md006_start_bullets.rs
  src/rules/md007_ul_indent.rs
  src/rules/md025_single_title.rs
  src/rules/md025_single_title/md025_config.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md036_no_emphasis_only_first.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md051_link_fragments.rs
  src/rules/md052_reference_links_images.rs
  src/rules/md053_link_image_reference_definitions.rs
  src/utils/code_block_utils.rs
  src/utils/document_structure.rs
  tests/rules/md007_test.rs
  tests/rules/md053_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: handle UTF-8 character boundaries in code block detection (fixes #85)
  src/lint_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

test: add comprehensive UTF-8 boundary tests
  tests/utf8_boundary_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.139
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: rumdl

fix: correct code block detection to prevent false positives after fences
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs: update CHANGELOG for v0.0.139 with code block detection fix
  CHANGELOG.md
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: prevent fence markers from being detected as inline code spans
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: update test expectations after markdownlint compatibility changes
  src/rules/md051_link_fragments.rs
  src/utils/code_block_utils.rs
  tests/rules/md005_dynamic_indent_test.rs
  tests/rules/md032_test.rs
  tests/rules/md051_edge_cases_test.rs
  tests/rules/md052_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check
