Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

docs(lsp): reconcile Neovim settings forms and document lineLength
  docs/lsp.md
  docs/usage/editors.md
Due: rumdl

fix(fmt): honor per-file-ignores in the fix pipeline
  src/file_processor/processing.rs
  tests/config/per_file_ignores_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(fmt): honor per-file-ignores on the stdin pipeline
  src/stdin_processor.rs
  tests/config/per_file_ignores_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(per-file-ignores): enforce centrally in the fix coordinator
  src/fix_coordinator.rs
  src/rules/mod.rs
  src/stdin_processor.rs
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: write fixes atomically and exit non-zero on unreadable files
  src/check_runner.rs
  src/commands/check.rs
  src/file_processor/processing.rs
  src/formatter.rs
  src/utils/atomic_write.rs
  src/utils/mod.rs
  tests/cli/cli_exit_codes_test.rs
  tests/cli/cli_fix_atomicity_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: prevent stack overflow on deeply nested blockquote markers
  src/utils/regex_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): isolate rule panics from the document lint path
  src/lsp/linting.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md077): compute list-continuation ranges in linear time
  src/rules/md077_list_continuation_indent.rs
  tests/perf/rule_complexity_regression_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf: make semantic-line-break reflow iterative
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md013): drop the per-check heading lookup allocation
  src/rules/md013_line_length.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor: remove dead modules and document shared rule caches
  src/lib.rs
  src/parallel.rs
  src/rule.rs
  src/rules/md044_proper_names.rs
  src/rules/md057_existing_relative_links.rs
  src/utils/string_interner.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test: remove stale and dead test code
  tests/rules/formatter_idempotency_test.rs
  tests/rules/md033_extended_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci: add scheduled audit and fuzz jobs and wasm/doctest/schema/msrv gates
  .cargo/audit.toml
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/zizmor.yml
  Makefile
Due: actionlint

chore(deps): bump anyhow to 1.0.103
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

docs: correct the release workflow, add SECURITY.md, and extend gitignore
  .gitignore
  CONTRIBUTING.md
  SECURITY.md
Due: rumdl

chore: bump version to v0.2.28
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(MD013): preserve list marker spacing to prevent corruption of nested code blocks
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD007): respect explicit config for nested lists under ordered parents while preserving DWIM consistency
  src/rules/md007_ul_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

address PR #710 feedback: refine space extraction and update test expectations
  src/rules/md013_line_length/helpers.rs
  tests/formats/md013_mkdocs_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): treat tabs and extra spaces after a list marker as marker padding
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint-context): keep indented continuation lines when a different list type follows
  src/lint_context/list_blocks.rs
  src/rules/md032_blanks_around_lists.rs
  tests/regressions/lint_context_list_blocks_type_change_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(links): exclude GitHub stargazers URLs from the link check
  .lychee.toml
Due: none

chore: bump version to v0.2.29
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

ci(release): pin npm to 11.18.0 for the OIDC publish step
  .github/workflows/release.yml
Due: actionlint

refactor(MD013): measure reflow shift against the source content column
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/tests.rs
  tests/formats/md013_mkdocs_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lint-context): keep lazy continuation lines in their list block
  src/lint_context/list_blocks.rs
  src/rules/md032_blanks_around_lists.rs
  tests/regressions/lint_context_list_blocks_type_change_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(release): tolerate PyPI filename collisions on publish re-runs
  .github/workflows/release.yml
Due: actionlint

feat(MD007): clamp explicit fixed-style indent under ordered parents
  docs/md007.md
  src/rules/md007_ul_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.30
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs(changelog): list the MD013 content-column fix under v0.2.30
  CHANGELOG.md
Due: none

feat(action): install rumdl from GitHub Releases instead of pip
  scripts/rumdl-action.sh
Due: none

test(action): restore malformed fixture broken in 497ab922
  __tests__/fixtures/malformed/bad.md
Due: none

fix(action): harden binary install path per review feedback
  scripts/rumdl-action.sh
Due: none

ci(test-action): widen paths filter to fixtures and the workflow itself
  .github/workflows/test-action.yml
Due: actionlint

perf(reflow): optimize inline code mask calculation using pre-extracted spans
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(action): restore malformed fixture and widen test-action.yml paths filter
  .github/workflows/test-action.yml
  __tests__/fixtures/malformed/bad.md
Due: actionlint

chore: bump version to v0.2.31
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(cli): replace unhelpful panic message with an actionable one
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
