Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore(docs): update mise version to v0.1.10
  README.md
Due: rumdl

docs(comparison): update markdownlint comparison with current feature set
  docs/markdownlint-comparison.md
Due: rumdl

docs(comparison): add mdformat comparison document
  docs/markdownlint-comparison.md
  docs/mdformat-comparison.md
Due: rumdl

docs(comparison): fix verified inaccuracies
  docs/markdownlint-comparison.md
  docs/mdformat-comparison.md
Due: rumdl

fix(MD044): check proper names in link text, image alt text, and WikiLinks
  src/lint_context.rs
  src/rules/md044_proper_names.rs
  tests/rules/inline_content_edge_cases_test.rs
  tests/rules/md044_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(schemastore): add automated schema sync workflow
  .github/workflows/sync-schemastore.yml
Due: actionlint

ci(schemastore): add validation and improve PR format
  .github/workflows/sync-schemastore.yml
Due: actionlint

fix(schemastore): remove non-standard 'uint' format from schema
  .github/workflows/sync-schemastore.yml
Due: actionlint

chore(release): prepare v0.1.11
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs(comparison): simplify mdformat comparison and add to nav menu
  docs/mdformat-comparison.md
  zensical.toml
Due: rumdl

fix(schemastore): prevent duplicate PRs by using static branch name
  .github/workflows/sync-schemastore.yml
Due: actionlint

fix(schemastore): simplify PR sync with idempotent workflow
  .github/workflows/sync-schemastore.yml
Due: actionlint

fix(md013): prevent infinite loop in MkDocs admonition reflow
  src/rules/md013_line_length/mod.rs
  tests/md013_mkdocs_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md033): add auto-fix for <a> and <img> tags to Markdown
  docs/md033.md
  src/rules/md033_no_inline_html.rs
  src/rules/md033_no_inline_html/md033_config.rs
  tests/md033_link_img_fix_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md018): add per-rule magiclink config option
  docs/md018.md
  src/main.rs
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md018_no_missing_space_atx/md018_config.rs
  tests/character_ranges/mod.rs
  tests/cli_flavor_test.rs
  tests/cli_lsp_fix_consistency.rs
  tests/final_confidence_assessment.rs
  tests/lsp_editor_integration_tests.rs
  tests/rule_complexity_regression_test.rs
  tests/rules/formatter_idempotency_test.rs
  tests/rules/formatter_proptest.rs
  tests/thread_safety_tests.rs
  tests/utf8_comprehensive_stress_test.rs
  tests/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(code-block-tools): add subsystem for external formatter/linter integration
  src/code_block_tools/config.rs
  src/code_block_tools/executor.rs
  src/code_block_tools/linguist.rs
  src/code_block_tools/mod.rs
  src/code_block_tools/processor.rs
  src/code_block_tools/registry.rs
  src/config.rs
  src/config_intelligent_merge_tests.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(code-block-tools): integrate with file processor for lint and fix modes
  src/code_block_tools/processor.rs
  src/file_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(code-block-tools): add timeout, indent handling, and user aliases
  README.md
  rumdl.schema.json
  rumdl.toml.example
  src/code_block_tools/config.rs
  src/code_block_tools/executor.rs
  src/code_block_tools/linguist.rs
  src/code_block_tools/mod.rs
  src/code_block_tools/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): fix config parsing and ruff output format
  src/code_block_tools/registry.rs
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): strip fixable markers from external tool output
  src/code_block_tools/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(config): use compact inline table syntax for code-block-tools example
  rumdl.toml.example
Due: none

fix(config): remove deprecated MD002 from example config
  rumdl.toml.example
Due: none

test(config): add test to verify example config produces no warnings
  src/code_block_tools/config.rs
  src/code_block_tools/executor.rs
  tests/schema_validation_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(config): mark code-block-tools as preview feature
  rumdl.toml.example
Due: none

docs(code-block-tools): add comprehensive documentation for preview feature
  docs/code-block-tools.md
  docs/global-settings.md
Due: rumdl

fix(code-block-tools): include in early return check for fix mode
  src/file_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.12
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(docs): align MD060 tables in documentation
  docs/code-block-tools.md
  docs/flavors.md
Due: rumdl

feat(mkdocs): add support for markdown-enabled HTML blocks (grid cards)
  .rumdl.toml
  docs/.rumdl.toml
  docs/flavors/mkdocs.md
  src/filtered_lines.rs
  src/lint_context.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md035_hr_style.rs
  src/utils/mkdocs_html_markdown.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(docs): align table columns (MD060)
  CHANGELOG.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/usage/ci-cd.md
  docs/usage/cli.md
Due: rumdl

fix(code-block-tools): add WASM fallback for check_tool_exists
  src/code_block_tools/executor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(installation): update instructions for Arch Linux
  README.md
  docs/getting-started/installation.md
Due: rumdl

feat(npm): add npm CLI distribution with platform-specific packages
  .github/workflows/release.yml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/README.md
  npm/rumdl/bin/rumdl
  npm/rumdl/package.json
  scripts/update-npm-versions.sh
  scripts/verify-release-ready.sh
Due: actionlint, rumdl

feat(mkdocs): add PyMdown Blocks support
  docs/flavors/mkdocs.md
  src/filtered_lines.rs
  src/lint_context.rs
  src/rules/md004_unordered_list_style.rs
  src/rules/md009_trailing_spaces.rs
  src/rules/md010_no_hard_tabs.rs
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md023_heading_start_left.rs
  src/rules/md025_single_title.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md036_no_emphasis_only_first.rs
  src/rules/md051_link_fragments.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md059_link_text.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
  src/utils/mod.rs
  src/utils/pymdown_blocks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md040): skip disabled lines when computing preferred labels
  src/rules/md040_fenced_code_language.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(schema): use standard integer type for timeout field
  rumdl.schema.json
  src/code_block_tools/config.rs
  tests/schema_validation_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md040): add GitHub Linguist integration for language normalization
  data/languages.yml
  docs/md040.md
  src/lib.rs
  src/linguist_data.rs
  src/main.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/md040_fenced_code_language/md040_config.rs
  tests/character_ranges/mod.rs
  tests/final_confidence_assessment.rs
  tests/lsp_editor_integration_tests.rs
  tests/malformed_markdown_stress_tests.rs
  tests/nested_code_block_test.rs
  tests/performance_validation_tests.rs
  tests/rule_complexity_regression_test.rs
  tests/rules/formatter_proptest.rs
  tests/rules/md040_test.rs
  tests/thread_safety_tests.rs
  tests/utf8_comprehensive_stress_test.rs
  tests/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md040): remove unused old_label field and use map instead of and_then
  src/rules/md040_fenced_code_language.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(docs): correct Arch Linux anchor link
  README.md
Due: rumdl

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
