Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore: bump version to v0.2.43
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(md037,md052): check emphasis and references inside table cells
  benchmark/bin/bench_lint_context.rs
  fuzz/fuzz_targets/fuzz_context.rs
  src/lint_context/element_parsers.rs
  src/lint_context/mod.rs
  src/lint_context/types.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md052_reference_links_images.rs
  src/utils/skip_context.rs
  tests/integration/skip_context_tests.rs
  tests/rules/emphasis_edge_cases_test.rs
  tests/rules/md037_test.rs
  tests/rules/md052_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): don't reflow multi-line display-math blocks
  docs/md013.md
  src/rules/md013_line_length.rs
  tests/regressions/md013_reflow_math_blocks_issue_762_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md013): add math-blocks option to exempt display math from the length check
  docs/markdownlint-comparison.md
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  tests/formats/sentence_per_line_test.rs
  tests/regressions/md013_reflow_math_blocks_issue_762_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): wrap paragraphs before numbers that only look like list markers
  docs/md013.md
  proptest-regressions/utils/text_reflow_test.txt
  src/utils/text_reflow.rs
  tests/formats/md013_reflow_integration_test.rs
  tests/regressions/md013_reflow_ordered_lookalike_issue_760_test.rs
  tests/regressions/mod.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): resolve a discovered config the same way the CLI does
  docs/lsp.md
  src/config/loading.rs
  src/config/tests.rs
  src/lsp/configuration.rs
  src/lsp/tests.rs
  tests/config/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): surface a broken user config instead of falling back to a parent
  src/config/loading.rs
  src/config/types.rs
  src/lsp/configuration.rs
  src/lsp/tests.rs
  tests/config/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): resolve to defaults when a file's config cannot be loaded
  src/lsp/configuration.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): stop caching a config that could not be resolved
  src/lsp/configuration.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md041): add allow-preamble option
  docs/md041.md
  src/rules/md041_first_line_heading.rs
  src/rules/md041_first_line_heading/md041_config.rs
  tests/rules/md041_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md041): read inline directives at the line the warning is reported on
  src/rules/md041_first_line_heading.rs
  tests/rules/md041_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md063): add sentence-case-restart-after option
  docs/md063.md
  src/rules/md063_heading_capitalization.rs
  src/rules/md063_heading_capitalization/md063_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md063): end a sentence-case sentence at the end of link text
  docs/md063.md
  src/rules/md063_heading_capitalization.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD041): `allow_preamble` option for markdownlint parity
  docs/md041.md
  src/rules/md041_first_line_heading.rs
  src/rules/md041_first_line_heading/md041_config.rs
  tests/rules/md041_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test multiline preamble
  src/rules/md041_first_line_heading.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md085): add opt-in rule for paragraph continuation indentation
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md085.md
  docs/mdformat-comparison.md
  docs/rules.md
  docs/stability.md
  rules.json
  src/config/registry.rs
  src/rules/md085_paragraph_continuation_indent.rs
  src/rules/mod.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/integration/rules_mod_test.rs
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

handle no heading with allow_preamble=true as an issue
  docs/md041.md
  src/rules/md041_first_line_heading.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md085): keep Unicode whitespace and resume after a closed block
  docs/md085.md
  src/rules/md085_paragraph_continuation_indent.rs
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md085): end a container at a block that cannot be lazily continued
  src/rules/md085_paragraph_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): read .editorconfig when a project opts in
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  docs/usage/cli.md
  rumdl.schema.json
  src/check_runner.rs
  src/cli_types.rs
  src/commands/check.rs
  src/commands/config.rs
  src/config/editorconfig.rs
  src/config/global_keys.rs
  src/config/loading.rs
  src/config/mod.rs
  src/config/parsers.rs
  src/config/source_tracking.rs
  src/config/types.rs
  src/config/validation.rs
  src/config_intelligent_merge_tests.rs
  src/formatter.rs
  src/lsp/configuration.rs
  src/lsp/server.rs
  src/lsp/tests.rs
  src/resolution.rs
  src/watch.rs
  tests/config/editorconfig_test.rs
  tests/config/mod.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(watch): re-run when a config above the watched path changes
  src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): reflow prose written against a math block delimiter
  src/rules/md013_line_length.rs
  tests/regressions/md013_reflow_math_blocks_issue_762_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): report prose sharing a line with a math block delimiter
  docs/md013.md
  src/rules/md013_line_length.rs
  tests/regressions/md013_reflow_math_blocks_issue_762_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(rules): list every rule in its category table
  docs/rules.md
  scripts/check-rule-docs.py
  scripts/test_check_rule_docs.py
Due: rumdl

fix(md085): keep a continuation line that would open a block at the margin
  docs/md085.md
  src/rules/md085_paragraph_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(md063): use the real command in the autofix example
  docs/md063.md
Due: rumdl

fix(md085): keep a percent-prefixed continuation line indented
  docs/md085.md
  src/rules/md085_paragraph_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(stability): describe what a patch release actually carries
  docs/stability.md
Due: rumdl

chore: bump version to v0.2.44
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(md037): don't flag text between emphasis spans when a span wraps
  src/rules/md037_spaces_around_emphasis.rs
  tests/regressions/md037_multiline_span_false_positive_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): keep every word when a sentence boundary falls inside emphasis
  src/utils/text_reflow.rs
  tests/formats/sentence_per_line_test.rs
  tests/regressions/md013_reflow_emphasis_content_loss_issue_767_test.rs
  tests/regressions/mod.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.45
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(md013): keep a quoted question inside its sentence when splitting
  docs/md013.md
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md074): serialize the tests that share the validation cache
  src/rules/md074_mkdocs_nav.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): report why a run checked no markdown files
  docs/usage/cli.md
  src/check_runner.rs
  src/file_processor/discovery.rs
  tests/cli/cli_integration_tests.rs
  tests/cli/empty_run_diagnostics_test.rs
  tests/cli/exclude_with_explicit_paths_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cli): lint markdown files whose extension is capitalized
  src/discovery.rs
  src/file_processor/discovery.rs
  tests/cli/empty_run_diagnostics_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(discovery): stop reading gitignores above the repository root
  src/discovery.rs
  src/file_processor/discovery.rs
  src/lsp/completion.rs
  tests/cli/cli_respect_gitignore_test.rs
  tests/cli/empty_run_diagnostics_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.46
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(md013): break semantic lines only where the source has whitespace
  src/utils/text_reflow.rs
  tests/regressions/md013_reflow_break_placement_issue_770_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

add more deprecated chars, replacements for U+0340 and U+0341, doc update
  docs/md084.md
  src/rules/md084_invisible_characters.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
