Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

fix(md080): address codex review findings
  src/rules/md051_link_fragments.rs
  src/rules/md080_heading_anchor_collision.rs
  src/utils/header_id_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md080): skip blockquote headings inside HTML blocks
  src/rules/md080_heading_anchor_collision.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md080): allow markdown-enabled HTML blocks through the skip
  src/rules/md080_heading_anchor_collision.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md080): mirror MD051 anchor model instead of per-rule HTML guards
  src/rules/md080_heading_anchor_collision.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: align math line map with byte model; run heading rules for blockquote-only docs
  src/lib.rs
  src/lint_context/line_computation.rs
  tests/rules/md049_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(math): align line map with byte model for multi-pair dollar lines
  src/lib.rs
  src/lint_context/line_computation.rs
  src/utils/skip_context.rs
  tests/rules/md049_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(math): unify $$ math model across rules and make MD049 byte-accurate
  src/lint_context/line_computation.rs
  src/rules/md049_emphasis_style.rs
  src/utils/skip_context.rs
  tests/integration/skip_context_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md049): precompute math ranges once instead of per span
  src/rules/md049_emphasis_style.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md049): binary-search merged math ranges for membership
  src/rules/md049_emphasis_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(math): drop unmatched line-start $$ opener instead of swallowing document
  src/lint_context/line_computation.rs
  tests/rules/md049_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md049,md080): code-block-aware math filter; mark MD080 unfixable
  src/rules/md049_emphasis_style.rs
  src/rules/md080_heading_anchor_collision.rs
  tests/rules/md049_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md049): neutralize inline-code dollars before math filtering
  src/rules/md049_emphasis_style.rs
  tests/rules/md049_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(rules): correct rule counts and add registry-sync guard
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/comparison.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/mdformat-comparison.md
  docs/rules.md
  scripts/check-rule-docs.py
Due: actionlint, rumdl

fix(docs): make rule-count guard fail on unwrapped counts
  docs/mdformat-comparison.md
  scripts/check-rule-docs.py
Due: rumdl

fix(docs): match unwrapped 'N lint rules' counts in guard
  scripts/check-rule-docs.py
Due: none

test(rule-docs): add hermetic regression suite for the rule-count guard
  Makefile
  scripts/check-rule-docs.py
  scripts/test_check_rule_docs.py
Due: none

chore: bump version to v0.1.94
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(md010): add code_blocks config option (default false)
  src/rules/md010_no_hard_tabs.rs
  src/rules/md010_no_hard_tabs/md010_config.rs
  src/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md010): treat fenced and indented code blocks consistently (#630)
  src/rules/md010_no_hard_tabs.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md010): pin code_blocks toggle behavior
  src/rules/md010_no_hard_tabs.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md010): migrate suite to consistent code-block behavior
  src/rules/md010_no_hard_tabs.rs
  tests/rules/md010_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md010): fix stale comment and add code_blocks=true variant to fenced-block tests
  tests/rules/md010_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(md010): document code-blocks option and behavior change
  docs/md010.md
Due: rumdl

docs(md010): fix code-blocks comment wording and capitalize blockquote opener
  docs/md010.md
Due: rumdl

test(md010): migrate tests that used indented-code-block content as tab fixtures
  src/lsp/tests.rs
  tests/formats/mkdocs_extensions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(md010): rename stale test names and clarify default-behavior comments
  src/lsp/tests.rs
  src/rules/md010_no_hard_tabs.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(markdownlint-comparison): note MD010 code-blocks default deviation (#630)
  docs/markdownlint-comparison.md
Due: rumdl

chore: bump version to v0.1.95
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(flavor): add support for MyST (Markedly Structured Text)
  rumdl.schema.json
  src/cli_types.rs
  src/config/flavor.rs
  src/config/parsers.rs
  src/config/types.rs
  src/lint_context/flavor_detection.rs
  src/lint_context/line_computation.rs
  src/lint_context/mod.rs
  src/lint_context/types.rs
  src/rules/md013_line_length.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md038_no_space_in_code.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/md046_code_block_style.rs
  src/rules/md048_code_fence_style.rs
  tests/formats/mod.rs
  tests/formats/myst_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

style: run fmt and lint
  src/lint_context/flavor_detection.rs
  src/lint_context/mod.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/md048_code_fence_style.rs
  tests/formats/myst_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(myst): add documentation for myst
  README.md
  docs/flavors.md
  docs/flavors/myst.md
Due: rumdl

fix(md057): eliminate duplicate warnings for broken relative links and accept existing directory targets (#631, #632)
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md073): protect code-span contents from link/image stripping
  src/rules/md073_toc_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md057): handle trailing-slash directory links that include a fragment or query
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md073): preserve inline code spans and emphasis in generated TOC entries (#634)
  src/rules/md073_toc_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.96
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(flavor): add support for MyST (Markedly Structured Text) (#637)
  README.md
  docs/flavors.md
  docs/flavors/myst.md
  rumdl.schema.json
  src/cli_types.rs
  src/config/flavor.rs
  src/config/parsers.rs
  src/config/types.rs
  src/lint_context/flavor_detection.rs
  src/lint_context/line_computation.rs
  src/lint_context/mod.rs
  src/lint_context/types.rs
  src/rules/md013_line_length.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md038_no_space_in_code.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/md046_code_block_style.rs
  src/rules/md048_code_fence_style.rs
  tests/formats/mod.rs
  tests/formats/myst_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(cross-file): honor inline-disable and per-file-ignores on lint-cache fast path
  src/lib.rs
  src/workspace_index.rs
  tests/cli/cli_cache_cross_file_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013): reflow list-item prose in normalize mode without false length warnings (#639)
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/tests.rs
  tests/formats/md013_reflow_integration_test.rs
  tests/formats/md013_reflow_nested_lists_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(lsp): improve link completion ranking, ignores, and absolute paths
  src/lsp/completion.rs
  src/lsp/index_worker.rs
  src/lsp/navigation.rs
  src/lsp/server.rs
  src/lsp/tests.rs
  src/lsp/types.rs
  src/rules/md057_existing_relative_links.rs
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
