Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

.pre-commit-config.yaml:

# Pre-commit hooks for rumdl
# Install with:
#   pre-commit install                          # Install commit hooks
#   pre-commit install --hook-type commit-msg   # Install commit-msg hooks
#   pre-commit install --hook-type pre-push     # Install push hooks
# Run manually:
#   pre-commit run --all-files                         # Run commit hooks
#   pre-commit run --hook-stage push --all-files       # Run push hooks
#   pre-commit run --hook-stage commit-msg --commit-msg-filename .git/COMMIT_EDITMSG

fail_fast: true

repos:
  # Conventional Commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []  # Optional: add --strict for stricter validation

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test-quick
        name: cargo test (quick)
        entry: make test-pre-commit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-commit]

      - id: cargo-lock-check
        name: check Cargo.lock is up-to-date
        entry: cargo check --locked
        language: system
        files: ^(Cargo\.(toml|lock)|.*\.rs)$
        pass_filenames: false
        stages: [pre-commit]

  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$|tests/inline_config_test\.rs$|tests/output_format_integration_tests\.rs$|tests/lsp_editor_integration_tests\.rs$|tests/utils_markdown_edge_cases\.rs$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting using rumdl itself (cargo run)
  - repo: local
    hooks:
      - id: rumdl
        name: rumdl check
        entry: cargo run --quiet -- check
        language: system
        files: \.md$
        exclude: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
        pass_filenames: true
        require_serial: true

  # Pre-push hooks for comprehensive validation
  - repo: local
    hooks:
      - id: cargo-test-full
        name: cargo test (full suite)
        entry: make test-push
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-lint-full
        name: cargo clippy (all targets)
        entry: mise exec -- make lint
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-doc-check
        name: cargo doc (check)
        entry: mise exec -- cargo doc --no-deps --all-features
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-lock-check-push
        name: verify Cargo.lock is committed and up-to-date
        entry: mise exec -- cargo check --locked
        language: system
        files: ^(Cargo\.(toml|lock)|.*\.rs)$
        pass_filenames: false
        stages: [pre-push]
        verbose: true

fix(rules): skip heading detection inside multiline link syntax
  src/lint_context.rs
  src/rules/md013_line_length/md013_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

docs(MD050): document intentional deviation from markdownlint
  docs/md050.md
  src/rules/md050_strong_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(release): prepare v0.0.195 with MD063 and multiple bug fixes
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/md063.md
  src/lint_context.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md057_existing_relative_links.rs
  tests/character_ranges/basic_tests.rs
  tests/code_block_blockquote_edge_cases.rs
  tests/md033_edge_cases_test.rs
  tests/md038_false_positive_test.rs
  tests/mkdocs_anchor_edge_cases_test.rs
  tests/mkdocs_anchor_test.rs
  tests/rules/link_edge_cases_test.rs
  tests/rules/md033_test.rs
  tests/rules/md034_test.rs
  tests/rules/md038_nested_backticks_test.rs
  tests/rules/md038_test.rs
  tests/rules/md042_test.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD057): use platform-independent path in traversal test
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(rules): add MD064 to collapse multiple consecutive spaces
  docs/md064.md
  src/rules/md064_no_multiple_consecutive_spaces.rs
  src/rules/mod.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

docs(changelog): add MD064 entry with contributor credit
  CHANGELOG.md
Due: none

docs(md064): add rule alias
  docs/md064.md
Due: rumdl

feat(rules): add MD065 to enforce blank lines around horizontal rules
  docs/md065.md
  src/rules/md065_blanks_around_horizontal_rules.rs
  src/rules/mod.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

test(MD065): add comprehensive tests and fix setext detection
  src/rules/md065_blanks_around_horizontal_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD032): detect thematic breaks as list terminators
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(rules): add MD066 footnote validation rule
  src/rules/md066_footnote_validation.rs
  src/rules/mod.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(rules): add MD067 and MD068 footnote rules
  src/rules/md066_footnote_validation.rs
  src/rules/md067_footnote_definition_order.rs
  src/rules/md068_empty_footnote_definition.rs
  src/rules/mod.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD051): recognize HTML and attribute anchors for cross-file validation
  src/rules/md051_link_fragments.rs
  src/workspace_index.rs
  tests/cross_file_validation_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD057): check for markdown source when .html link doesn't exist
  docs/md057.md
  src/rules/md057_existing_relative_links.rs
  src/rules/md057_existing_relative_links/md057_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD041): skip badge images before headings
  src/rules/md041_first_line_heading/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD027): skip list continuation indentation in blockquotes
  src/rules/md027_multiple_spaces_blockquote.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD036): skip emphasis detection inside HTML comments
  src/rules/md036_no_emphasis_only_first.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(MD046): skip code blocks inside HTML comments
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(test): update CLI/LSP consistency test for 62 rules
  src/main.rs
  tests/cli_lsp_fix_consistency.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(wasm): convert byte offsets to character offsets for JavaScript
  src/utils/mod.rs
  src/utils/utf8_offsets.rs
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): prepare v0.0.196
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(config): resolve per-file-ignores paths relative to project root
  src/config.rs
  src/fix_coordinator.rs
  tests/config_application_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

perf(core): reduce memory allocations and improve cache reliability
  src/cache.rs
  src/utils/element_cache.rs
  src/utils/regex_cache.rs
  src/utils/string_interner.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): remove auto-switch to fixed style in MD007
  src/rules/md007_ul_indent.rs
  tests/issue209_fix_convergence_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(release): prepare v0.0.197
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  tests/issue197_exit_code_fix_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(cache): use proper Blake3 hash format in tests
  src/cache.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

ci(actions): add actionlint validation and fix workflow issues
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Makefile
Due: none

ci: add dedicated CI workflow with actionlint validation
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): resolve actionlint and schema validation issues
  .github/workflows/release.yml
  rumdl.schema.json
Due: none

fix(ci): exclude schema file from end-of-file-fixer hook
  .pre-commit-config.yaml
  rumdl.schema.json
Due: none

fix(schema): use draft 2020-12 \$defs instead of draft-07 definitions
  rumdl.schema.json
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(deps): update dependencies and migrate from bincode to postcard
  Cargo.lock
  Cargo.toml
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

feat(config): support rule name aliases in TOML configs
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/markdownlint_config.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): implement smart style auto-detection for MD007 indent config
  src/config.rs
  src/rules/md007_ul_indent.rs
  src/rules/md007_ul_indent/md007_config.rs
  tests/config_documentation_completeness.rs
  tests/rules/md007_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

refactor(rules): improve MD007 detection and add comprehensive edge case tests
  src/rules/md007_ul_indent.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(ci): reduce nextest CI profile verbosity
  .config/nextest.toml
Due: none

fix(rules): decode URL-encoded paths in MD057 cross-file validation
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): support mdBook .html links in MD057
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

chore(deps): migrate from deprecated serde_yaml to serde_yml
  Cargo.lock
  Cargo.toml
  src/markdownlint_config.rs
  tests/markdownlint_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push

fix(rules): MD063 preserve-cased-words for iOS and ignore-words for first word
  src/rules/md063_heading_capitalization/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push
