Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(md013): split a sentence-per-line tail that ends on an atomic element
  src/utils/text_reflow.rs
  tests/regressions/md013_reflow_span_terminated_sentence_issue_811_test.rs
  tests/regressions/mod.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(links): read backslash escapes in a reference definition label
  src/lint_context/link_parser.rs
  tests/regressions/md034_ref_def_escaped_label_issue_814_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD075): require an outer pipe on orphaned table row candidates
  docs/md075.md
  src/rules/md075_orphaned_table_rows.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD034): recognize reference definitions whose label escapes a closing bracket
  src/lint_context/link_parser.rs
  src/lint_context/tests.rs
  src/rules/md053_link_image_reference_definitions.rs
  tests/rules/md034_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD057): invalidate cache when link targets change
  src/cache.rs
  src/file_processor/processing.rs
  src/rules/md057_existing_relative_links.rs
  src/workspace_index.rs
  tests/cli/cli_cache_cross_file_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): resolve tools in-process instead of spawning which
  docs/code-block-tools.md
  src/code_block_tools/executor.rs
  src/code_block_tools/lookup.rs
  src/code_block_tools/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): treat under-indented text and no-space # lines as lazy continuations
  src/lint_context/list_blocks.rs
  src/lint_context/types.rs
  src/rules/md032_blanks_around_lists.rs
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD046): classify indented code blocks from the line above's verdict
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): run reflow after every rule that rewrites inline content
  src/fix_coordinator.rs
  tests/regressions/md054_md013_reflow_order_issue_819_test.rs
  tests/regressions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): keep a Quarto div fence out of the lazy-continuation check
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci(links): exclude the VS Code Marketplace from the link check
  .lychee.toml
Due: none

fix(MD013): keep links, images, math and HTML whole in sentence reflow
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): let an HTML block or fence at short indent end a list
  src/lint_context/list_blocks.rs
  src/lint_context/types.rs
  src/rules/md032_blanks_around_lists.rs
  src/utils/html_block.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): resolve Windows tool names the way Command::new does
  Cargo.lock
  Cargo.toml
  src/code_block_tools/lookup.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(MD013): state what sentence-per-line reflow keeps whole
  docs/md013.md
Due: rumdl

ci(fuzz): type-check the fuzz targets on every push
  .github/workflows/ci.yml
  Makefile
  fuzz/Cargo.lock
  fuzz/fuzz_targets/fuzz_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): measure an HTML opener's indent in columns against every open item
  src/lint_context/list_blocks.rs
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD076): measure a list item's nesting level in columns as the block tracker does
  src/lint_context/list_blocks.rs
  src/lint_context/mod.rs
  src/rules/md076_list_item_spacing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): read sentence openers off the parse and honour reference definitions
  docs/md013.md
  src/rules/md013_line_length.rs
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): measure list indent in columns so a tab nests and continues an item
  src/lint_context/list_blocks.rs
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD064): judge column alignment per list so a nested item keeps its parent's exemption
  src/lint_context/list_blocks.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
  src/utils/html_block.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD076): attach its edit to each warning so the CLI reports it fixable
  src/fix_coordinator.rs
  src/rules/md076_list_item_spacing.rs
  tests/integration/fmt_dispatch_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(MD076): state that a tie resolves to tight, as the rule does
  docs/md076.md
Due: rumdl

fix(MD076): analyse each nested list on its own spacing
  docs/md076.md
  src/rules/md076_list_item_spacing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.56
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

ci(release): publish to crates.io over Trusted Publishing only
  .github/workflows/release.yml
Due: actionlint

fix(lsp): keep a CRLF document's line endings through fixes and code actions
  src/document_run.rs
  src/lib.rs
  src/lsp/linting.rs
  src/lsp/tests.rs
  src/lsp/types.rs
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md047_single_trailing_newline.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): let a sentence open with a number under require-sentence-capital
  docs/md013.md
  src/rules/md013_line_length/md013_config.rs
  src/utils/text_reflow.rs
  tests/formats/md013_reflow_integration_test.rs
  tests/formats/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci: bound every CI job with timeout-minutes
  .github/workflows/ci.yml
Due: actionlint

chore: bump version to v0.2.57
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs: serve robots.txt with a sitemap reference
  docs/robots.txt
Due: none

docs: give every navigable page its own meta description
  .github/workflows/docs.yml
  Makefile
  docs/code-block-tools.md
  docs/configuration/index.md
  docs/flavors.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/index.md
  docs/inline-configuration.md
  docs/lsp.md
  docs/markdownlint-comparison.md
  docs/mdformat-comparison.md
  docs/playground.md
  docs/rules.md
  docs/usage/ci-cd.md
  docs/usage/cli.md
  docs/usage/editors.md
  docs/usage/pre-commit.md
  docs/vscode-extension.md
  scripts/docs_descriptions_test.py
Due: actionlint, rumdl

ci: add weekly upd dependency workflow
  .github/workflows/dependencies.yml
Due: actionlint

ci: trigger the docs and audit jobs on every input they read
  .github/workflows/audit.yml
  .github/workflows/docs.yml
Due: actionlint

chore(scripts): judge Used By entries by what a file says, not where it sits
  scripts/update-used-by.py
Due: none

docs: refresh the Used By list
  README.md
Due: rumdl

feat(wasm): load extends chains from embedder-supplied config files
  src/config/file_source.rs
  src/config/loading.rs
  src/config/mod.rs
  src/config/tests.rs
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci: exempt dependencies.yml from the zizmor unpinned-uses audit
  .github/zizmor.yml
Due: none

docs(wasm): document the Linter class and loading config files with extends
  wasm-pkg/README.md
Due: rumdl

chore: bump version to v0.2.58
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
