Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

refactor(MD073): derive fix() from check() to eliminate two-path divergence
  src/rules/md073_toc_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(MD001): derive fix() from check() to eliminate two-path divergence
  src/rules/md001_heading_increment.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: apply_warning_fixes returns content unchanged when no fixes present
  src/utils/fix_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD044): use byte-based Fix range to handle multi-byte content on line
  src/rules/md044_proper_names.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD050): use skip-context-aware detection for consistent mode target style
  src/rules/md050_strong_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD073): make should_skip case-insensitive to match detect_toc_region
  src/rules/md073_toc_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD055,MD056): emit per-row fixes to preserve inline-disabled rows
  src/rules/md055_table_pipe_style.rs
  src/rules/md056_table_column_count.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci: harden workflow permissions, credentials, and release provenance
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/sync-schemastore.yml
  .github/workflows/test-action.yml
Due: actionlint

ci: wire zizmor into make lint-actions with documented suppressions
  .github/zizmor.yml
  Makefile
Due: none

chore: bump version to v0.1.69
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

fix(tests): resolve clippy uninlined_format_args in md027 tests
  tests/rules/md027_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD044): do not flag proper names inside bare-domain link text
  .gitignore
  src/rules/md044_proper_names.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.70
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

fix(config): display global.flavor as lowercase quoted string in rumdl config output
  src/formatter.rs
  tests/cli/cli_config_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): load user config alongside discovered markdownlint project config
  src/config/loading.rs
  src/config/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): support bare rule name in rumdl config get
  src/commands/config.rs
  src/config/loading.rs
  tests/cli/cli_config_test.rs
  tests/cli/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(config): rename load_user_config_as_fallback, hoist config load, add serial guards
  src/commands/config.rs
  src/config/loading.rs
  src/config/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(config): fix stale log message and normalize test helper usage
  src/config/loading.rs
  tests/cli/cli_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(config): fill coverage gaps from post-implementation review
  src/config/tests.rs
  tests/cli/cli_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(config): add expert-level coverage for flavor display and config get
  src/config/flavor.rs
  src/config/tests.rs
  tests/cli/cli_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(config): add consistency regression test for non-default flavor display
  tests/cli/cli_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): move test module to end of flavor.rs to satisfy clippy items_after_test_module
  src/config/flavor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: fix blank line violations in kramdown, inline-configuration, md031, md047
  docs/flavors/kramdown.md
  docs/inline-configuration.md
  docs/md031.md
  docs/md047.md
Due: rumdl

chore: bump version to v0.1.71
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

docs(md010): fix broken link and improve incorrect example display
  docs/md010.md
Due: rumdl

docs(md010): fix config key case and align correct/fixed examples
  docs/md010.md
Due: rumdl

docs: normalize config key documentation to kebab-case
  docs/global-settings.md
  docs/md009.md
  docs/md041.md
  docs/md043.md
  docs/md053.md
Due: rumdl

docs(sponsors): add 张君一 as Supporter
  SPONSORS.md
Due: rumdl

feat(cli): introduce FmtArgs with formatter-appropriate interface
  src/cli_types.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: use verified fix counts in summaries and correct dry-run label
  src/check_runner.rs
  src/file_processor/processing.rs
  src/formatter.rs
  src/stdin_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(commands): resolve rule aliases in explain and rule commands
  src/commands/explain.rs
  src/commands/rule.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(import): support JSONC comments in markdownlint config files
  src/markdownlint_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test: add coverage for fmt command, rule aliases, and JSONC import
  __tests__/fixtures/malformed/bad.md
  tests/cli/cli_explain_test.rs
  tests/cli/cli_integration_tests.rs
  tests/cli/import_command_test.rs
  tests/config/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: update CLI reference and examples for new features
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/index.md
  docs/link-validation.md
  docs/markdownlint-comparison.md
  docs/usage/cli.md
  docs/usage/editors.md
  docs/vscode-extension.md
Due: rumdl

fix(formatter): inline format args to satisfy clippy
  src/formatter.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): resolve rule aliases in config get command
  src/commands/config.rs
  tests/cli/cli_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md025): cascade level adjustment to subordinate headings when demoting duplicate title
  src/rules/md025_single_title.rs
  tests/rules/md025_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md034): detect code spans inside MDX JSX component bodies
  src/lint_context/element_parsers.rs
  src/lint_context/mod.rs
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.72
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  src/lint_context/element_parsers.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md013,bench): enforce CommonMark 3-space indent on thematic breaks; hoist LintContext out of bench loop
  benches/rule_performance.rs
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/mod.rs
  src/utils/thematic_break.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
