Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: ./target/release/rumdl check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-doc-check:
  name: cargo doc (check)
  entry: cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

fix(MD053): don't filter out references with dots
  src/rules/md053_link_image_reference_definitions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: improve MD012/MD047 separation following cleaner philosophy
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md047_single_trailing_newline.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: correct fix counting when some warnings cannot be fixed
  src/main.rs
  tests/fix_counting_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs: add inline configuration documentation with rumdl-disable as primary syntax
  README.md
  docs/inline-configuration.md
Due: rumdl

fix(lsp): support formatting documents without textDocument/didOpen
  src/lsp/server.rs
  tests/lsp_unopened_document_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.140
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: support code.cmd in Git Bash on Windows
  src/vscode.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: resolve MD038 false positives and add regression tests
  CHANGELOG.md
  src/rules/md038_no_space_in_code.rs
  tests/md032_ordered_list_bug_test.rs
  tests/md038_false_positive_test.rs
  tests/md051_readme_bug_test.rs
  tests/md051_toc_bug_test.rs
  tests/md052_literal_brackets_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: update test expectations after markdownlint compatibility changes
  tests/md051_readme_bug_test.rs
  tests/rules/md012_test.rs
  tests/rules/md047_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: MD012 reports correct line number for EOF blank lines
  src/rules/md012_no_multiple_blanks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(lsp): return null instead of empty array when no formatting available
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(MD013): add normalize mode to combine short lines (fixes #76)
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/utils/text_reflow.rs
  tests/fix_counting_test.rs
  tests/rules/md013_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.141
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: preserve hard line breaks in MD013 reflow and update LSP test
  src/utils/text_reflow.rs
  tests/lsp_unopened_document_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: refactor MD013 to emit warning-based fixes (fixes #79)
  src/lsp/server.rs
  src/rule_config_serde.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/utils/text_reflow.rs
  tests/lsp_formatting_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.142
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: MD013 preserve nested list items and hard line breaks
  src/lsp/server.rs
  src/rules/md013_line_length.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: prevent panic on character boundary violation in MD034 (fixes #87)
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf: optimize fix mode by only re-checking rules that made changes
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf: add diagnostic timing for fix mode performance analysis
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

test: add baseline performance test for fix functionality
  tests/fix_performance_baseline_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf: add jemalloc allocator for improved memory performance
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf: optimize slow markdown linting rules MD028, MD034, MD051, MD030, MD013
  src/rules/md013_line_length.rs
  src/rules/md028_no_blanks_blockquote.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md051_link_fragments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf: optimize MD052 rule with early exit logic (fixes #88)
  src/rules/md052_reference_links_images.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.143
  Cargo.toml
Due: none

fix: use platform-specific allocators (jemalloc/mimalloc) for cross-platform builds
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/rules/md013_line_length.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md051_link_fragments.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: support markdownlint config aliases (fixes #86)
  src/markdownlint_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add sentence-per-line reflow mode to MD013 (fixes #75)
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/utils/text_reflow.rs
  tests/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs: document reflow_mode options for MD013
  docs/md013.md
Due: rumdl

fix: prevent extra spaces after inline markdown elements in sentence-per-line mode
  src/rules/md013_line_length.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: preserve code blocks and front matter in MD013 sentence-per-line reflow
  docs/global-settings.md
  docs/md005.md
  docs/md018.md
  docs/md020.md
  docs/md021.md
  docs/md022.md
  docs/md025.md
  docs/md026.md
  docs/md029.md
  docs/md030.md
  docs/md031.md
  docs/md032.md
  docs/md033.md
  docs/md037.md
  docs/md038.md
  docs/md039.md
  docs/md041.md
  docs/md042.md
  docs/md043.md
  docs/md044.md
  docs/md045.md
  docs/md046.md
  docs/md047.md
  src/rules/md013_line_length.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: improve AST caching and fix link parsing in code spans
  src/lint_context.rs
  src/rules/md038_no_space_in_code.rs
  src/rules/md042_no_empty_links.rs
  src/rules/md051_link_fragments.rs
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.144
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: update tests to reflect recent bug fixes and improvements
  tests/md051_readme_bug_test.rs
  tests/rules/md042_test.rs
  tests/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: correct test assertion for MD046 indented style check
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.145
  Cargo.lock
  Cargo.toml
Due: none

fix: CI test failures for v0.0.145 release
  src/rules/md032_blanks_around_lists.rs
  src/rules/md046_code_block_style.rs
  tests/rules/md046_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: refine MD032 to handle nested code blocks correctly
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add Fix Coordinator as default fix strategy
  src/fix_coordinator.rs
  src/lib.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
