Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

test(rules): register MD088 in the frozen rule sets
  docs/rules.md
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md051): report a broken fragment on a query-string destination once
  src/lsp/navigation.rs
  src/lsp/tests.rs
  src/workspace_index.rs
  tests/integration/cross_file_validation_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md051): validate cross-file link fragments for a document read from stdin
  src/check_runner.rs
  src/lsp/completion.rs
  src/lsp/navigation.rs
  src/rules/md051_link_fragments.rs
  src/rules/md057_existing_relative_links.rs
  src/stdin_processor.rs
  src/workspace_index.rs
  tests/cli/cli_stdin_cross_file_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): keep a file's per-file-ignores out of the workspace index it feeds
  src/file_processor/processing.rs
  src/lib.rs
  src/workspace_index.rs
  tests/config/per_file_ignores_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.51
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs(actions): explain dependabot's version PRs against the v0 action tag
  README.md
  docs/usage/ci-cd.md
Due: rumdl

fix(cli): report a piped document's findings on stdout like every other run
  docs/usage/cli.md
  src/stdin_processor.rs
  tests/cli/cli_integration_tests.rs
  tests/config/editorconfig_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(actions): drop the dependabot ignore advice for the v0 action tag
  README.md
  docs/usage/ci-cd.md
Due: rumdl

test(md018): pin the tags option against the config key validator
  tests/config/documented_alias_reachability_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): treat a template shortcode tag as opaque markup
  docs/md033.md
  docs/md037.md
  docs/md038.md
  docs/md044.md
  docs/md045.md
  docs/md057.md
  docs/md085.md
  src/rules/md033_no_inline_html.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md038_no_space_in_code.rs
  src/rules/md044_proper_names.rs
  src/rules/md045_no_alt_text.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md085_paragraph_continuation_indent.rs
  tests/regressions/mod.rs
  tests/regressions/shortcode_tags_issue_798_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(config): add [html] and [html.script] configuration sections
  Cargo.lock
  Cargo.toml
  rumdl.schema.json
  src/config/loading.rs
  src/config/parsers.rs
  src/config/source_tracking.rs
  src/config/types.rs
  src/config_intelligent_merge_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(html-fmt): implement and integrate embedded HTML formatting check
  src/config/registry.rs
  src/embedded_lint.rs
  src/file_processor/tests.rs
  src/lint_context/heading_detection.rs
  src/lint_context/mod.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md089_embedded_html_fmt.rs
  src/rules/mod.rs
  src/utils/code_block_utils.rs
  src/utils/range_utils.rs
  tests/cli/cli_lsp_fix_consistency.rs
  tests/integration/rules_mod_test.rs
  tests/rules/md027_test.rs
  tests/rules/md034_comprehensive_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(html-fmt): add user guide and configuration details for HTML formatting
  README.md
  docs/comparison.md
  docs/configuration/index.md
  docs/embedded-html-formatting.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/md089.md
  docs/mdformat-comparison.md
  docs/playground.md
  docs/rules.md
Due: rumdl

feat(html-fmt): add format-comments-as-markdown option
  src/rules/md074_mkdocs_nav.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md012): report blank lines before a code block that ends the document (#791)
  src/rules/md012_no_multiple_blanks.rs
  tests/rules/md012_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.52
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(lsp): refresh cross-file diagnostics when the workspace index changes
  src/lsp/index_worker.rs
  src/lsp/mod.rs
  src/lsp/relint.rs
  src/lsp/relint_tests.rs
  src/lsp/server.rs
  src/lsp/tests.rs
  src/lsp/types.rs
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): stop publishing diagnostics for files that were never opened
  src/lsp/relint_tests.rs
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md018): recognize tags that start with a digit
  docs/md018.md
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md018_no_missing_space_atx/md018_config.rs
  tests/cli/cli_flavor_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

README: mention MegaLinter integration
  README.md
Due: rumdl

docs(readme): mention the MegaLinter integration
  README.md
Due: rumdl

fix(md038): include the closing backtick in the reported range
  src/rules/md038_no_space_in_code.rs
  tests/character_ranges/basic_tests.rs
  tests/unicode/column_positions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): keep a pending edit when a file is only evicted from the index
  src/lsp/index_worker.rs
  src/lsp/relint_tests.rs
  src/lsp/server.rs
  src/lsp/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(md038): describe when a span crossing a line break is left alone
  docs/md038.md
Due: rumdl

fix(md038): stop deleting a line when trimming a multi-line code span
  src/rules/md038_no_space_in_code.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): drop a pending edit when its file is deleted
  src/lsp/index_worker.rs
  src/lsp/relint_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

build: await the LSP's diagnostic refresh tasks without the futures crate
  Cargo.lock
  Cargo.toml
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): break "did you mean" ties by name instead of by key order
  src/config/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): report a multi-line link's range on the line it ends on
  src/lint_context/link_parser.rs
  src/lint_context/types.rs
  src/rules/md039_no_space_in_links.rs
  src/rules/md042_no_empty_links.rs
  src/rules/md045_no_alt_text.rs
  src/rules/md051_link_fragments.rs
  src/rules/md059_link_text.rs
  src/rules/md062_link_destination_whitespace.rs
  tests/unicode/column_positions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(installation): document the npm package
  docs/getting-started/installation.md
Due: rumdl

refactor: remove the unused performance benchmarking module
  Cargo.lock
  Cargo.toml
  benchmark/bin/bench_lint_context.rs
  benchmark/bin/benchmark.rs
  benchmark/bin/benchmark_rule.rs
  benchmark/bin/file_parallel_benchmark.rs
  benchmark/bin/measure_code_span_performance.rs
  src/lib.rs
  src/performance.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(ci): document the MegaLinter integration
  docs/usage/ci-cd.md
Due: rumdl

build: hold the rule-name tables in sorted arrays instead of phf maps
  Cargo.lock
  Cargo.toml
  src/config/registry.rs
  tests/config/documented_rule_names_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

build: drop the pulldown-cmark and env_logger default features rumdl never uses
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

fix(md084): stop deleting line endings as invisible characters
  docs/md084.md
  src/rules/md084_invisible_characters.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

build: give the language server its own Result alias instead of anyhow's
  Cargo.lock
  Cargo.toml
  src/lsp/configuration.rs
  src/lsp/linting.rs
  src/lsp/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(readme): wrap the MegaLinter paragraph within the line limit
  README.md
Due: rumdl

fix(rules): treat wikilink aliases as one table cell in Obsidian
  docs/flavors.md
  docs/flavors/obsidian.md
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(rules): keep wikilink paragraphs out of tables in Obsidian
  docs/flavors.md
  docs/flavors/obsidian.md
  src/rules/md075_orphaned_table_rows.rs
  src/utils/table_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(docs): format flavor reference
  docs/flavors.md
Due: rumdl
