Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs: update rumdl version referred in readme
  README.md
Due: rumdl

docs: add azure_devops to default list of available markdown dialects
  src/config/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: update rumdl version referred in readme (#623)
  README.md
Due: rumdl

ci: guard against silent version drift in vership-tracked files
  .github/workflows/ci.yml
  Makefile
  docs/global-settings.md
  scripts/check-versions.py
  vership.toml
Due: actionlint, rumdl

chore: drop EOL Python versions, declare 3.9-3.14 support
  pyproject.toml
Due: none

docs: add azure_devops to default list of available markdown dialects (#624)
  src/config/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: list all markdown flavors in user-facing docs and warnings
  docs/global-settings.md
  docs/mdformat-comparison.md
  src/config/parsers.rs
  src/config/types.rs
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Add winget release automation (#620)
  .github/workflows/release.yml
  README.md
  docs/getting-started/installation.md
Due: actionlint, rumdl

ci(release): guard winget dry-run step against non-tag refs
  .github/workflows/release.yml
Due: actionlint

refactor(rules): makes folder structure and naming more omogeneous
  .github/actionlint.yaml
  .mise.toml
  .pre-commit-config.yaml
  src/rules/md013_line_length.rs
  src/rules/md041_first_line_heading.rs
  src/rules/md060_table_format.rs
  src/rules/md061_forbidden_terms.rs
  src/rules/md063_heading_capitalization.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

build: update mise toml with actionlint
  .mise.toml
Due: none

refactor: rebuild to use prek instead of pre-commits
  .config/nextest.toml
  CONTRIBUTING.md
  Makefile
  pyproject.toml
  scripts/setup-prek.sh
Due: rumdl

refactor: make rules and folder structure organization more omogeneous (#626)
  .config/nextest.toml
  .github/actionlint.yaml
  .mise.toml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  pyproject.toml
  scripts/setup-prek.sh
  src/rules/md013_line_length.rs
  src/rules/md041_first_line_heading.rs
  src/rules/md060_table_format.rs
  src/rules/md061_forbidden_terms.rs
  src/rules/md063_heading_capitalization.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: restore prek builtin hooks and cargo-binstall optimization
  .mise.toml
  .pre-commit-config.yaml
Due: none

docs(readme): add Discord callout in overview
  README.md
Due: rumdl

feat(config): accept [rules.X] wrapper as alias for [X]
  src/config/parsers.rs
  src/config/tests.rs
  tests/cli/cli_rules_wrapper_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(readme): document shell completions
  README.md
Due: rumdl

fix(md060): accept single-space empty cells in compact style
  src/rules/md060_table_format.rs
  tests/rules/md060_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(mdformat): add preset config for running rumdl alongside mdformat
  docs/mdformat-comparison.md
Due: rumdl

chore: bump version to v0.1.92
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

test(idempotency): add idempotent_rule macro and migrate MD001
  Cargo.lock
  Cargo.toml
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(idempotency): keep test_ prefix in macro-generated names
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(idempotency): migrate all per-rule idempotency tests to macro
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(idempotency): add coverage for MD013, MD075, MD076, MD077
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(idempotency): cover MkDocs/MDX/Quarto flavors for flavor-sensitive rules
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(idempotency): extend multi-flavor coverage to md022, md037, md050, md077
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(idempotency): add full-pipeline idempotency test across flavors
  proptest-regressions/rules/idempotency_pipeline.txt
  tests/rules/idempotency_pipeline.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

style(idempotency): replace em dashes in pipeline test comments
  tests/rules/idempotency_pipeline.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(idempotency): add regression-corpus harness with seeded fixtures
  .pre-commit-config.yaml
  tests/regressions/idempotency/atx-heading-multispace.mdx.md
  tests/regressions/idempotency/atx-heading-multispace.mkdocs.md
  tests/regressions/idempotency/atx-heading-multispace.quarto.md
  tests/regressions/idempotency/atx-heading-multispace.standard.md
  tests/rules/idempotency_corpus.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

build(make): add test-idempotency target with elevated proptest case count
  Makefile
Due: none

fix(test): remove redundant default on MD077 unit struct
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(test): drive pipeline idempotency tests through real fix coordinator
  proptest-regressions/rules/idempotency_pipeline.txt
  tests/regressions/idempotency/atx-heading-multispace.mdx.md
  tests/regressions/idempotency/atx-heading-multispace.mkdocs.md
  tests/regressions/idempotency/atx-heading-multispace.quarto.md
  tests/regressions/idempotency/atx-heading-multispace.standard.md
  tests/regressions/idempotency/pipeline-cascade.mdx.md
  tests/regressions/idempotency/pipeline-cascade.mkdocs.md
  tests/regressions/idempotency/pipeline-cascade.quarto.md
  tests/regressions/idempotency/pipeline-cascade.standard.md
  tests/rules/idempotency_corpus.rs
  tests/rules/idempotency_pipeline.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(quarto): add MD078 missing-chunk-labels and MD079 chunk-label-spaces
  docs/md078.md
  docs/md079.md
  docs/rules.md
  src/config/registry.rs
  src/rules/md078_missing_chunk_labels.rs
  src/rules/md079_chunk_label_spaces.rs
  src/rules/mod.rs
  src/utils/mod.rs
  src/utils/quarto_chunks.rs
  tests/formats/mkdocs_extensions_test.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(quarto): harden chunk header parser against codex review findings
  src/utils/quarto_chunks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md079): flag whitespace in quoted positional chunk labels
  src/rules/md079_chunk_label_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.1.93
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/global-settings.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(math): close $$ display blocks when fence shares a line with content
  src/lint_context/line_computation.rs
  src/utils/kramdown_utils.rs
  src/utils/skip_context.rs
  tests/rules/md037_test.rs
  tests/rules/md050_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(math): require line-start opener for $$ display blocks
  src/lint_context/line_computation.rs
  src/utils/skip_context.rs
  tests/rules/md037_test.rs
  tests/rules/md050_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(math): close line-level math state at the fence, ignore prose $$
  src/lint_context/line_computation.rs
  tests/rules/md037_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md080): add heading-anchor-collision rule
  docs/md080.md
  docs/rules.md
  src/config/registry.rs
  src/rules/md080_heading_anchor_collision.rs
  src/rules/mod.rs
  tests/integration/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
