Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: ./target/release/rumdl check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-doc-check:
  name: cargo doc (check)
  entry: cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

feat(output): enhance GitHub Actions formatter to match official toolkit spec
  README.md
  src/output/formatters/github.rs
  tests/comprehensive_output_format_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.122
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: mark kramdown definition list doctest as text
  src/utils/kramdown_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: correct unfixable rules status display and fix counts (closes #56)
  src/main.rs
  src/rule.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md054_link_image_style.rs
  tests/unfixable_rules_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD013): preserve reference links during text reflow
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: centralize markdown pattern regexes and extend reflow support
  src/rules/md052_reference_links_images.rs
  src/utils/regex_cache.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(reflow): add comprehensive markdown pattern preservation
  src/utils/regex_cache.rs
  src/utils/text_reflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD013): simplify fix logic and show [fixed] indicator correctly
  src/rules/md013_line_length.rs
  tests/rules/md013_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs: update CHANGELOG for v0.0.123 release
  CHANGELOG.md
Due: none

Bump version to v0.0.123
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: resolve clippy linting errors blocking v0.0.123 release
  src/rules/md013_line_length.rs
  src/utils/regex_cache.rs
  src/utils/text_reflow.rs
  tests/rules/md013_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: align clippy flags across all build environments
  Makefile
  scripts/pre-release.sh
Due: none

feat: add upward directory traversal for config discovery (closes #58)
  CHANGELOG.md
  README.md
  src/config.rs
  src/main.rs
  tests/config_file_command_test.rs
  tests/config_upward_traversal_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add stdin/stdout formatting support (fixes #59)
  README.md
  src/main.rs
  src/rules/md009_trailing_spaces.rs
  tests/cli_integration_tests.rs
  tests/rules/md009_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add fmt command as alias for check --fix
  README.md
  src/main.rs
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: update fix suggestion to use fmt command
  README.md
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(md052): don't flag GitHub alerts as undefined references
  src/rules/md052_reference_links_images.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: stdin diagnostics to stderr in check mode, update CHANGELOG
  CHANGELOG.md
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add '-' as stdin indicator for Unix-style piping
  CHANGELOG.md
  README.md
  src/main.rs
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.124
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat: add mise version validation to pre-release checks
  scripts/pre-release.sh
Due: none

fix: output original content when `rumdl fmt -` finds no issues
  src/main.rs
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add --stdin-filename flag for better stdin processing
  README.md
  src/main.rs
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD029): correct list continuity detection and fix functionality
  src/lint_context.rs
  src/rules/md029_ordered_list_prefix.rs
  tests/rules/md029_fix_test.rs
  tests/rules/md029_markdownlint_parity_test.rs
  tests/rules/md029_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

style: fix formatting
  src/lint_context.rs
  src/rules/md029_ordered_list_prefix.rs
  tests/rules/md029_fix_test.rs
  tests/rules/md029_markdownlint_parity_test.rs
  tests/rules/md029_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.125
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

docs: update CHANGELOG for v0.0.125
  CHANGELOG.md
Due: none

docs: update CHANGELOG for output filename collision fix
  CHANGELOG.md
Due: none

Bump version to v0.0.126
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat: add watch mode for continuous linting during development
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add --diff flag and improve watch mode config detection
  README.md
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD005): dynamic indent detection to respect user's chosen pattern (fixes #64)
  .rumdl.toml
  docs/md005.md
  src/rules/md005_list_indent.rs
  tests/rules/md005_dynamic_indent_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: rename MD013 'enable_reflow' to 'reflow' with backwards compatibility
  .rumdl.toml
  src/config.rs
  src/rule.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  tests/rules/md013_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: centralize MkDocs pattern validation for better maintainability
  Cargo.toml
  src/config.rs
  src/main.rs
  src/rules/md042_no_empty_links.rs
  src/rules/md052_reference_links_images.rs
  src/utils/mkdocs_patterns.rs
  src/utils/mod.rs
  tests/character_ranges/mod.rs
  tests/malformed_markdown_stress_tests.rs
  tests/regression_prevention_tests.rs
  tests/rules/link_edge_cases_test.rs
  tests/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs: update CHANGELOG for upcoming release
  CHANGELOG.md
Due: none

fix: backwards compatibility for MD013 enable-reflow and MD005 test updates
  src/rule_config_serde.rs
  tests/md013_reflow_integration_test.rs
  tests/rules/md005_dynamic_indent_test.rs
  tests/rules/md005_test.rs
  tests/rules/md005_unicode_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.127
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/md036.md
  python/PYTHON-README.md
  tests/cli_statistics_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD005): correct dynamic indent detection to match markdownlint behavior
  src/rules/md005_list_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
