Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

test(docs): accept canonical homepage links
  scripts/docs_smoke_test.py
Due: none

fix(docs): bind production analytics dataset
  wrangler.toml
Due: none

feat(docs): activate adoption analytics and reporting
  .github/workflows/adoption-report.yml
  .github/workflows/docs.yml
  Makefile
  docs/getting-started/quickstart.md
  docs/index.md
  docs/javascripts/rumdl.js
  docs/playground.md
  docs/stylesheets/rumdl.css
  functions/README.md
  functions/api/events.js
  scripts/docs_analytics_report.py
  scripts/docs_analytics_test.mjs
  scripts/docs_smoke_test.py
  wrangler.toml
Due: actionlint, rumdl

fix(docs): make homepage links verifiable
  Makefile
  README.md
  docs/index.md
Due: rumdl

refactor(docs): remove the adoption report workflow from the repository
  .github/workflows/adoption-report.yml
  .github/workflows/docs.yml
  Makefile
  functions/README.md
  scripts/docs_analytics_report.py
Due: actionlint, rumdl

fix(cli): honour --disable all and disable = ["all"] in rumdl check
  src/file_processor/discovery.rs
  src/file_processor/tests.rs
  src/rules/mod.rs
  tests/cli/cli_alias_test.rs
  tests/cli/cli_disable_all_test.rs
  tests/cli/mod.rs
  tests/config/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(brand): adopt Heading Pulse identity
  Makefile
  README.md
  assets/favicon.svg
  assets/logo-dark.svg
  assets/logo-symbol.svg
  assets/logo.png
  assets/logo.svg
  docs/images/favicon.svg
  docs/images/rumdl-mark.svg
  docs/index.md
  docs/stylesheets/rumdl.css
  zensical.toml
Due: rumdl

fix(docs): make uvx the primary trial command
  README.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/javascripts/rumdl.js
  functions/api/events.js
  scripts/docs_smoke_test.py
Due: rumdl

docs(brand): adopt Clean Markdown. Fast.
  README.md
  docs/index.md
Due: rumdl

fix(docs): enforce analytics event contract
  docs/javascripts/rumdl.js
  functions/README.md
  functions/api/events.js
  scripts/docs_analytics_test.mjs
Due: rumdl

ci: stop rebuilding tools and binaries the jobs never used
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  Makefile
Due: actionlint

feat(docs): expose private adoption snapshot
  functions/README.md
  functions/api/adoption.js
  scripts/docs_analytics_test.mjs
Due: rumdl

fix(docs): ignore out-of-contract adoption rows
  functions/api/adoption.js
  scripts/docs_analytics_test.mjs
Due: none

fix(output): harden machine-readable formats
  Cargo.lock
  Cargo.toml
  docs/output-formats.md
  docs/schemas/rumdl-output.schema.json
  docs/stability.md
  src/file_processor/processing.rs
  src/output/formatters/json.rs
  src/output/formatters/junit.rs
  src/output/formatters/sarif.rs
  src/stdin_processor.rs
  src/utils/line_ending.rs
  src/utils/mod.rs
  tests/cli/cli_integration_tests.rs
  tests/output/comprehensive_output_format_tests.rs
  tests/output/machine_format_contract_test.rs
  zensical.toml
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(output): drop the Windows verbatim prefix from SARIF artifact URIs
  src/discovery.rs
  src/output/formatters/sarif.rs
  tests/cli/cli_show_full_path_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(output): show full Windows paths without the verbatim prefix
  docs/output-formats.md
  src/config/tests.rs
  src/config/validation.rs
  src/discovery.rs
  src/file_processor/discovery.rs
  src/file_processor/processing.rs
  src/file_processor/tests.rs
  tests/cli/cli_show_full_path_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(docs): frame terminal capture
  docs/images/homepage-terminal.png
  docs/index.md
  docs/stylesheets/rumdl.css
  scripts/docs_smoke_test.py
  scripts/generate-homepage-terminal.sh
  scripts/homepage-terminal.tape
Due: rumdl

fix(docs): clarify repository check actions
  docs/index.md
  docs/javascripts/rumdl.js
  docs/stylesheets/rumdl.css
  functions/README.md
  functions/api/adoption.js
  functions/api/events.js
  scripts/docs_analytics_test.mjs
  scripts/docs_smoke_test.py
Due: rumdl

fix(docs): sharpen closing invitation
  docs/index.md
  scripts/docs_analytics_test.mjs
Due: rumdl

refactor(docs): remove redundant terminal caption
  docs/index.md
  docs/stylesheets/rumdl.css
  scripts/docs_analytics_test.mjs
Due: rumdl

feat(docs): replace hero proof with real terminal
  docs/index.md
  docs/stylesheets/rumdl.css
  scripts/docs_analytics_test.mjs
  scripts/docs_smoke_test.py
Due: rumdl

feat(docs): sharpen homepage activation path
  docs/index.md
  docs/javascripts/rumdl.js
  docs/stylesheets/rumdl.css
  scripts/docs_analytics_test.mjs
  scripts/docs_smoke_test.py
Due: rumdl

fix(docs): restore homepage documentation gateway
  docs/index.md
  docs/stylesheets/rumdl.css
  scripts/docs_analytics_test.mjs
  scripts/docs_smoke_test.py
Due: rumdl

feat(docs): use real terminal capture
  docs/images/homepage-terminal.png
  docs/index.md
  docs/stylesheets/rumdl.css
  scripts/docs_analytics_test.mjs
  scripts/docs_smoke_test.py
  scripts/homepage-terminal.tape
Due: rumdl

feat(docs): restore terminal capture colors
  docs/images/homepage-terminal.png
  scripts/homepage-terminal.tape
Due: none

refactor(docs): remove redundant hero comparison
  docs/index.md
Due: rumdl

docs: add Obsidian Linter comparison
  docs/comparison.md
  docs/flavors/obsidian.md
  docs/md023.md
  docs/md039.md
  docs/md041.md
  docs/md064.md
  docs/obsidian-linter-comparison.md
  scripts/check-rule-docs.py
  zensical.toml
Due: rumdl

fix(MD009): honor br-spaces below 2 as no line-break exception
  docs/md009.md
  src/rules/md009_trailing_spaces.rs
  src/rules/md009_trailing_spaces/md009_config.rs
  src/types/br_spaces.rs
  src/types/mod.rs
  tests/rules/md009_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD026): keep entity and emoji shortcode delimiters in headings
  docs/md026.md
  src/rules/md026_no_trailing_punctuation.rs
  src/utils/regex_cache.rs
  tests/rules/md026_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD029): check parenthesized markers and ordered-only documents
  src/lib.rs
  src/lint_context/mod.rs
  src/rules/md029_ordered_list_prefix.rs
  tests/rules/md029_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD041): promote only paragraph lines and measure title length in characters
  src/rules/md041_first_line_heading.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD061): preserve matched term casing in diagnostics
  src/rules/md061_forbidden_terms.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(analytics): classify aggregate referral sources
  docs/javascripts/rumdl.js
  functions/api/events.js
  scripts/docs_analytics_test.mjs
Due: none

feat(brand): add social previews and npm identity
  .github/workflows/docs.yml
  assets/social-preview.png
  docs/images/social-preview.jpg
  npm/rumdl/README.md
  overrides/main.html
  scripts/docs_smoke_test.py
  zensical.toml
Due: actionlint, rumdl

docs: strengthen benchmark evidence and responsive reading
  README.md
  docs/assets/benchmark.svg
  docs/benchmarks.md
  docs/comparison.md
  docs/flavors/mdx.md
  docs/flavors/mkdocs.md
  docs/flavors/myst.md
  docs/flavors/obsidian.md
  docs/flavors/quarto.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/stylesheets/rumdl.css
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  scripts/benchmark_cold_start.py
  scripts/benchmark_docs_test.py
  scripts/docs_smoke_test.py
  scripts/generate_benchmark_chart.py
  zensical.toml
Due: rumdl

build(docs): harden publication and sitemap gates
  .github/workflows/docs.yml
  Makefile
  docs/obsidian-linter-comparison.md
  docs/stylesheets/rumdl.css
  scripts/complete_docs_sitemap.py
  scripts/complete_docs_sitemap_test.py
  scripts/docs_discoverability_test.py
  scripts/sanitize_docs_site.py
  scripts/sanitize_docs_site_test.py
Due: actionlint, rumdl

fix(md057): handle balanced parentheses in link paths
  src/rules/md057_existing_relative_links.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(md063): add consistent style option
  docs/md063.md
  src/rules/md063_heading_capitalization.rs
  src/rules/md063_heading_capitalization/md063_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(cli): add --no-code-block-tools and --only-code-block-tools flags
  src/cli_types.rs
  src/cli_utils.rs
  src/file_processor/discovery.rs
  src/resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(cli): cover --no-code-block-tools and --only-code-block-tools
  tests/cli/cli_cbt_flags_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check
