Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: ./target/release/rumdl check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-doc-check:
  name: cargo doc (check)
  entry: cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

fix(config): add field aliases and validation warnings for all rules
  docs/md007.md
  docs/md009.md
  docs/md010.md
  docs/md013.md
  docs/md022.md
  docs/md024.md
  docs/md025.md
  docs/md030.md
  docs/md031.md
  docs/md033.md
  docs/md041.md
  docs/md043.md
  docs/md044.md
  docs/md045.md
  docs/md053.md
  docs/md058.md
  src/rule_config_serde.rs
  src/rules/md007_ul_indent/md007_config.rs
  src/rules/md009_trailing_spaces/md009_config.rs
  src/rules/md010_no_hard_tabs/md010_config.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md022_blanks_around_headings/md022_config.rs
  src/rules/md024_no_duplicate_heading/md024_config.rs
  src/rules/md025_single_title/md025_config.rs
  src/rules/md030_list_marker_space/md030_config.rs
  src/utils/anchor_styles/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD044): correct field name in templates and documentation
  rumdl.toml.example
  src/config.rs
  src/rules/md044_proper_names.rs
  src/rules/md044_proper_names/md044_config.rs
  tests/init_command_test.rs
  tests/schema_validation_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: rumdl init --pyproject no longer creates .rumdl.toml
  src/main.rs
  tests/pyproject_config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.160
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix(MD044): invert code-blocks logic to match MD013 and change default to false
  docs/md044.md
  rumdl.toml.example
  src/config.rs
  src/rules/md044_proper_names.rs
  src/rules/md044_proper_names/md044_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD013): preserve semantic line breaks and fix false positives in normalize mode
  src/rules/md013_line_length.rs
  tests/md013_reflow_nested_lists_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD029): recognize properly indented nested content as list continuation
  src/rules/md029_ordered_list_prefix.rs
  tests/rules/md029_nested_list_continuation_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(MD013): support backslash hard line breaks for mdformat compatibility
  src/rules/md013_line_length.rs
  src/utils/text_reflow.rs
  tests/md013_hard_breaks_test.rs
  tests/rules/inline_content_edge_cases_test.rs
  tests/rules/md044_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.161
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  tests/rules/list_rules_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs: fix rustdoc HTML tag warnings in doc comments
  src/lint_context.rs
  src/output/formatters/azure.rs
  src/output/formatters/github.rs
  src/utils/string_interner.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

test: fix flaky test_issue_107_exact_scenario assertion
  tests/md013_reflow_nested_lists_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: remove internal optimization docs and temporary files
  docs/LINTCONTEXT_OPTIMIZATION_PLAN.md
  docs/LINTCONTEXT_OPTIMIZATION_SUMMARY.md
  docs/LINTCONTEXT_PERFORMANCE_ANALYSIS.md
  docs/PHASE_2_OPTIMIZATION_COMPLETE.md
  docs/PHASE_3_OPTIMIZATION_COMPLETE.md
  docs/schemastore-submission.md
  parity_check.py
Due: rumdl

docs: add comprehensive documentation for per-file-ignores feature
  README.md
  docs/global-settings.md
Due: rumdl

fix: build badge
  README.md
Due: rumdl

fix(md052): skip code blocks in blockquotes when checking references
  src/rules/md052_reference_links_images.rs
  tests/rules/md052_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

test(md005): add comprehensive edge case tests for continuation content
  src/rules/md005_list_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: eliminate manual front matter checks across all rules
  src/rules/md013_line_length.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md052_reference_links_images.rs
  src/rules/md053_link_image_reference_definitions.rs
  src/vscode.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf: consolidate multiple line_info() calls for same line
  src/rules/md013_line_length.rs
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add filtered line iterator architecture for rule implementation
  src/filtered_lines.rs
  src/lib.rs
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD034): skip URLs in front matter
  src/lint_context.rs
  src/rules/md034_no_bare_urls.rs
  tests/rules/md034_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: eliminate manual HTML block checks across all rules
  src/rules/md013_line_length.rs
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf(md005): optimize continuation detection from O(n²) to O(n)
  src/rules/md005_list_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor(md005): replace magic numbers with named constants
  src/rules/md005_list_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: eliminate manual code block checks across all rules
  src/rules/md013_line_length.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md036_no_emphasis_only_first.rs
  src/rules/md053_link_image_reference_definitions.rs
  src/rules/md054_link_image_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(tests): mark profiling tests as serial to prevent flaky failures
  src/profiling.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.162
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(md024): default siblings_only to true
  docs/md024.md
  src/rules/md024_no_duplicate_heading.rs
  src/rules/md024_no_duplicate_heading/md024_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(md046,md050): resolve false positives from Issue #118
  src/lint_context.rs
  src/rules/md045_no_alt_text.rs
  src/rules/md046_code_block_style.rs
  src/rules/md052_reference_links_images.rs
  tests/md052_literal_brackets_test.rs
  tests/rules/md046_test.rs
  tests/rules/md050_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(parsing): ignore content inside HTML comments (issues #119, #20)
  src/lint_context.rs
  tests/html_comments_test.rs
  tests/rules/heading_edge_cases_test.rs
  tests/rules/inline_content_edge_cases_test.rs
  tests/rules/md024_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs: add installation steps via Nix
  README.md
Due: rumdl

fix(MD013): enforce line length in sentence_per_line mode
  src/rules/md013_line_length.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.163
  CHANGELOG.md
  Cargo.toml
Due: none

fix(html-comments): ensure all rules ignore HTML comment content (issues #119, #20)
  Cargo.lock
  src/filtered_lines.rs
  src/lint_context.rs
  src/rules/md013_line_length.rs
  src/rules/md049_emphasis_style.rs
  tests/inline_config_blocks_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(tests): update sentence_per_line_detection test for simplified message
  tests/sentence_per_line_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs(changelog): update v0.0.163 with complete HTML comments fix and test fix
  CHANGELOG.md
Due: none

fix(ci): use gnu wheel for Ubuntu in Python package test
  .github/workflows/release.yml
Due: none

fix(ci): disable uv cache in Python package tests
  .github/workflows/release.yml
Due: none

feat(fix): automatic iteration for multi-pass fixes (partial fix for #88)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/file_processor.rs
  src/fix_coordinator.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
