Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

perf: resolve each file path once, at discovery
  src/check_runner.rs
  src/file_processor/discovery.rs
  src/file_processor/processing.rs
  src/file_processor/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(reflow): keep blank lines at the end of text passed to reflow_markdown
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): limit range formatting to the lines in the range
  src/lsp/linting.rs
  src/lsp/server.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lsp): keep trailing blank lines when trimming trailing whitespace
  src/lsp/linting.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD005): judge a list after a blockquoted list on its own
  src/lint_context/list_blocks.rs
  src/rules/md005_list_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD077): move a fenced block as a whole when it follows indented code
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): keep trailing blank lines when formatting embedded markdown
  src/embedded_lint.rs
  src/file_processor/embedded.rs
  src/file_processor/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf: read the working directory once when relativizing reported paths
  src/file_processor/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD077): leave fence-like text in indented code blocks alone
  src/rules/md077_list_continuation_indent.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD032): keep the blank line after a quoted list inside the quote
  src/rules/md032_blanks_around_lists.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(lists): keep list fixes from changing the parsed structure
  src/rules/md005_list_indent.rs
  src/rules/md007_ul_indent.rs
  src/rules/md029_ordered_list_prefix.rs
  src/rules/md030_list_marker_space.rs
  src/utils/list_fix_guard.rs
  src/utils/mod.rs
  tests/rules/md005_test.rs
  tests/rules/md007_test.rs
  tests/rules/md029_fix_test.rs
  tests/rules/md030_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: keep a file's trailing blank lines when MD018, MD020, MD022 or MD071 fix it
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md020_no_missing_space_closed_atx.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md071_blank_line_after_frontmatter.rs
  tests/rules/md018_test.rs
  tests/rules/md020_test.rs
  tests/rules/md022_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(MD032): look up list membership per line instead of scanning every list
  src/rules/md032_blanks_around_lists.rs
  tests/perf/rule_complexity_regression_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: keep each line's ending when fixing a file with mixed line endings
  Cargo.toml
  src/document_run.rs
  src/file_processor/processing.rs
  src/lib.rs
  src/lsp/linting.rs
  src/lsp/tests.rs
  src/lsp/types.rs
  src/output/formatters/json.rs
  src/stdin_processor.rs
  src/utils/line_ending.rs
  src/utils/mod.rs
  tests/cli/stdin_diff_test.rs
  tests/output/machine_format_contract_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(playground): build the playground engine from the repository at deploy time
  .github/workflows/docs.yml
  Makefile
  docs/javascripts/playground-editor.js
  web/playground/package-lock.json
  web/playground/package.json
  web/playground/src/editor.js
Due: actionlint

perf(code-block-tools): find code block line numbers with a line index
  src/code_block_tools/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(code-block-tools): wait for tool exit on a process handle instead of polling
  Cargo.toml
  src/code_block_tools/executor.rs
  src/code_block_tools/mod.rs
  src/code_block_tools/wait.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(make): stop forcing CARGO_INCREMENTAL=1 in the lint targets
  Makefile
Due: none

fix(code-block-tools): report lint tool failures at their block and honor on-error in check
  docs/code-block-tools.md
  src/code_block_tools/processor.rs
  src/file_processor/processing.rs
  src/lsp/linting.rs
  tests/integration/code_block_tools_exit_code_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): treat empty formatter output as a tool failure
  docs/code-block-tools.md
  src/code_block_tools/executor.rs
  src/code_block_tools/processor.rs
  tests/integration/code_block_tools_exit_code_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): invalidate cached results when a lint tool changes
  docs/code-block-tools.md
  src/code_block_tools/fingerprint.rs
  src/code_block_tools/mod.rs
  src/code_block_tools/processor.rs
  src/file_processor/processing.rs
  tests/integration/code_block_tools_exit_code_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): join soft breaks in MkDocs admonitions and tabs with one space
  src/rules/md013_line_length.rs
  src/utils/text_reflow.rs
  tests/rules/md013_soft_break_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): keep CJK sentences on separate lines in semantic-line-breaks mode
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/rules/md013_soft_break_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD013): add cjk-soft-break option to join CJK line breaks without a space
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/utils/text_reflow.rs
  src/utils/unicode.rs
  tests/rules/md013_soft_break_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(lsp): escape the fence markers in the fence detection doc comment
  src/lsp/completion.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(lsp): build the multibyte references test paths as the server does
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(discovery): keep matching a resolved relative base as written
  src/file_processor/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore: bump version to v0.2.78
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/getting-started/quickstart.md
  docs/global-settings.md
  docs/mdformat-comparison.md
  docs/usage/ci-cd.md
  docs/usage/pre-commit.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

test: stop git in tests from acting on the repository running the hook
  tests/cli/cli_respect_gitignore_test.rs
  tests/cli/diff_output_applies_test.rs
  tests/cli/stdin_diff_test.rs
  tests/git_command/mod.rs
  tests/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD013): add opt-in sentence-pack reflow
  docs/md013.md
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/tests.rs
  src/utils/text_reflow.rs
  tests/formats/mod.rs
  tests/formats/sentence_pack_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): use actual lazy blockquote width
  docs/md013.md
  src/rules/md013_line_length.rs
  src/utils/text_reflow.rs
  tests/formats/sentence_pack_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): integrate sentence-pack with CJK joins
  docs/md013.md
  src/utils/text_reflow.rs
  tests/formats/sentence_pack_test.rs
  tests/rules/md013_soft_break_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

ci: run criterion benches on CodSpeed
  .github/workflows/codspeed.yml
  .mise.toml
  Cargo.lock
  Cargo.toml
  Makefile
Due: cargo-lock-check, actionlint, cargo-lock-check-push

fix: lint a Rust document in --stdin-batch through its doc comments
  docs/rust-doc-comments.md
  src/stdin_batch_processor.rs
  tests/cli/cli_stdin_batch_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: refuse source-code files instead of linting them as Markdown
  docs/global-settings.md
  docs/rust-doc-comments.md
  scripts/gen_linguist_extensions.py
  src/check_runner.rs
  src/discovery.rs
  src/file_processor/discovery.rs
  src/linguist_data.rs
  src/lsp/linting.rs
  src/lsp/mod.rs
  src/lsp/server.rs
  src/lsp/tests.rs
  src/stdin_batch_processor.rs
  src/stdin_processor.rs
  tests/cli/mod.rs
  tests/cli/source_code_refused_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: read Rust doc comments only on lines that start in code
  src/doc_comment_lint.rs
  tests/cli/rust_doc_comment_fmt_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: lint piped text under the nearest config of its --stdin-filename
  docs/global-settings.md
  src/commands/check.rs
  tests/cli/check_runner_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix: address CRLF bytes in --stdin-batch JSON fix ranges
  src/stdin_batch_processor.rs
  tests/cli/cli_stdin_batch_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): apply subdirectory configs in a repository without a root config
  docs/global-settings.md
  src/commands/check.rs
  src/resolution.rs
  src/watch.rs
  tests/config/per_directory_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs: describe linting Markdown extracted from other languages
  docs/usage/cli.md
Due: rumdl
