Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

.pre-commit-config.yaml:

# Pre-commit hooks for rumdl
# Install with:
#   pre-commit install                    # Install commit hooks
#   pre-commit install --hook-type pre-push  # Install push hooks
# Run manually:
#   pre-commit run --all-files           # Run commit hooks
#   pre-commit run --hook-stage push --all-files  # Run push hooks

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test-quick
        name: cargo test (quick)
        entry: make test-pre-commit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-commit]

  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$|tests/inline_config_test\.rs$|tests/output_format_integration_tests\.rs$|tests/lsp_editor_integration_tests\.rs$|tests/utils_markdown_edge_cases\.rs$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting using rumdl itself (local binary)
  - repo: local
    hooks:
      - id: rumdl
        name: rumdl check
        entry: ./target/release/rumdl check
        language: system
        files: \.md$
        exclude: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
        pass_filenames: true
        require_serial: true

  # Pre-push hooks for comprehensive validation
  - repo: local
    hooks:
      - id: cargo-test-full
        name: cargo test (full suite)
        entry: make test-push
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-lint-full
        name: cargo clippy (all targets)
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: cargo-doc-check
        name: cargo doc (check)
        entry: cargo doc --no-deps --all-features
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
        verbose: true

fix(MD042/MD052): support simple identifiers in MkDocs auto-references
  src/utils/mkdocs_patterns.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.128
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: correctly migrate multiple disabled rules from markdownlint config
  src/markdownlint_config.rs
  tests/markdownlint_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(mkdocs): add support for PyMdown Extensions Snippets syntax (fixes #62)
  src/lint_context.rs
  src/rules/md024_no_duplicate_heading.rs
  src/rules/md052_reference_links_images.rs
  src/utils/mkdocs_snippets.rs
  src/utils/mod.rs
  src/utils/skip_context.rs
  tests/rules/mkdocs_snippets_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add MkDocs admonitions support
  src/rules/md031_blanks_around_fences.rs
  src/utils/mkdocs_admonitions.rs
  src/utils/mod.rs
  src/utils/skip_context.rs
  tests/rules/mkdocs_admonitions_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add MkDocs footnotes, tabs, and cross-references support
  src/utils/mkdocs_footnotes.rs
  src/utils/mkdocs_tabs.rs
  src/utils/mkdocstrings_refs.rs
  src/utils/mod.rs
  src/utils/skip_context.rs
  tests/rules/mkdocs_extensions_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor: improve MkDocs modules maintainability
  src/utils/mkdocs_common.rs
  src/utils/mkdocs_footnotes.rs
  src/utils/mkdocs_tabs.rs
  src/utils/mkdocs_test_utils.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: strengthen MkDocs feature validation and edge case handling
  src/utils/mkdocs_admonitions.rs
  src/utils/mkdocs_footnotes.rs
  src/utils/mkdocs_snippets.rs
  src/utils/mkdocs_tabs.rs
  src/utils/mkdocstrings_refs.rs
  tests/rules/mkdocs_edge_cases_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: make MkDocs validation lenient to detect malformed syntax
  src/utils/mkdocs_admonitions.rs
  src/utils/mkdocs_footnotes.rs
  src/utils/mkdocs_snippets.rs
  src/utils/mkdocs_tabs.rs
  src/utils/mkdocstrings_refs.rs
  tests/rules/mkdocs_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.129
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: prevent MD046 false positives on MkDocs tab content
  src/rules/md046_code_block_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: enhance MkDocs support with Critic Markup, code titles, and markdown attribute
  src/rules/md033_no_inline_html.rs
  src/rules/md040_fenced_code_language.rs
  src/utils/mkdocs_critic.rs
  src/utils/mod.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: correct MD052 snippet marker handling and MkDocs auto-reference detection
  src/rules/md052_reference_links_images.rs
  src/utils/mkdocs_patterns.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: resolve multiple rule conflicts and false positives (issues #66, #67, #68)
  src/lint_context.rs
  src/rules/md009_trailing_spaces.rs
  src/rules/md027_multiple_spaces_blockquote.rs
  src/rules/md028_no_blanks_blockquote.rs
  src/rules/md053_link_image_reference_definitions.rs
  src/utils/mkdocs_snippets.rs
  tests/rules/md009_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: resolve additional false positives and rule improvements
  src/lint_context.rs
  src/rules/md009_trailing_spaces.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md028_no_blanks_blockquote.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md052_reference_links_images.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: improve MD052 handling of IPv6 URLs with brackets
  src/rules/md052_reference_links_images.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD053): make rule warning-only, remove automatic fixes
  src/rules/md053_link_image_reference_definitions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.130
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

docs: add missing CHANGELOG entries for v0.0.128 and v0.0.129
  CHANGELOG.md
  src/rules/md046_code_block_style.rs
  tests/rules/md053_additional_test.rs
  tests/rules/md053_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD002): implement markdownlint compatibility for first-line headings
  src/rules/md002_first_heading_h1.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(MD034): support multi-line MkDocs snippet blocks
  src/rules/md034_no_bare_urls.rs
  src/utils/mkdocs_snippets.rs
  src/utils/skip_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Bump version to v0.0.131
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

test: fix MD002 tests for markdownlint compatibility
  tests/character_ranges/basic_tests.rs
  tests/rules/md002_test.rs
  tests/rules/mkdocs_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

test: fix MD002 test expectations to match correct behavior
  tests/rules/md002_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: address critical issues from comprehensive rule analysis
  src/lint_context.rs
  src/rules/list_utils.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md043_required_headings.rs
  src/rules/md047_single_trailing_newline.rs
  tests/rules/md001_test.rs
  tests/rules/md003_test.rs
  tests/rules/md011_test.rs
  tests/rules/md013_test.rs
  tests/rules/md030_test.rs
  tests/rules/md043_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: match setext underline length to heading text
  src/rules/heading_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: improve Unicode safety and line ending consistency
  src/rules/heading_utils.rs
  src/rules/list_utils.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md014_commands_show_output.rs
  src/rules/md030_list_marker_space.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/md041_first_line_heading.rs
  src/rules/md050_strong_style.rs
  src/rules/md052_reference_links_images.rs
  src/utils/fix_utils.rs
  src/utils/line_ending.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: ensure config files are loaded when using pre-commit
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs: update README to use modern 'rumdl rule' command
  README.md
Due: rumdl

feat: add document formatting capability to LSP server (fixes #72)
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: make LSP respect all rumdl configuration settings
  src/lsp/server.rs
  src/lsp/types.rs
  tests/lsp_formatting_tests.rs
  tests/lsp_integration_tests.rs
  tests/lsp_mkdocs_flavor_test.rs
  tests/lsp_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: implement LSP initialization options with consistent terminology
  src/lsp/server.rs
  src/lsp/types.rs
  tests/lsp_formatting_tests.rs
  tests/lsp_initialization_options_test.rs
  tests/lsp_integration_tests.rs
  tests/lsp_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: correct document range calculation in LSP formatting
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(lsp): add 'Fix all rumdl issues' code action for bulk fixes
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs: update CHANGELOG for v0.0.132 release
  CHANGELOG.md
Due: none

Bump version to v0.0.132
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: correct MD011 and MD013 rules to match markdownlint behavior
  src/rules/md011_no_reversed_links.rs
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
  tests/rules/md013_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat: add global configuration support (closes #74)
  Cargo.lock
  Cargo.toml
  README.md
  src/config.rs
  tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: update MD013 tests to match corrected parameter semantics
  tests/rules/md013_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix: resolve all test failures for v0.0.132 release
  src/config.rs
  src/main.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md013_line_length.rs
  src/utils/line_ending.rs
  tests/config_application_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check
