Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: mise exec -- make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: mise exec -- make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: mise exec -- cargo check --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore(npm): gitignore platform package binaries
  .gitignore
Due: none

fix(docs): Correct links at bottom of homepage
  docs/index.md
Due: rumdl

feat(MD041): add opt-in auto-fix for first-line heading rule
  docs/md041.md
  src/rules/md041_first_line_heading/md041_config.rs
  src/rules/md041_first_line_heading/mod.rs
  tests/rules/md041_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(code-block-tools): add built-in tool definitions for djlint, beautysh, tombi, and oxfmt
  docs/code-block-tools.md
  src/code_block_tools/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(code-block-tools): add on-missing-language-definition and on-missing-tool-binary options
  docs/code-block-tools.md
  rumdl.schema.json
  src/code_block_tools/config.rs
  src/code_block_tools/mod.rs
  src/code_block_tools/processor.rs
  src/file_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(docs): correct broken internal links and re-enable MD057
  .rumdl.toml
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/usage/cli.md
  docs/usage/editors.md
Due: rumdl

feat(lsp): add completion support for fenced code block languages
  src/lsp/server.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(lsp): document code block language completion feature
  docs/lsp.md
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(docs): escape brackets and HTML tags in rustdoc comments
  rumdl.schema.json
  src/cache.rs
  src/config.rs
  src/lint_context.rs
  src/output/formatters/concise.rs
  src/output/mod.rs
  src/rules/list_utils.rs
  src/rules/md042_no_empty_links.rs
  src/utils/mkdocs_patterns.rs
  src/utils/quarto_divs.rs
  src/utils/string_interner.rs
  src/workspace_index.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(code-block-tools): make embedded markdown linting opt-in (#380)
  docs/code-block-tools.md
  src/code_block_tools/mod.rs
  src/code_block_tools/processor.rs
  src/file_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.13
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  scripts/verify-release-ready.sh
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(ci): make npm binaries executable after extraction
  .github/workflows/release.yml
Due: actionlint

fix(ci): add chmod in test jobs and fix macos x64 runner
  .github/workflows/release.yml
Due: actionlint

refactor(mkdocs): unify PyMdown markup detection with span-based architecture
  src/rules/md040_fenced_code_language.rs
  src/utils/mkdocs_extensions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md032): resolve fix idempotency bug for ordered-non-1 items followed by code fences
  src/rules/md032_blanks_around_lists.rs
  tests/rules/formatter_idempotency_test.rs
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(rules): add MD074 MkDocs nav validation and MD057 absolute-links config
  docs/RULES.md
  docs/md057.md
  docs/md074.md
  src/config.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md057_existing_relative_links/md057_config.rs
  src/rules/md074_mkdocs_nav.rs
  src/rules/md074_mkdocs_nav/md074_config.rs
  src/rules/mod.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(lint-context): extract into module directory with 8 submodules
  src/lint_context.rs
  src/lint_context/element_parsers.rs
  src/lint_context/flavor_detection.rs
  src/lint_context/heading_detection.rs
  src/lint_context/line_computation.rs
  src/lint_context/link_parser.rs
  src/lint_context/list_blocks.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/lint_context/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(cli): move CheckArgs/FixMode/FailOn to cli_types module
  src/cli_types.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(cli): extract command handlers into commands/ directory
  src/cli_utils.rs
  src/commands/check.rs
  src/commands/clean.rs
  src/commands/completions.rs
  src/commands/config.rs
  src/commands/explain.rs
  src/commands/import.rs
  src/commands/init.rs
  src/commands/mod.rs
  src/commands/rule.rs
  src/commands/schema.rs
  src/commands/server.rs
  src/commands/version.rs
  src/commands/vscode.rs
  src/file_processor.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(md065): resolve fix idempotency bug for consecutive horizontal rules
  proptest-regressions/rules/formatter_proptest.txt
  src/rules/md065_blanks_around_horizontal_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(rules): add property-based tests for MD059-MD073
  tests/rules/formatter_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(config): extract into module directory with 8 submodules
  src/config.rs
  src/config/flavor.rs
  src/config/loading.rs
  src/config/mod.rs
  src/config/parsers.rs
  src/config/registry.rs
  src/config/source_tracking.rs
  src/config/tests.rs
  src/config/types.rs
  src/config/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(file-processor): extract into module directory with 3 submodules
  src/file_processor.rs
  src/file_processor/discovery.rs
  src/file_processor/embedded.rs
  src/file_processor/mod.rs
  src/file_processor/processing.rs
  src/file_processor/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

refactor(lsp): extract server.rs into configuration, completion, and linting submodules
  src/lsp/completion.rs
  src/lsp/configuration.rs
  src/lsp/linting.rs
  src/lsp/mod.rs
  src/lsp/server.rs
  src/lsp/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(mkdocs): complete MkDocs flavor extension support
  docs/flavors/mkdocs.md
  src/rules/md001_heading_increment.rs
  src/rules/md003_heading_style.rs
  src/rules/md025_single_title.rs
  src/rules/md051_link_fragments.rs
  tests/mkdocs_extensions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(mkdocs): add Python-Markdown anchor style and fix MkDocs false positives
  docs/md051.md
  src/rules/md038_no_space_in_code.rs
  src/rules/md051_link_fragments.rs
  src/utils/anchor_styles/mod.rs
  src/utils/anchor_styles/python_markdown.rs
  src/workspace_index.rs
  tests/mkdocs_extensions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(tables): preserve indentation for tables on list continuation lines
  src/rules/md055_table_pipe_style.rs
  src/rules/md060_table_format/mod.rs
  src/utils/table_utils.rs
  tests/rules/md055_test.rs
  tests/rules/md060_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(comparison): document behavioral differences from markdownlint
  docs/markdownlint-comparison.md
Due: rumdl

chore(release): prepare v0.1.14
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/RULES.md
  docs/index.md
  docs/markdownlint-comparison.md
  docs/mdformat-comparison.md
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
  rules.json
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(md057): add relative_to_docs option for absolute link validation
  docs/md057.md
  src/rules/md057_existing_relative_links.rs
  src/rules/md057_existing_relative_links/md057_config.rs
  src/rules/md074_mkdocs_nav.rs
  src/rules/mod.rs
  src/utils/mkdocs_config.rs
  src/utils/mod.rs
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(md057): add coverage for HTML fallback, query params, mixed links
  tests/rules/md057_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(release): optimize for speed instead of size
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

perf(core): zero-allocation line ending normalization and byte-level parsing
  src/file_processor/processing.rs
  src/lint_context/element_parsers.rs
  src/stdin_processor.rs
  src/utils/line_ending.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(types): reduce LineInfo memory by boxing rare struct variants
  src/lint_context/heading_detection.rs
  src/lint_context/line_computation.rs
  src/lint_context/types.rs
  src/rules/md005_list_indent.rs
  src/rules/md029_ordered_list_prefix.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(list-parser): cache debug env var and avoid cloning ListBlock
  src/lint_context/list_blocks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md034): promote regex patterns to LazyLock statics
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md044): eliminate redundant allocations and full-document scans
  src/rules/md044_proper_names.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(rules): fix remaining O(n) lookups in MD034 and MD044
  src/rules/md034_no_bare_urls.rs
  src/rules/md044_proper_names.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(md052): use pre-computed HTML comment ranges instead of per-link regex scans
  src/rules/md052_reference_links_images.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

perf(core): add O(1) line access and pre-computed line starts to LineIndex
  src/utils/range_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
