Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  cargo-lock-check: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^(Cargo\.(toml|lock)|.*\.rs)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

fix(cli): remove noisy hints from completions command
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(scripts): remove slow notable-projects check from release verification
  scripts/verify-release-ready.sh
Due: none

test(cli): update completion tests after hint removal
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD060): add loose-last-column and separate header/body alignment options
  docs/md060.md
  src/rules/md060_table_format/md060_config.rs
  src/rules/md060_table_format/mod.rs
  src/rules/mod.rs
  tests/rules/md060_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD018): skip MagicLink issue refs in MkDocs flavor
  docs/md018.md
  src/rules/md018_no_missing_space_atx.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(release): add SchemaStore update reminder when schema changes
  scripts/verify-release-ready.sh
Due: none

docs(rules): add MD073 to opt-in rules table
  docs/RULES.md
Due: rumdl

feat(release): add opt-in rules documentation check
  scripts/verify-release-ready.sh
Due: none

chore(release): prepare v0.1.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

fix(MD060): include optional keys in config schema validation
  scripts/verify-release-ready.sh
  src/rules/md060_table_format/md060_config.rs
  src/rules/md060_table_format/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(release): use valid MD073 options in config validation test
  scripts/verify-release-ready.sh
Due: none

fix(MD073): add missing indent option to config schema
  src/rules/md073_toc_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

docs(changelog): add config validation fixes for v0.1.7
  CHANGELOG.md
Due: none

docs(contributing): fix markdown formatting issues
  CONTRIBUTING.md
  docs/RULES.md
Due: rumdl

fix(MD013): prevent whitespace accumulation in sentence-per-line reflow
  src/utils/text_reflow.rs
  tests/sentence_per_line_test.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD036): add opt-in auto-fix for emphasis-as-heading
  docs/md036.md
  src/rules/md036_no_emphasis_only_first.rs
  src/rules/md036_no_emphasis_only_first/md036_config.rs
  src/rules/mod.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD033): add opt-in auto-fix for inline HTML conversion
  docs/md033.md
  src/rules/md033_no_inline_html.rs
  src/rules/md033_no_inline_html/md033_config.rs
  src/rules/md036_no_emphasis_only_first/md036_config.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD064): support inline configure-file comments
  src/rules/md064_no_multiple_consecutive_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(context): add get_effective_config helper for inline config support
  src/lint_context.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(inline-config): automatic engine-level inline config for all rules
  src/config.rs
  src/lib.rs
  src/lint_context.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
  src/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): preserve MkDocs admonition and tab content in reflow
  src/lint_context.rs
  src/rules/md013_line_length/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD013): implement indent-preserving reflow for MkDocs containers
  src/filtered_lines.rs
  src/lint_context.rs
  src/rules/md013_line_length/mod.rs
  tests/md013_mkdocs_reflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(mkdocs): add comprehensive MkDocs extension regression tests
  tests/mkdocs_extensions_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/flavors/mkdocs.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

docs(readme): add apache/lucene and Ulauncher to Used By section
  README.md
  scripts/update-used-by.py
Due: rumdl

fix(fix): respect per-file-flavor in fix coordination
  src/file_processor.rs
  src/fix_coordinator.rs
  src/stdin_processor.rs
  src/wasm.rs
  tests/cli_flavor_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD033): don't remove HTML tags that can't be converted to Markdown
  src/rules/md033_no_inline_html.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(release): prepare v0.1.9
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-lock-check, rumdl, cargo-lock-check-push

feat(wasm): add rule-specific configuration support
  src/rule_config_serde.rs
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(MD018): add Obsidian flavor support for tag syntax
  docs/md018.md
  src/config.rs
  src/main.rs
  src/rules/md018_no_missing_space_atx.rs
  tests/cli_flavor_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(MD041): skip MkDocs anchor lines in first-heading check
  docs/md041.md
  src/rules/md041_first_line_heading/mod.rs
  src/utils/mkdocs_attr_list.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(obsidian): add comprehensive Obsidian flavor support
  docs/flavors.md
  docs/flavors/obsidian.md
  docs/md038.md
  src/filtered_lines.rs
  src/lint_context.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md018_no_missing_space_atx.rs
  src/rules/md028_no_blanks_blockquote.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md038_no_space_in_code.rs
  src/rules/md044_proper_names.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md061_forbidden_terms/mod.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
  src/rules/md069_no_duplicate_list_markers.rs
  src/utils/mkdocs_attr_list.rs
  src/utils/skip_context.rs
  tests/cli_flavor_test.rs
  tests/md034_parentheses_url_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(obsidian): harden comment detection and inline skip logic
  src/filtered_lines.rs
  src/lint_context.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md049_emphasis_style.rs
  tests/md034_parentheses_url_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(obsidian): add flavor-aware extended checkbox and Dataview field support
  docs/flavors/obsidian.md
  src/rules/md011_no_reversed_links.rs
  src/rules/md064_no_multiple_consecutive_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

test(MD064): add edge case tests for indented extended checkboxes
  src/rules/md064_no_multiple_consecutive_spaces.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

feat(wasm): add Obsidian flavor support to WASM API
  src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

chore(docs): disable MD033 for docs directory
  docs/.rumdl.toml
Due: none

chore(schema): update schema with obsidian flavor
  rumdl.schema.json
Due: none

chore(release): prepare v0.1.10
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check, cargo-lock-check-push

chore(docs): update pre-commit version to v0.1.10
  README.md
Due: rumdl
