Repository rvben/rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: make lint
  language: system
  pass_filenames: false

cargo-test-quick:
  name: cargo test (quick)
  entry: make test-pre-commit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: ./target/release/rumdl check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

cargo-doc-check:
  name: cargo doc (check)
  entry: cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

perf(lint_context): pre-compute LineIndex to eliminate 46× content cloning
  src/lint_context.rs
  src/rules/md002_first_heading_h1.rs
  src/rules/md006_start_bullets.rs
  src/rules/md009_trailing_spaces.rs
  src/rules/md010_no_hard_tabs.rs
  src/rules/md011_no_reversed_links.rs
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md014_commands_show_output.rs
  src/rules/md026_no_trailing_punctuation.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md034_no_bare_urls.rs
  src/rules/md035_hr_style.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/md044_proper_names.rs
  src/rules/md048_code_fence_style.rs
  src/rules/md049_emphasis_style.rs
  src/rules/md050_strong_style.rs
  src/rules/md055_table_pipe_style.rs
  src/rules/md056_table_column_count.rs
  src/rules/md057_existing_relative_links.rs
  src/rules/md058_blanks_around_tables.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf(rules): pre-compute Jinja template ranges in LintContext
  src/lint_context.rs
  src/rules/md011_no_reversed_links.rs
  src/utils/jinja_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

perf(filtered_lines): fix catastrophic O(n²) bottleneck in line iteration
  src/filtered_lines.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.169
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Revert "perf(code_block_utils): optimize detection with cached blockquote stripping"
  src/utils/code_block_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(lint_context): strip blockquote markers when detecting code blocks
  src/lint_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs(md028): fix documentation to accurately reflect rule behavior
  docs/md028.md
Due: rumdl

feat(benchmark): add cold start performance benchmarking infrastructure
  Makefile
  README.md
  assets/benchmark.svg
  scripts/benchmark_cold_start.py
  scripts/generate_benchmark_chart.py
Due: rumdl

fix(benchmark): remove misleading x-axis label from chart
  assets/benchmark.svg
  scripts/generate_benchmark_chart.py
Due: none

fix(md053): allow backtick references with :: and spaces
  src/rules/md053_link_image_reference_definitions.rs
  tests/rules/md053_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(include): allow checking files with non-standard extensions
  src/file_processor.rs
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(md055): preserve user formatting when fixing pipe placement
  src/rules/md055_table_pipe_style.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump version to 0.0.170 and Rust to 1.91.0
  .mise.toml
  Cargo.lock
  Cargo.toml
Due: none

docs(changelog): add v0.0.170 release notes
  CHANGELOG.md
Due: none

fix(scripts): use mise exec for Rust version in verify-release-ready
  scripts/verify-release-ready.sh
Due: none

fix(hooks): use mise exec in pre-push hooks for Rust 1.91.0
  .pre-commit-config.yaml
Due: none

fix(hooks): use mise exec in all pre-commit stage hooks for Rust 1.91.0
  .pre-commit-config.yaml
Due: none

fix(clippy): address new Rust 1.91.0 clippy lints
  src/rules/md004_unordered_list_style.rs
  tests/rules/md051_performance_edge_cases_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(hooks): use mise exec for cargo-test-full in pre-push
  .pre-commit-config.yaml
Due: none

fix(lsp): Fix global config fallback when no project config found
  src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(cli): Add server config command for LSP configuration inspection
  CHANGELOG.md
  src/config.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(test): update test_type_filter_precedence for --include feature
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

test(lsp): add test for global config fallback behavior
  tests/lsp_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(lsp): accept camelCase initialization_options from LSP clients
  src/lsp/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore: bump rust-toolchain.toml to 1.91
  rust-toolchain.toml
Due: none

chore: update Rust version in README
  README.md
Due: rumdl

test(lsp): fix test assertions to match camelCase serialization
  CHANGELOG.md
  src/lsp/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

docs: update rule count to 55 for MD060 addition
  README.md
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(rules)!: change MD013 tables default to false for better UX
  src/rules/md013_line_length.rs
  src/rules/md013_line_length/md013_config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

chore(release): bump version to 0.0.171
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/rules/md059_table_format/md059_config.rs
  src/rules/md059_table_format/mod.rs
  tests/rules/md059_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(rules): add MD060 table formatting rule with markdownlint compatibility
  src/formatter.rs
  src/rules/md013_line_length.rs
  src/rules/md060_table_format/md060_config.rs
  src/rules/md060_table_format/mod.rs
  src/rules/mod.rs
  tests/markdownlint_config_test.rs
  tests/real_world_repository_tests.rs
  tests/rules/md060_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(fmt): add FixMode enum for type-safe exit code semantics
  README.md
  src/main.rs
  src/stdin_processor.rs
  tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(rules): add MD059 table formatting with single-column support
  Cargo.toml
  docs/md059.md
  src/formatter.rs
  src/rules/md058_blanks_around_tables.rs
  src/rules/md059_table_format/md059_config.rs
  src/rules/md059_table_format/mod.rs
  src/rules/mod.rs
  src/utils/table_utils.rs
  tests/rules/md059_test.rs
  tests/rules/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

fix(rules): implement full CommonMark compliance for MD053 list continuations
  src/lint_context.rs
  src/utils/code_block_utils.rs
  tests/commonmark_compliance_test.rs
  tests/lint_context_list_continuation_test.rs
  tests/rules/md053_additional_test.rs
  tests/rules/md053_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor(rules): remove MD002 and MD006 for markdownlint compatibility
  README.md
  docs/RULES.md
  docs/markdownlint-comparison.md
  docs/md002.md
  docs/md006.md
  src/config.rs
  src/formatter.rs
  src/main.rs
  src/markdownlint_config.rs
  src/rule_config.rs
  src/rules/md002_first_heading_h1.rs
  src/rules/md002_first_heading_h1/md002_config.rs
  src/rules/md006_start_bullets.rs
  src/rules/mod.rs
  tests/character_ranges/basic_tests.rs
  tests/character_ranges/extended_tests.rs
  tests/character_ranges/mod.rs
  tests/comprehensive_integration_tests.rs
  tests/html_comments_test.rs
  tests/rules/md002_test.rs
  tests/rules/md006_test.rs
  tests/rules/md006_unicode_test.rs
  tests/rules/mod.rs
  tests/rules/rule_interaction_test.rs
  tests/rules_mod_test.rs
  tests/vscode_extension_fixes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

feat(rules): add MD059 link text rule, achieving 100% markdownlint compatibility
  docs/RULES.md
  docs/markdownlint-comparison.md
  docs/md059.md
  src/rules/md059_link_text.rs
  src/rules/mod.rs
  tests/rules_mod_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check

refactor(MD059): simplify message and match markdownlint column reporting
  src/rules/md059_link_text.rs
Due: cargo-fmt, cargo-clippy, cargo-test-quick, cargo-test-full, cargo-lint-full, cargo-doc-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-quick: any of: \.rs$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
